
<div class="calltoaction">


<h2>Bet on <br>{$racetrackname} <br>Horse Racing</h2>
<h3>Get a $150 Sign Up Bonus!</h3>
{include file="/home/ah/usracing.com/smarty/templates/inc/rightcol-calltoaction-form.tpl"}
