{assign  var="button_cta" value="Bet $racetrackname Now!"} 
{assign  var="ref" value="$racetrackpath"} 



<p>Whether you are on your smartphone, tablet, laptop or home computer you can bet  on races at {$racetrackname} with BUSR, any time or any place.   Get get free money into your account with an 8% <a href="/rebates">horse betting rebate</a> on horse bets, win or lose.  For brand new members, you can enjoy <a href="/promos/cash-bonus-150">$150 Welcome Bonus</a> for trying our services.  <a href="/signup?ref={$ref}" rel="nofollow">Join </a> Today!</p>

{include file='/home/ah/allhorse/public_html/usracing/cta_button.tpl'} 