
<p> Bet at <strong>{include_php file="/home/ah/allhorse/public_html/racetracks/racetrack-name.php"}</strong> anytime, anywhere directly from your smartphone, tablet or desktop computer with <a href='/signup?ref={$ref2}'>BUSR </a>.</p>
<p>Get your action on every track from around the world with the latest odds, futures and props.</p>
<p><a href='/signup?ref={$ref2}'>Sign up now </a> and get an outstanding cash bonus up to $500!</p>