<p>Enjoy horse race betting with a <a href="/promos/cash-bonus-20">$500 bonus on your first deposit</a>, and qualify for an extra  <a href="/promos/cash-bonus-150">$150 bonus!</a></p>
<p>Earn up to an <a href="/promos/rebates">8% rebate</a> on your horse racing wagers, deposited into your account the very next day.</p>