* {
  margin: 0;
  padding: 0;
}

body {
  font: 12px verdana, arial, helvetica, sans-serif;
  color: black;
  background: white;
  text-align: center;
  line-height: 150%;
}

a {
  color: #263356;
  font-weight: bolder;
  text-decoration: none;
  border-bottom: 1px dotted #ccc;
}

a:hover {
  border: 0;
  color: white;
  background: #263356;
}

h1 {
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  color: #263356;
  font-size: 20px;
  border-bottom: 3px double #ccc;
}

h2 {
  margin: 10px 0;
  color: #263356;
  font-size: 16px;
}

p, ul, pre {
  margin: 8px 0;
}

ul {
  padding-left: 20px;
  list-style: square;
}

code {
  padding: 0 2px;
  font-size: 1.2em;
  background: #e8e8e8;
}

pre {
  border: 1px solid #263356;
  padding: 0 8px;
  font-size: 1.2em;
  background: #e8e8e8;
}

acronym {
  border-bottom: 1px dotted #ccc;
  cursor: help;
}

/** Form **/

label {
  margin: 3px 0;
  font-size: 90%;
  font-weight: bolder;
  display: block;
}

label.checkbox {
  font-weight: normal;
  display: inline;
}

span.label_required {
  color: red;
  font-size: 90%;
}

input, textarea, select {
  border: 1px solid #ccc;
  padding: 3px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  background: white;
}

input:hover, textarea:hover, select:hover {
  border: 1px solid green;
}

input:focus, textarea:focus, select:focus {
  border: 1px solid black;
}

fieldset {
  margin: 10px 0;
  padding: 10px;
  padding-top: 5px;
  border: 1px solid #ccc;
}

fieldset legend {
  font-size: 90%;
  font-weight: bolder;
}

input { width: 200px; }
input.short { width: 50px; }
input.medium { width: 150px; }
input.long { width: 320px; }

input.checkbox {
  border: 0;
  width: auto;
}

textarea {
  width: 400px;
  height: 150px;
}

textarea.short {
  height: 70px;
}


button.submit {
  margin-top: 10px;
}

span.required {
  color: red;
  font-size: 90%;
}

#formErrors {
  background: red;
  color: white;
  padding: 5px 10px;
}

#formErrors ul li {
  font-size: 90%;
}

/** Classes **/

.desc, .desc* {
  font-size: 90%;
  color: #666;
  font-style: italic;
}

.desc ul {
	list-style-type: disc;
	list-style-position: inside;
	list-style-image: none;
	padding-left: 30px;
}

.bold {
  font-weight: bolder;
}

.note {
  border: 1px solid #263356;
  padding: 0 8px;
  background: #e8e8e8;
}

/** Construction **/

#dialog {
  margin: 100px auto 0 auto;
  border: 3px solid #ccc;
  padding: 10px;
  width: 332px;
  text-align: left;
}

#error, #success {
  margin: 10px 0;
  padding: 5px 10px;
  border: 1px solid #ccc;
  clear: both;
  cursor: pointer;
  text-align: left;
}

#error {
  background: #FFB0B0;
  border-color: red;
}

#success {
  background: #90DC90;
  border-color: green;
}

/** Login dialog **/

#loginUsernameDiv, #loginPasswordDiv {
  padding-top: 1px;
}

#loginUsernameDiv {
  float: left;
  width: 170px;
}

* html #loginUsernameDiv {
  margin-top: 1px;
}

#loginPasswordDiv {
  margin-left: 170px;
}

#loginSubmit span, #forgotPasswordSubmit span {
  padding-left: 8px;
  font-size: 11px;
}

* html #loginSubmit span, * html #forgotPasswordSubmit span {
  position: relative;
  top: -4px;
}

/** Change password dialog **/

#changePasswordDiv, #repeatPasswordDiv {
  padding-top: 1px;
}

#changePasswordDiv {
  float: left;
  margin-left: 1px;
}

#repeatPasswordDiv {
  margin-left: 170px;
}