
{include file="/home/ah/allhorse/public_html/usracing/schema/web-page.tpl"}
{include file="/home/ah/allhorse/public_html/ps/schema.tpl"} {*Is this content up-to-date? -TF*}
{include file='inc/left-nav-btn.tpl'}<div id="left-nav">{include file='menus/preaknessstakes.tpl'}</div>
{include file="/home/ah/allhorse/public_html/usracing/block_preakness/block-hero.tpl"}    
{* {include file="/home/ah/allhorse/public_html/usracing/as_seen_on.tpl"} *}
{include file="/home/ah/allhorse/public_html/ps/block-countdown-new.tpl"}
{*Fix!!*}
   <section class="bs-kd bs-kd--default usr-section bs">
      <div class="container">
        <div class="bs-kd_content">
          <img src="/img/index-ps/ps.png" alt="Online Horse Betting" class="bs-kd_logo img-responsive">
          <h1 class="kd_heading">{$h1}</h1>
          <h3 class="kd_subheading">
	          {if $PS_Switch_Early}{$h2_early} 
	          {elseif $PS_Switch_Main}{$h2_main} 
	          {elseif $PS_Switch_Race_Day}{$h2_race_day}
	          {else}{$h2}{/if}
	      </h3>

<p>{include file='/home/ah/allhorse/public_html/usracing/block_preakness/sales-copy.tpl'} </p>
<p>{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}</p>
