{* literal}
<script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "Arkansas Derby",
  "startDate": "2020-05-02T17:29",
  "endDate": "2020-05-02T17:29",
  "location": {
    "@type": "EventVenue",
    "name": "Oaklawn Racing Casino Resort",
  	"address": "2705 Central Ave, Hot Springs, AR 71901",
      "image": "https://www.usracing.com//img/dubai-world-cup/2017-dubai-world-cup-betting-usracing.jpg",
    "description": "Bet on the Arkansas Derby, Arkansas Derbybets are online right now! The most Arkansas Derby Bets Anywere."
  }
    {
      "@context": "http://schema.org",
    "@type": "Offer",
        "url": "https://www.usracing.com/promos/cash-bonus-20",
        "price": "500",
        "priceCurrency": "USD",
        "availability": "https://schema.org/InStock",
        "validFrom": "2020-01-01T12:00"
    }
</script>
{/literal *}
{literal}
<script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "Arkansas Derby",
  "startDate": "2020-05-02T17:29",
  "endDate": "2020-05-02T17:29",
  "performer": {
    "@type": "PerformingGroup",
    "name": "US Racing | Online Horse Betting"
  },
  "eventAttendanceMode": "mix",
  "eventStatus": "on schedule",
  "organizer": [ {
  "name": "Oaklawn Racing Casino Resort",
  "url": "https://www.usracing.com/oaklawn-park"
  }],
  "offers": [
    {
      "@type": "Offer",
      "url": "https://www.usracing.com/promos/cash-bonus-20",
      "validFrom": "2015-10-01T00:01",
      "validThrough": "2026-01-31T23:59",
      "price": "500.00",
	  "availability": "https://schema.org/InStock",
      "priceCurrency": "USD"
    } ],
  "location": {
    "@type": "EventVenue",
    "name": "Oaklawn Racing Casino Resort",
    "telephone": "(626) 574-7223",
	"address": "2705 Central Ave, Hot Springs, AR 71901",
    "geo": {
    "@type": "GeoCoordinates",
    "latitude": "34.4840165",
    "longitude": "-93.0591678"
    }
  	}, 
    "image": "https://www.usracing.com/img/stakes/arkansas-derby/arkansas-derby-odds.png",
    "description": "Bet on the Arkansas Derby, Arkansas Derbybets are online right now! The most Arkansas Derby Bets Anywere."
  }
</script>
{/literal}