a:4:{s:8:"template";a:7:{s:16:"how-it-works.tpl";b:1;s:10:"header.tpl";b:1;s:9:"image.tpl";b:1;s:20:"subscriber-login.tpl";b:1;s:16:"imp-features.tpl";b:1;s:13:"get-touch.tpl";b:1;s:10:"footer.tpl";b:1;}s:9:"timestamp";i:1107327716;s:7:"expires";i:1107331316;s:13:"cache_serials";a:0:{}}
<html>
<head>
<title>Approveyourart.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="stylesheet/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<table width="99%" height="100%" border="0" align="center" cellpadding="1" cellspacing="0">
  <tr> 
    <td height="100%" align="left" valign="top"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
        <tr> 
          <td height="94" colspan="3" align="left" valign="top"> 
            <!--header part start -->
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr> 
<td width="50%" height="48"><img src="images/logo.gif" width="247" height="22" hspace="8"></td>
<td width="50%" align="right" valign="bottom"><img src="images/call-now-text.gif" width="258" height="18" hspace="8" vspace="4"></td>
</tr>
<tr align="center" bgcolor="#366376"> 
<td height="44" colspan="2"><table width="99%" border="0" cellspacing="0" cellpadding="7">
<tr> 
<td width="68%" align="left" class="toplink"><a href="about-us.php" class="toplink">About 
Us</a> | <a href="how-it-works.php" class="toplink">How it Works</a> 
| <a href="pricing.php" class="toplink">Pricing</a> | <a href="proof-your-work.php" class="toplink">Proof 
your Work</a> | <a href="upload-files.php" class="toplink">Upload Files</a> 
| <a href="help.php" class="toplink">Help</a></td>
<td width="32%" align="right" class="toprightlink"><a href="index.php" class="toprightlink">Home</a> 
| <a href="contact.php" class="toprightlink">Contact Us</a> | <a href="sitemap.php" class="toprightlink">Sitemap</a></td>
</tr>
</table></td>
</tr>
</table>            <!--header part end -->
          </td>
        </tr>
        <tr> 
          <td height="195" colspan="3" align="left" valign="top" bgcolor="#366376"> 
            <!--image section start -->
           <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="1">
<tr> 
<td bgcolor="#A4D3E6"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr> 
<td align="left" valign="middle"><img src="images/home-left-text.gif" hspace="1"></td>
<td align="right" valign="top"><img src="images/home-right-photo.jpg"></td>
</tr>
</table></td>
</tr>
</table>            <!--image section ends -->
          </td>
        </tr>
        <tr> 
          <td height="10" colspan="3"><img src="images/blank_image.gif" width="1" height="10"></td>
        </tr>
        <tr> 
          <td width="85%" align="left" valign="top"> <table width="99%" border="0" cellspacing="0" cellpadding="6">
              <tr> 
                <td class="headingtext"><div align="justify"> How It Works</div></td>
              </tr>
              <tr> 
                <td align="left" valign="top" class="twelvefontsize"> <p align="justify">Artwork 
                    approval is the only online solution that's easy for you and 
                    your clients with online for generation feature. <strong>Here's 
                    how it works: </strong></p>
                  <ol>
                    <li> 
                      <div align="justify"> Click to upload a PDF, JPEG proof 
                        into your online workspace. An automatic e-mail alerts 
                        your client that their proof is online. <br>
                        <br>
                      </div>
                    </li>
                    <li> 
                      <div align="justify"> Clients access proofs by entering 
                        an access code and password into a login page on your 
                        website or at artwork.com<br>
                        <br>
                      </div>
                    </li>
                    <li> 
                      <div align="justify"> Clients use simple tools to mark changes 
                        and comments on the proof, then click to set the approval 
                        status and return their review. They can also route the 
                        proof, with all of their markups, to additional reviewers. 
                        <br>
                        <br>
                      </div>
                    </li>
                    <li> You're automatically notified as soon as the proof&#8217;s 
                      status changes.<br>
                      <br>
                    </li>
                    <li> 
                      <div align="justify"> Log into your workspace to see the 
                        status of all your proofs at a glance. Click on the returned 
                        proof and see your clients' approval, along with markups, 
                        comments and an archive of all reviewed versions. </div>
                    </li>
                  </ol></td>
              </tr>
            </table></td>
          <td width="1" background="images/right-divider.gif"><img src="images/blank_image.gif" width="1" height="1"></td>
          <td width="15%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td height="1"><img src="images/blank_image.gif" width="182" height="1"></td>
              </tr>
              <tr> 
                <td align="right" valign="top"> 
                  <!--right section start -->
                  <table width="96%" border="0" cellspacing="0" cellpadding="0">
                    <tr> 
                      <td align="left" valign="top"> 
                        <!--subscriber login start -->
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td bgcolor="#CCCCCC"><table width="100%" border="0" cellspacing="1" cellpadding="3">
<tr>
<td height="30"><strong>Subscriber Login</strong></td>
</tr>
<tr>
<td align="center" bgcolor="#EAEAEA"><table width="96%" border="0" cellspacing="0" cellpadding="3">
<form action="#" method="post" name="frm1">
<tr> 
<td width="43%" class="tenfontsize"><strong>Username</strong></td>
<td width="57%" align="right"><input type="text" name="username" style="border:1px solid #cccccc; width:86px; height:20px;"></td>
</tr>
<tr> 
<td class="tenfontsize"><strong>Password</strong></td>
<td align="right"><input type="password" name="pwd" style="border:1px solid #cccccc; width:86px; height:20px;"></td>
</tr>
<tr align="left"> 
                  <td colspan="2"><a href="#">Forgot Password?</a>&nbsp;&nbsp; 
                    <input name="Submit" type="submit" class="buttonstyleblue" value="Login" style="width:42px;"></td>
</tr>
<tr>
<td colspan="2"><a href="signup.php"><strong>New 
User? Click here<br>
to register now!</strong></a></td>
</tr>
</form>
</table></td>
</tr>
</table></td>
</tr>
<tr><td height="6"><img src="images/blank_image.gif" width="1" height="6"></td></tr>
</table>                         <!--subscriber login ends -->
                        <!--Important features start -->
						<table width="100%" border="0" cellspacing="0" cellpadding="3">
<tr> 
<td height="30" bgcolor="#CCCCCC"><strong>Important 
Features</strong></td>
</tr>
<tr> 
<td>1. Seamless interface for client. </td>
</tr>
<tr> 
<td>2. Seamless interface for salesperson</td>
</tr>
<tr> 
<td>3. Seamless interface for artist.</td>
</tr>
<tr> 
<td> 4. The approveyourart.com system automatically 
records all transactions with a particular job.</td>
</tr>
<tr> 
<td>5. Customized reporting allows your company to 
track as much or as little information as you want. 
</td>
</tr>
<tr> 
<td>6. Real-time views of company wide workload.</td>
</tr>
<tr> 
<td>7. Works with all types of graphic files. </td>
</tr>
<tr> 
<td>8. Wide variety of plans. Customize a plan to 
fit your needs. </td>
</tr>
<tr> 
<td align="right"><a href="#"><strong>read more..</strong></a> 
</td>
</tr>
<tr>
<td height="1"><img src="images/blank_image.gif" width="1" height="2"></td>
</tr>
</table>                         <!--Important features ends -->
                        <!--Get in touch start -->
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
<form name="form_get_touch" action="index.php?act=gettouch" method="post">
<tr>
<td bgcolor="#F6A810"><table width="100%" border="0" cellspacing="1" cellpadding="3">
<tr>
<td align="left" valign="top" bgcolor="#ffffff"><table width="97%" border="0" align="center" cellpadding="4" cellspacing="0">
                <tr> 
                  <td><strong><font color="#F6A810">Get in touch with us!</font></strong></td>
                </tr>
                                <tr> 
                  <td><div align="justify">Please fill in the requested fields 
                      below with your requiments and we will get in touch with 
                      you soon!</div></td>
                </tr>
                <tr> 
                  <td><input name="email" type="text" id="email" style="width:158px;" value=" Enter your email"> 
                  </td>
                </tr>
                <tr> 
                  <td><textarea name="information" id="information" style="width:158px; height:50px"> Enter your query</textarea></td>
                </tr>
                <tr> 
                  <td align="right"><input name="Submit" type="submit" class="buttonstyleorange" value="Submit"></td>
                </tr>
              </table></td>
</tr>
</table></td>
</tr>
<tr><td height="10"><img src="images/blank_image.gif" width="1" height="10"></td></tr>
</form>
</table>                         <!--Get in touch ends -->
                      </td>
                    </tr>
                  </table>
                  <!--right section ends -->
                </td>
              </tr>
            </table></td>
        </tr>
        <tr bgcolor="#CCCCCC"> 
          <td height="95" colspan="3" align="left" valign="top"> 
            <!--footer part start -->
            <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="1">
<tr> 
<td align="center" bgcolor="#F1F1F1"><table width="100%" border="0" cellspacing="0" cellpadding="3">
<tr> 
<td align="center"><font color="#666666"><strong><a href="index.php" class="footer">Home</a> 
| <a href="about-us.php" class="footer">About Us</a> | <a href="how-it-works.php" class="footer">How 
it Works</a> | <a href="pricing.php" class="footer">Pricing</a> 
| <a href="proof-your-work.php" class="footer">Proof your Work</a> | <a href="upload-files.php" class="footer">Upload 
Files</a> | <a href="help.php" class="footer">Help</a> | <a href="contact.php" class="footer">Contact 
Us</a></strong></font></td>
</tr>
<tr> 
<td align="center" valign="bottom" class="copyright">copyright 
info goes here</td>
</tr>
</table></td>
</tr>
</table>            <!--footer part end -->
          </td>
        </tr>
        <tr> 
          <td height="15" colspan="3"><img src="images/blank_image.gif" width="1" height="15"></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>