/* CSS Document */

body{
background-color:#FFFFFF;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
}
.label{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#FFFFFF;
font-weight:bold;
}
.label1{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#44484D;
font-weight:bold;
}
.fieldname{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#000000;
font-weight:bold;
}
.fieldname1{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#B60000;
font-weight:bold;
}
.fieldname2{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#B60000;
font-weight:bold;
}
.field{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#000000;
font-weight:normal;
width:125px;
height:18px;
}
.field1{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#000000;
font-weight:normal;
}
.txt{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#44484D;
font-weight:normal;
}
.txt1{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#44484D;
font-weight:normal;
}
.menu{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#000000;
font-weight:normal;
text-decoration:none;
}
.menu:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#837D5B;
font-weight:normal;
text-decoration:none;
}
.submenu{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#000000;
font-weight:normal;
text-decoration:none;
}
.submenu:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#837D5B;
font-weight:normal;
text-decoration:none;
}
.submenu1{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:9px;
color:#333333;
font-weight:normal;
text-decoration:none;
}
.submenu1:hover{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:9px;
color:#666666;
font-weight:normal;
text-decoration:none;
}
.submenu2{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#333333;
font-weight:normal;
text-decoration:none;
}
.submenu2:hover{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
font-weight:normal;
text-decoration:none;
}
.border{
border:1px solid #D9D7D7; 
}
.pt{
font-family:Arial, Helvetica, sans-serif;
font-size:26px;
color:#57080B;
font-weight:bold;
}
.pt1{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
color:#969696;
font-weight:bold;
}
.txt2 {
font-family: arial, Helvetica, sans-serif; 
font-size: 12px; 
color: #0B0800; 
line-height:16px; 
font-weight:normal; 
}