    <section class="kd usr-section">
      <div class="container">
        <div class="kd_content">
          <h1 class="kd_heading">Horse Betting</h1>

          <h3 class="kd_subheading">{* With the Most Kentucky Derby Betting Options Anywhere *}Bet Now and up to {$BONUS_WELCOME} Signup Bonus and a Free Bet</h3>
<p><a href="/signup?ref={$ref}" rel="nofollow">BUSR</a> is the best site to place your bet on the   <a href="/kentucky-derby/betting"> {$KD_YEAR} Kentucky Derby</a>.  Why?  Because, all new members can get up to a <a href="/cash-bonus-20">{$BONUS_WELCOME} welcome bonus</a> and a <strong>free bet</strong>!</p>
         <p>You'll also get great <a href="/kentucky-derby/props">Kentucky Derby Props</a> found nowhere else online! Such as  head-to-head match races and will a horse lead wire-to-wire. </p>
         <p>With  more benefits and  bet choices than any other place online, what are you waiting for?</p>
         <p align="center"><a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">Bet Now on Kentucky Derby</a></p>
{if $KD_Switch_Race_Day}
        {* <p>{include_php file='/home/ah/allhorse/public_html/kd/odds.php'}</p>
<a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg">Bet Now</a> </p> *}

{else}
         <p><a href="/kentucky-derby/betting"  class="btn-xlrg">See the Latest Derby Odds</a>  
{/if}         
        </div>

      </div>

    </section>

    