</div></div></section>

{*Be sure to update common blocks as well*}
{include file="/home/ah/allhorse/public_html/usracing/block_kentucky-derby/blue-signup-bonus-kentucky-derby.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/block_kentucky-derby/block-free-bet.tpl"}
{* {include file="/home/ah/allhorse/public_html/usracing/block_kentucky-derby/block-testimonial-other.tpl"} *}
{include file="/home/ah/allhorse/public_html/usracing/block_kentucky-derby/block-trainers.tpl"}
{if $KD_Switch_Full_Site}
{else}
{include file="/home/ah/allhorse/public_html/usracing/block_kentucky-derby/block-jockeys.tpl"}
{/if}
{include file="/home/ah/allhorse/public_html/usracing/block_kentucky-derby/block-final-cta.tpl"}