{* REGULAR SEASON!!!!!!!!!
<h2>
    Online Horse Betting
</h2>
<p>
    <i>
        bet   ★ usracing
    </i>
    , currently accepting customers from {$country}, offers thoroughbred, quarter horse and
<!--     <a href="/harness-racing">
 --><a href="#">        harness racing
    </a>
    from over 200 of the world's premier racetracks including the
    <a href="/triple-crown">
        Triple Crown
    </a>
    races:  the
    <a href="/kentucky-derby/betting">
        Kentucky Derby
    </a>
    ,
    <a href="/preakness-stakes/betting">
        Preakness Stakes
    </a>
    ,
    <a href="/belmont-stakes/betting">
        Belmont Stakes
    </a>
    as well as  the
    <a href="/breeders-cup/betting">
        Breeder's Cup
    </a>
    .
</p>
<p>
    You'll get up to a
<!--     <a href="/rebates">
 --><a href="#">        8% rebate
    </a>
    on all your horse bets, win or lose, paid to your account the very next day.  Live streaming video the races is free and there are no membership fees or charges to wager on horses.
    <!-- At <i>bet    &#9733; usracing</i>, online horse betting is available via desktop computer, laptop, iPad, iPhone or Android powered devices. -->
</p>
<p>
    <a href="/signup?ref={$ref}">
        Join now
    </a>
    you can get a
<!--     <a href="/promos/10-cash-bonus">
 --><a href="#">        10% bonus
    </a>
    on your first deposit  and qualify for a
<!--     <a href="/promos/150-cash-bonus">
 --><a href="#">        $150 cash bonus
    </a>
    !
</p>
{include file="/home/ah/allhorse/public_html/usracing/states/cta_button.tpl"}

    *}



  



  {*  //KENTUCKY DERBY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*}



  

  

{*
<h2>
    Kentucky Derby Betting
</h2>
<p>
    Are you from {$country}?  Then you can place your bet on the Kentucky Derby at
    <i>
        bet   ★ usracing
    </i>
    .  They are taking customers from {$country}!
</p>
<p align="center">
    <a class="btn-xlrg " href="/signup?ref={$ref}" rel="nofollow">
        Bet the Kentucky Derby
    </a>
</p>
<p>
    {include file='/home/ah/allhorse/public_html/kd/salesblurb.tpl'}
</p>
<p>
    {include file='/home/ah/allhorse/public_html/kd/wherewhenwatch.tpl'}
</p>
*}                  

    

    

  {*
<h2>
    Kentucky Derby Betting
</h2>
<p>
    Are you from {$country}?  Then you can place your bet on the Kentucky Derby at
    <i>
        bet   ★ usracing
    </i>
    .  They are taking customers from {$country}!
</p>
<p align="center">
    <a class="btn-xlrg " href="/signup?ref={$ref}" rel="nofollow">
        Bet the Kentucky Derby
    </a>
</p>
<p>
    {include file='/home/ah/allhorse/public_html/kd/salesblurb.tpl'}
</p>
<p>
    {include file='/home/ah/allhorse/public_html/kd/wherewhenwatch.tpl'}
</p>
*}    



{*
<h2>
    Belmont Stakes Betting
</h2>
<p>
    Are you from {$country}?  Then you can place your bet on the Belmont Stakes at
    <i>
        bet   ★ usracing
    </i>
    .  They are taking customers from {$country}!
</p>
<p align="center">
    <a class="btn-xlrg " href="/signup?ref={$ref}" rel="nofollow">
        Bet the Belmont Stakes
    </a>
</p>
<p>
    {include file='/home/ah/allhorse/public_html/belmont/salesblurb.tpl'}
</p>
<p>
    {include file='/home/ah/allhorse/public_html/belmont/wherewhenwatch.tpl'}
</p>
*}
<h2>
    Online Horse Betting
</h2>
<p>
    <i>
        <a href="https://www.betusracing.ag?ref={$ref}" rel="nofollow">
            bet   ★ usracing
        </a>
    </i>
    offers over 200 of the world's top racetracks from around the world. From Harness Racing to Thoroughbred and Quarter Horse Racing to Greyhound, we have it all. Receive up to
    <a href="/promos/8percent-rebate">
        8% rebate
    </a>
    paid daily on select horse bets, win or lose.
</p>
<p>
    It is free to join and no fees are charged when you place your horse wager. Feel comfortable placing your wagers from your mobile device, tablet or desktop computer. As long as you have internet connection you can place your wagers with
    <i>
        bet   ★ usracing
    </i>
    .
</p>
<p>
    <a href="/signup?ref={$ref}">
        Join now
    </a>
    and you will receive a
    <a href="/promos/10-cash-bonus">
        10% bonus
    </a>
    on your first deposit plus qualify for a
    <a href="/promos/150-cash-bonus">
        $150 cash bonus
    </a>
    !
</p>
{include file="/home/ah/allhorse/public_html/betusracing/states/cta_button.tpl"}
