<!-- Used for week of the Dubai WC  -->

{if $ShowDubaiSalesblurb}



The Dubai World Cup is here! What a better way to enjoy the great event then with <i>bet  &#9733; usracing</i>. 

When you sign up you receive up to $500 cash bonus when you use the promo code <strong>DUBAI</strong>. Your first deposit gives you up to $500 cash bonus. Take advantage of this great offer for the Dubai World Cup along 

with all the other great horse racing action throughout the year. Who do you think will win the Dubai World Cup? 

Place your bet now! The action doesn't stop with <i>bet &#9733; usracing</i>. Join today so you can place your 

wager on the Dubai World Cup!<br>



{else}
<h2>{include_php file="/home/ah/allhorse/public_html/racetracks/racetrack-name.php"} Betting Odds</h2>
<p><b>US Racing</b> features information on the best tracks in the United States, including Churchill Downs, Belmont, Pimlico, Saratoga, Del Mar and Santa Anita. Also find international-based content from Australia, Dubai, Great Britain, Ireland and Japan.</p>
<p>Check out the race analysis, interviews, free handicapping tips and stories available at US Racing, then review our Louisiana Derby Betting Odds, and prepare to win big with <a href="/signup?ref={$ref8}">BUSR</a>!</p>
<p><a href="/signup?ref={$ref9}">Register for an account</a> and get an outstanding welcome bonus to bet on this and the rest of the amazing horse racing events available throughout the year…
 </p>
{/if}


