                <div align="center" style="padding-bottom:40px;">
                    <a href="/join?ref={$ref}">
                        <img src="/images/button_betnow_198x187_anim.gif" alt="Bet Now on The Kentucky Derby">
                    </a>
                </div>
                
                
                </div><!---content-->

            </div>
        </div>
        <!-- end middle2 -->
        {include file="menus/kd_left_menu.tpl"}
    </div>
    <!-- end twocolright-->
</section>
