<div class="box_white" >
	<!-- <div  class="boxthreecolumn" >
	 <div><img src="/images/kentuckyderby/kentucky-oaks-logo.jpg" alt="Kentucky Oaks" hspace="10" vspace="10" /> </div>
	</div>-->
	<div  class="boxmidcolumn" >
					<h2><?php include('/home/ah/allhorse/public_html/kd/year.php'); ?> Kentucky Oaks</h2>
                                <br />
                                <p>
                                	<b>Where:</b> Louisville, Kentucky at the <a href="/Churchill_Downs_Racetrack" title="Churchill Downs Racecourse">Churchill Downs Racecourse</a>
                                <br>
                                  <b>When:</b> <span style="color:#620000; font-size:14px; font-weight:bold;"> 			<?php 
				include('/home/ah/allhorse/public_html/kd/countdown_ko.php'); 
			?>
			</span>Days until the The Oaks takes place on <?php include('/home/ah/allhorse/public_html/kd/racedate_ko.php'); ?>.
                                <br>
                                 <!--  <b>Watch:</b> BRAVO
                                <br> -->
                                <strong>Wager:</strong> Our <a href="/sportsbetting/live">Kentucky
                                Oaks Future Odds</a> will be live in our <a href="/sportsbetting/live">sportsbook!</a></p>
                                <br>
                                <br>
	</div>
	<div  class="boxthreecolumn" >
		<div class="logged-in" ><a href="/horseracing/live"><img src="/images/button_betnow_198x187_anim.gif"  alt="Bet on the Belmont Stakes" border="0" ></a></div>
		<div class="logged-out" ><a href="/join" ><img src="/images/button_betnow_198x187_anim.gif"  alt="Bet on the Belmont Stakes" border="0" ></a></div>
	</div>
</div>
<div class="clear" ></div>
