<div class="box_white" >
{*
	<!-- <div  class="boxthreecolumn" >
	 <div><a href="/kentuckyderby" title="Kentucky Derby Betting" style="margin: 0 10px 10px 0;"><img src="/images/kentuckyderby/Capture.JPG" alt="Kentucky Derby Betting" title="Bet on the Kentucky Derby" hspace="2" vspace="5" border="0" align="left" /></a></div>
	</div> -->
*}
	<div  class="boxmidcolumn" >
			<h2 class="content_header"><b>Bet on the Kentucky Derby!</b></h2>
			<br />
			<b>"The most exciting two minutes in sport!"
			<br />
			Get in on all the action - </b>
			<a href="/join?ref={$ref}">join today!</a>
{*
		<!--	
			<script language="javascript">document.write((logged_in()?'<a href="/horseracing/live" title="Join Go Horse Betting">Bet today</a>!':'<a href="/join" title="Join Go Horse Betting">join today</a>!'));</script>
		-->	
*}
				
			<br />
			<br />
			<h2 class="content_header">Kentucky Derby  {$KD_YEAR}</h2>
			<b>Where:</b> Louisville, Kentucky at the <a href="/Churchill_Downs_Racetrack" title="Churchill Downs">Churchill Downs</a>
			<br />
			<b>When:</b> <span style="color:#620000; font-size:14px; font-weight:bold;">
			{include_php file='/home/ah/allhorse/public_html/kd/countdown.php'}

			</span> Days until the <a href="/kentuckyderby" title="Kentucky Derby">Kentucky Derby</a> runs on {$KD_DATE}.
			<br />
			<b>Watch:</b> See it on TV with NBC at 5:00 p.m. Eastern Time.<br />
{*
			<!-- <strong>Bet:&nbsp; Our <script language="javascript">document.write((logged_in()?'<a href="/sportsbetting/live" title="Kentucky Derby  Odds" rel="nofollow">Kentucky Derby Odds</a> ':'<a href="/kentuckyderby/odds" title="Kentucky Derby Odds" >Kentucky Derby Odds</a>'));</script> are  Live  in our Sportsbook!</strong>
			
			<br /> -->
*}

	</div>
	<div  class="boxthreecolumn">
		<div class="logged-in" ><a href="/horseracing/live"><img src="/images/button_betnow_198x187_anim.gif"  alt="Bet on the Kentucky Derby" border="0" /></a></div>
		<div class="logged-out" ><a href="/join?ref={$ref}" ><img src="/images/button_betnow_198x187_anim.gif"  alt="Bet on the Kentucky Derby" border="0" /></a></div>
	</div>
</div>
<div class="clear" ></div>

