<section class="center-standard">
    <div class="middle m-12">
        {include file="/home/ah/allhorse/public_html/gohorsebetting/block_kentucky-derby/hero.tpl"}
        {include file="content/newtemplate/secondMenu.tpl"}
        <div class="twocolmiddle left-col m-10">
            <div class="purple_mid_head">
                <h1 class="purple_heading"><a href="{$h1_link}" title="Kentucky Derby Betting">{$h1}</a></h1></div>
            <div id="middle_right_sub">
                <div class="content">
 {include file="/home/ah/allhorse/public_html/gohorsebetting/block_kentucky-derby/sales-copy.tpl"}
                   <div class="clear"></div>
                   <hr> 

