{include file="header.tpl"}
{include file="left.tpl"}
{literal}
<script language="javascript" type="text/javascript">
function search_horse()
{
document.horse_search.action="?act=search_breeders";
document.horse_search.submit();
}

</script>
{/literal}

{literal}
<script>
function check(stakes)
{ document.horse_search.action="2007_Kentucky_derby.php?act_BreedersCup=search";
document.horse_search.submit();
 
}
</script>
<style type="text/css">
.smalltext
{
width:50px;
}
.mediumtext
{
width:200px;
}
</style>
{/literal}
<!-------------------- Body Section ------------------------>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#FFFFFF"><? //include "patient_manage_top.php"; ?></td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
  <tr>
    <td height="30" width="100%" align="right" bgcolor="#FFFFFF" style="padding-left:600px;"><strong >{$paging}</strong></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F6F9FE" class="border">
      <tr>
        <td height="25" bgcolor="#0D4686" style="padding-left:10px;"><strong><font color="#FFFFFF">2007 Kentucky Derby</font></strong></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td height="25"><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#89ADD7">
          <tr>
            <td height="22"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="1">
              <tr align="center">
                <td height="22" width="10%" bgcolor="#E4EBF6"><a href="add_derby.php" class="one" >Add</a></td>
               <td width="75%" bgcolor="#FFFFFF">&nbsp;</td>
                <td width="15%" height="22" bgcolor="#FFFFFF" align="center"><a href="#"><!--<img src="images/import.gif" border="0">-->&nbsp;</a></td>
               
                
              </tr>
			  <tr align="center">
			  <td colspan="2" width="100%">
			  <table width="100%" bgcolor="#FFFFFF">
			   <form name="horse_search" method="post" action="?act_BreedersCup=search">
			  <tr>
			 
               <td height="22" width="35%" bgcolor="#FFFFFF" colspan="1"> Search by Name : <input type="text" name="search_BreedersCup" style="width:100px; " value="{$search_value}" ></td>
			   
			   <td height="22" width="65%" bgcolor="#FFFFFF" colspan="4" align="left" valign="middle"><input type="image" src="images/botton-seeresults.gif" style="width:85px; height:18px;" /> 
			     &nbsp; <strong style="padding-bottom:5px;">Total records : {$record_count}</td>
                  
				         
              </tr> 
<!-- 			  <tr>
			 
            <td height="22" width="35%" bgcolor="#FFFFFF" colspan="2">Group By Stakes : 
			     <select name="group_stakes" onchange="check(this.value)">
				 <option value="">Select Stakes</option>
			   {html_options values=$horse_stakes_group output=$horse_stakes_group selected=$group_stakes}
                  </select></td>
                  
				         
              </tr> -->
			  </form> 
			  </table>
			  </td>
			  </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="25" valign="top">
		
		<form action="" name="frmnew" method="post">
		<table width="100%" border="0" cellspacing="1" cellpadding="1">
          <tr align="center">
            <td height="40" rowspan="2" bgcolor="#0D4686"><a href="?sort_by=horse" class="seven"><font style="color:#FFFFFF;"><b>Horse</b></font></a></td>
            <td height="20" bgcolor="#0D4686" rowspan="2"><a href="?sort_by=odds" class="seven"><font style="color:#FFFFFF;"><b>Odds
               </b></font></a></td>
            <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><a href="?sort_by=jockey" class="seven"><font style="color:#FFFFFF;"><b>Jockey</b></font></a></td>
            <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>Post<