<div id="sliderPage" class="sliderPage fullWidth clearfix margin-bottom-30">
  <div id="content-slider-1" class="royalSlider rsDefault">
   <div class="rsContent">
	   <img class="rsImg" src="/img/racetracks/{$stakespath}/{$stakespath}-betting.jpg" alt="{$stakesname} Horse Betting" />
<figure class="rsCaption" data-move-effect="left" data-speed="200"> </figure>
   
   </div>
     <div  class="rsContent">
    <img class="rsImg" src="/img/racetracks/{$stakespath}/bet-on-{$stakespath}.jpg" alt="Bet on {$stakesname}"  />
        <figure class="rsCaption"> </figure>
   </div>
   <div  class="rsContent">
    
    <img class="rsImg" src="/img/racetracks/{$stakespath}/{$stakespath}-off-track-betting.jpg" alt="{$stakesname}  Off Track Betting - OTB" /><figure class="rsCaption"> </figure>
   </div>
   <div  class="rsContent">
    <img class="rsImg" src="/img/racetracks/{$stakespath}/{$stakespath}-horse-racing.jpg" alt="{$stakesname} Horse Racing" />
    <figure class="rsCaption"> </figure>
   </div>
   
   <div  class="rsContent">
    <img class="rsImg" src="/img/racetracks/{$stakespath}/{$stakespath}-otb.jpg" alt="{$stakesname} OTB" />
    <figure class="rsCaption"> </figure>
   </div>
     <div  class="rsContent">
    <img class="rsImg" src="/img/racetracks/{$stakespath}/{$stakespath}-schedule.jpg" alt="{$stakesname} Schedule " />
    <figure class="rsCaption"> </figure>
   </div>


   
  </div>
 </div>
