<ul>
<li><strong>Grade:</strong> Three-year-olds and up</li>
<li><strong>Distance:</strong> 1 mile (8 furlongs)</li>
<li><strong>Track:</strong> Turf</li>
<li><strong>Purse:</strong> $1,000,000</li>
</ul>