{include file="menus/states.tpl"}
{include file="inc/hero-states.tpl"}

    <section>
      <div class="container">
        <ul class="breadcrumb">
          <li><a href="/">BUSR</a></li>
          <li><i>{$state} Horse Racing</i></li>
        </ul>

          <article class="article">
{include file="/home/ah/allhorse/public_html/betusracing/states/marketing_inc.tpl"}
{include file="/home/ah/allhorse/public_html/betusracing/states/marketing_inc2.tpl"}

{include file="menus/other-states.tpl"}
        </article>              </div>
    </section>
{include file="/home/ah/allhorse/public_html/betusracing/call_to_action.php"}

