 <h2>Horse Racing {$state}</h2>

                    <p>Time to place your wagers with <a href="/?ref={$ref}" rel="nofollow" >BUSR</a>.  {$state} loves horse racing and so can you! Check out the latest stakes races, see up to the minute results, live betting odds, all while receiving up to an <a href="/promos/8percent-rebate">8% rebate</a> paid daily. Don't wait to experience all that BUSR has to offer, plus bet on over 200 of the world&rsquo;s best <a href="/racetracks">horse racing tracks</a>, <a href="/signup?ref={$ref}"> join today</a>!</p>

