<table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="110" background="images/header-bg.gif" style="background-position:top left; background-repeat:repeat-x; padding-bottom:31px; padding-left:30px; padding-top:28px; ">
	</td>
  </tr>
  <tr>
    <td height="1" bgcolor="#FFFFFF"><img src="images/blank.gif" alt="" title="" width="1" height="1"></td>
  </tr>
  <tr>
    <td height="14" bgcolor="#837D5B"><img src="images/blank.gif" alt="" title="" width="1" height="14"></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF"><img src="images/blank.gif" alt="" title="" width="1000" height="1"></td>
  </tr>
</table>