<ul>
<li><strong>Grade:</strong> II. Three-year-olds and up</li>
<li><strong>Distance:</strong> 1.125 miles (9 furlongs)</li>
<li><strong>Track:</strong> Dirt</li>
<li><strong>Purse:</strong> $1,000,000</li>
</ul>