<div id="sliderPage" class="sliderPage fullWidth clearfix margin-bottom-30">
  <div id="content-slider-1" class="royalSlider rsDefault">
   <div class="rsContent">
    <img class="rsImg" src="/img/racetracks/hong-kong/sha-tin-horse-racing.jpg" alt=" Sha Tin Horse Racing" />
    <figure class="rsCaption" data-move-effect="left" data-speed="200">Sha Tin in the New Territories</figure>
   
   </div>
   <div  class="rsContent">
    <img class="rsImg" src="/img/racetracks/hong-kong/happy-valley-betting.jpg" alt="Happy Valley Horse Betting"  />
    <figure class="rsCaption">Happy Valley Racecourse </figure>
   </div>
   <div  class="rsContent">
    <img class="rsImg" src="/img/racetracks/hong-kong/hong-kong-racing-st.jpg" alt="Hong Kong Horse Racing" />
    <figure class="rsCaption">Sha Tin's Retractable Dome </figure>
   </div>
   
   <div  class="rsContent">
    <img class="rsImg" src="/img/racetracks/hong-kong/sha-tin-horse-betting.jpg" alt="Sha Tin Horse Betting " />
    <figure class="rsCaption"> Bet on the Hong Kong Derby</figure>
   </div>
     <div  class="rsContent">
    <img class="rsImg" src="/img/racetracks/hong-kong/happy-valley-horse-racing.jpg" alt=" Happy Valley Horse Racing" />
    <figure class="rsCaption"> </figure>
   </div>

     <div  class="rsContent">
    <img class="rsImg" src="/img/racetracks/hong-kong/hong-kong-jockey-club-hv.jpg" alt=" Hong Kong Jockey Club" />
    <figure class="rsCaption">Hong Kong Jockey Club</figure>
   </div>
       
   
   
   
   
   
  </div>
 </div>
