
/** autoCompleter **/
.autoCompleter .selected {
	background-color: #8888FF;
	
}
.autoCompleter * {
	padding: 0 20px;
}
.autoCompleter {
	border: 1px solid #8888FF;
	background-color: white;
}

.dash-expander {
	height:16px;
	width:16px;
	cursor:pointer;
}

.project-replace {
	display: none;	
}
/** /autoCompleter **/

.ico-reporting {
	background-image: url(../../images/16x16/reporting.png) !important;
}

.ico-template {
	background-image: url(../../images/16x16/template.png) !important;
}

.ico-account {
	background-image: url(../../images/16x16/account.png);
}
.ico-add {
	background-image: url(../../images/16x16/add.png) !important;
}
.ico-addtag {
	background-image: url(../../images/16x16/tags.png) !important;
}
.ico-administration {
	background-image: url(../../images/16x16/administration.png);
}
.ico-attachment {
	background-image: url(../../images/16x16/attach.png) !important;
}
.ico-sent {
	background-image: url(../../images/16x16/mail_send.png) !important;
}
.ico-reply {
	background-image: url(../../images/16x16/mail_reply.png) !important;
}
.ico-back {
	background-image: url(../../images/16x16/back.png) !important;
}
.ico-chart {
	background-image: url(../../images/16x16/chart.png) !important;
}
.ico-checkin {
	background-image: url(../../images/16x16/checkin.png) !important;
}
.ico-checkout {
	background-image: url(../../images/16x16/checkout.png) !important;
}
.ico-classify {
	background-image: url(../../images/16x16/classify.png) !important;
}
.ico-unclassify {
	background-image: url(../../images/16x16/unclassify.png) !important;
}
.ico-complete {
	background-image: url(../../images/16x16/complete.png) !important;
}
.ico-reopen {
	background-image: url(../../images/16x16/reopen.png) !important;
}
.ico-contact {
	background-image: url(../../images/16x16/contacts.png) !important;
}
.ico-company {
	background-image: url(../../images/16x16/company.png) !important;
}
.ico-dash-expanded {
	background-image: url(../../images/16x16/dash_expanded.png) !important;
}
.ico-dash-collapsed {
	background-image: url(../../images/16x16/dash_collapsed.png) !important;
}
.ico-delete {
	background-image: url(../../images/16x16/del.png) !important;
}
.ico-doc {
	background-image: url(../../images/16x16/doc.png) !important;
}
.ico-download {
	background-image: url(../../images/16x16/download.png) !important;
}
.ico-edit {
	background-image: url(../../images/16x16/new.png) !important;
}
.ico-email, .ico-emails {
	background-image: url(../../images/16x16/email.png) !important;
}
.ico-check_mails {
	background-image: url(../../images/16x16/mail_receive.png) !important;
}
.ico-reply-all {
	background-image: url(../../images/16x16/mail_replayall.png) !important;
}
.ico-forward {
	background-image: url(../../images/16x16/mail_forward.png) !important;
}
.ico-mail-mark-unread {
	background-image: url(../../images/16x16/mail_mark_unread.png) !important;
}
.ico-mail-mark-read {
	background-image: url(../../images/16x16/mail_mark_read.png) !important;
}

.ico-email_menu {
	background-image: url(../../images/16x16/email.png) !important;
}
.ico-empty {
	background-image: url(../../images/s.gif) !important;
}
.ico-event, .ico-events {
	background-image: url(../../images/16x16/calendar.png) !important;
}
.ico-calendar-month {
	background-image: url(../../images/16x16/view_calendar_month.png) !important;
}
.ico-calendar-week {
	background-image: url(../../images/16x16/view_calendar_week.png) !important;
}
.ico-file_revision {
	background-image: url(../../images/16x16/types/file.png) !important;
}
.ico-help {
	background-image: url(../../images/16x16/help.png);
}
.ico-hide_messages {
	background-image: url(../../images/16x16/hide_messages.png) !important;
}
.ico-large-backup {
	background-image: url(../../images/48x48/backup.png);
}
.ico-large-billing {
	background-image: url(../../images/48x48/billing.png);
}
.ico-large-configuration {
	background-image: url(../../images/48x48/configuration.png);
}
.ico-large-custom-properties {
	background-image: url(../../images/48x48/custom_properties.png);
}
.ico-large-group {
	background-image: url(../../images/48x48/groups.png);
}
.ico-large-tools {
	background-image: url(../../images/48x48/tools.png);
}
.ico-large-upgrade {
	background-image: url(../../images/48x48/upgrade.png);
}
.ico-large-cron {
	background-image: url(../../images/48x48/cron.png);
}
.ico-large-workspace {
	background-image: url(../../images/48x48/workspace.png);
}
.ico-locked {
	background-image: url(../../images/16x16/locked.png) !important;
}
.ico-message {
	background-image: url(../../images/16x16/message.png) !important;
}
.ico-comment {
	background-image: url(../../images/16x16/comment.png) !important;
}
.ico-milestone, .ico-milestones {
	background-image: url(../../images/16x16/milestone.png) !important;
}
.ico-more {
	background-image: url(../../images/16x16/more.png) !important;
}
.ico-new {
	background-image: url(../../images/16x16/new.png) !important;
}
.ico-copy {
	background-image: url(../../images/16x16/copy.png) !important;
}
.ico-password {
	background-image: url(../../images/16x16/password.png) !important;
}
.ico-permissions {
	background-image: url(../../images/16x16/permissions.png) !important;
}
.ico-picture {
	background-image: url(../../images/16x16/picture.png) !important;
}
.ico-properties {
	background-image: url(../../images/16x16/properties.png) !important;
}
.ico-prsn {
	background-image: url(../../images/16x16/prsn.png) !important;
}
.ico-refresh {
	background-image: url(../../images/16x16/refresh.png) !important;
}
.ico-rename {
	background-image: url(../../images/16x16/rename.png) !important;
}
.ico-restore {
	background-image: url(../../images/16x16/undo.png) !important;
}
.ico-revisions {
	background-image: url(../../images/16x16/revisions.png) !important;
}
.ico-search {
	background-image: url(../../images/16x16/search.png);
}
.ico-slideshow {
	background-image: url(../../images/16x16/slideshow.png) !important;
}
.ico-sprd {
	background-image: url(../../images/16x16/sprd.png) !important;
}
.ico-tag {
	background-image: url(../../images/16x16/tags.png) !important;
}
.ico-task {
	background-image: url(../../images/16x16/tasks.png) !important;
}
.ico-task-high-priority {
	background-image: url(../../images/16x16/task-high.png) !important;
}
.ico-task-low-priority {
	background-image: url(../../images/16x16/task-low.png) !important;
}
.ico-time {
	background-image: url(../../images/16x16/time.png) !important;
}
.ico-time-pause {
	background-image: url(../../images/16x16/time_pause.png) !important;
}
.ico-time-play {
	background-image: url(../../images/16x16/time_play.png) !important;
}
.ico-time-stop {
	background-image: url(../../images/16x16/time_stop.png) !important;
}
.ico-trash {
	background-image: url(../../images/16x16/trash.png) !important;
}
.ico-undo {
	background-image: url(../../images/16x16/undo.png) !important;
}
.ico-unlocked {
	background-image: url(../../images/16x16/unlocked.png) !important;
}
.ico-upload {
	background-image: url(../../images/16x16/upload.png) !important;
}
.ico-view_options {
	background-image: url(../../images/16x16/view.png) !important;
}
.ico-history {
	background-image: url(../../images/16x16/history.png) !important;
}
.ico-view-as-dashboard {
	background-image: url(../../images/16x16/view_as_db.png) !important; 
}
.ico-warning32 {
	background-image: url(../../images/32x32/warning.png) !important; 
}
.ico-workspace {
	background-image: url(../../images/16x16/workspace.png) !important;
}
.ico-workspaces-expand {
	background-image: url(../../images/12x12/expand.png) !important;
	padding-left: 15px !important;
	background-repeat:no-repeat;
	cursor:pointer;
}
.ico-workspaces-collapse {
	background-image: url(../../images/12x12/collapse.png) !important;
	padding-left: 13px;
	background-position: 0 1px;
	background-repeat:no-repeat;
	cursor:pointer;
}
.ico-today {
	background-image: url(../../images/16x16/today.png) !important;
}
.ico-prevmonth {
	background-image: url(../../images/16x16/prevmonth.png) !important;
}
.ico-nextmonth {
	background-image: url(../../images/16x16/nextmonth.png) !important;
}
.ico-phone {
	background-image: url(../../images/16x16/phone.png) !important;
}
.ico-fax {
	background-image: url(../../images/16x16/fax.png) !important;
}
.ico-template-task {
	background-image: url(../../images/16x16/tasks.png) !important;
}
.ico-template-milestone {
	background-image: url(../../images/16x16/milestone.png) !important;
}
.ico-print {
	background-image: url(../../images/16x16/print.png) !important;
}
.ico-sort-alphabetical {
	background-image: url(../../images/16x16/sort_abc.png) !important;
}
.ico-sort-count {
	background-image: url(../../images/16x16/sort_321.png) !important;
}
.ico-sort-asc {
	background-image: url(../../images/16x16/sort_asc.png) !important;
}
.ico-sort-desc {
	background-image: url(../../images/16x16/sort_desc.png) !important;
}
.ico-colorremember {
	background-image: url(../../images/16x16/remember.png) !important;
}
.ico-zip-extract {
	background-image: url(../../images/16x16/zip-extract.png) !important;
}
.ico-zip-add {
	background-image: url(../../images/16x16/zip-add.png) !important;
}
.ico-share {
	background-image: url(../../images/16x16/share.png) !important;
}
.ico-up {
	background-image: url(../../images/16x16/up.png);
}
.ico-down {
	background-image: url(../../images/16x16/down.png);
}
.ico-rss {
	background-image: url(../../images/16x16/rss.png) !important;
}
.ico-open-link {
	background-image: url(../../images/16x16/openlink.png) !important;
}

.link-ico {
	height: 16px;
	background-repeat: no-repeat;
	padding-left:20px;
	padding-top:1px;
	padding-bottom:1px;
}

.clico {
	width: 16px;
	height: 16px;
	cursor: pointer;
	background-repeat: no-repeat;
}

.db-ico {
	height: 16px;
	width: 16px;
	background-repeat: no-repeat;
}

.board-ico {
	height: 18px;
	width: 18px;
	background-repeat: no-repeat;
	background-position: 2px 2px;
}

.x-grid3-col-icon {
	padding: 1px 3px;
}

.x-tab-strip-active {
	cursor: pointer !important;
}
.x-tab-strip-active * {
	cursor: pointer !important;
}
.ws-color-chooser, .ws-color-chooser-selected {
	cursor: pointer;
	margin-left: 3px;
}
.ws-color-chooser {
	border: 2px solid transparent;
}
.ws-color-chooser-selected {
	border: 2px solid deepskyblue;
}
.x-grid3-scroller .inner-message {
	position: absolute;
	width: 100%;
	padding-top: 10px;
	color: #777777;
	font-size: 14px;
	text-align: center;
}

.subwscrumbs {
	font-weight: bold;
	padding-bottom:2px;
}

.og-wscont {
	/*border:1px solid;	*/
}

.og-wsname {
	color: #777777;
	font-size: 9px;
	padding-left:1px;
	padding-right:1px;
}

.og-wsname-color-0 {
	border-color: #777777;
	color: #777777;
}

.og-wsname-color-1 {
	color: #DEE5F2;
	background-color: #5A6986;
	border-color: #5A6986;
}

.og-wsname-color-2 {
	color: #E0ECFF;
	background-color: #206CE1;
	border-color: #206CE1;
}

.og-wsname-color-3 {
	color: #DFE2FF;
	background-color: #0000CC;
	border-color: #0000CC;
}

.og-wsname-color-4 {
	color: #E0D5F9;
	background-color: #5229A3;
	border-color: #5229A3;
}

.og-wsname-color-5 {
	color: #FDE9F4;
	background-color: #854F61;
	border-color: #854F61;
}

.og-wsname-color-6 {
	color: #FFE3E3;
	background-color: #CC0000;
	border-color: #CC0000;
}

.og-wsname-color-7 {
	color: #FFF0E1;
	background-color: #EC7000;
	border-color: #EC7000;
}

.og-wsname-color-8 {
	color: #FADCB3;
	background-color: #B36D00;
	border-color: #B36D00;
}

.og-wsname-color-9 {
	color: #F3E7B3;
	background-color: #AB8B00;
	border-color: #AB8B00;
}

.og-wsname-color-10 {
	color: #FFFFD4;
	background-color: #636330;
	border-color: #636330;
}

.og-wsname-color-11 {
	color: #F9FFEF;
	background-color: #64992C;
	border-color: #64992C;
}

.og-wsname-color-12 {
	color: #F1F5EC;
	background-color: #006633;
	border-color: #006633;
}

.og-wsname-color-13 {
	color: #5A6986;
	background-color: #DEE5F2;
	border-color: #5A6986;
}

.og-wsname-color-14 {
	color: #206CE1;
	background-color: #E0ECFF;
	border-color: #206CE1;
}

.og-wsname-color-15 {
	color: #0000CC;
	background-color: #DFE2FF;
	border-color: #0000CC;
}

.og-wsname-color-16 {
	color: #5229A3;
	background-color: #E0D5F9;
	border-color: #5229A3;
}

.og-wsname-color-17 {
	color: #854F61;
	background-color: #FDE9F4;
	border-color: #854F61;
}

.og-wsname-color-18 {
	color: #CC0000;
	background-color: #FFE3E3;
	border-color: #CC0000;
}

.og-wsname-color-19 {
	color: #EC7000;
	background-color: #FFF0E1;
	border-color: #EC7000;
}

.og-wsname-color-20 {
	color: #B36D00;
	background-color: #FADCB3;
	border-color: #B36D00;
}

.og-wsname-color-21 {
	color: #AB8B00;
	background-color: #F3E7B3;
	border-color: #AB8B00;
}

.og-wsname-color-22 {
	color: #636330;
	background-color: #FFFFD4;
	border-color: #636330;
}

.og-wsname-color-23 {
	color: #64992C;
	background-color: #F9FFEF;
	border-color: #64992C;
}

.og-wsname-color-24 {
	color: #006633;
	background-color: #F1F5EC;
	border-color: #006633;
}


/** wschooser **/
.og-wschooser th {
	background-color: transparent;
	font-weight: bold;
}
.og-wschooser table * {
	padding: 5px;
}
.og-wschooser table {
	width: 400px;
}
.og-wschooser select {
	width: 100%;
	height: 200px;
}
.og-wschooser .wschooser-from {
	width: 49%;
}
.og-wschooser .wschooser-to {
	width: 49%;
}
.og-wschooser .wschooser-buttons {
	width: 2%;
	vertical-align: middle;
	text-align: center;
}
/** /wschooser **/

/** tasks **/
.og-tasks-container {
	background-color: white;
	border: 1px solid #AAA;
}
.og-tasks-actions {
	font-weight: bolder;
	color: white;
	background-color: #717FA1;
	padding: 5px;
  	border-color: #455678;
}
.og-task-table-filter {
	wdth: 100%;
}
.og-task-table-filter > tbody > tr > td {
	padding-left: 10px;
	white-space: nowrap;
}

.og-timeslot-work-started{
	line-height:22px;
	padding-left:28px;
	background-image: url(../../images/22x22/chronometer.png) !important;
	background-repeat:no-repeat;
	font-weight:bold;
}
.og-timeslot-work-paused{
	line-height:22px;
	padding-left:28px;
	background-image: url(../../images/22x22/chronometer_pause.png) !important;
	background-repeat:no-repeat;
	font-weight:bold;
}
.scrollable-menu {
	max-height: 300px;
	overflow: auto;
}
/** /tasks **/



.og-ico {
	background-repeat: no-repeat;
	padding-left: 20px;
}

#x-form-el-remember {
	width: 130px !important;
}


.adminMainBlock th {
	padding:2px 5px;
	font-size:100%;
	font-weight:bolder;
	background-color:#D7E5F5;
}
.adminMainBlock .altRow {
	background-color:#F4F8F9;
}

.list-action {
	margin-left: 6px;
}


/* Workspace selector ------------------------*/
.og-ws-selector-header{
	background:#FFFFFF url(../../extjs/images/default/form/text-bg.gif) repeat-x scroll 0 0;
	height:20px;
	border:1px solid #B5B8C8;
	min-width:120px;
}

.og-ws-selector-header:hover{
	border:1px solid deepskyblue;
}

.og-ws-selector-input{
	cursor:pointer;
	padding-right:10px !important;
}

.og-ws-selector-arrow:hover{
	background-position:-17px 0;
}


select.select_milestone, select.select_task_list, select.select_message {
  width: 250px;
}

.options {
  margin: 10px 0 0 0;
}

.iemenulist {
  background:transparent;
  border:0 none;
  height: expression( this.scrollHeight > 300 ? "300px" : "auto" ); 
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
