<p>
The <strong>Florida Derby Stakes</strong>, held annually at <a title="Gulfstream Park" href="/gulfstream-park"><strong>Gulfstream Park</strong></a>, is one of the preparatory races for 3-year-olds running for the <a title="Kentucky Derby" href="/kentucky-derby/odds"><strong>Kentucky Derby</strong></a>. The <strong>Florida Derby</strong>, along with the Blue Grass Stakes, Wood Memorial, and Santa Anita have been one of the most anticipated prep races for the <a title="Kentucky Derby" href="/kentucky-derby/odds"><strong>Kentucky Derby</strong></a> throughout the race's history. A total of fifteen winners of the <strong>Florida Derby</strong> have gone on to win the <a title="Kentucky Derby" href="/kentucky-derby/odds"><strong>Kentucky Derby</strong></a>, including Orb, Big Brown, Barbaro and Northern Dancer at <a title="Churchill Downs" href="/churchill-downs"><strong>Churchill Downs</strong></a>.
</p>

<p><a href='/signup?ref={$ref2}'>Bet on the <strong> Florida Derby</strong></a> at <a href='/signup?ref={$ref3}'>BUSR </a> and <a href='/signup?ref={$ref4}'>start winning</a> right now!</p>