<h2>Florida Derby Betting | Quick History</h2>
        <p>The <strong>Florida Derby</strong> debuted at <a title="Gulfstream Park" href="/gulfstream-park"><strong>Gulfstream Park</strong></a> in 1952, as the race track expanded. The next year the derby purse was raised to $100,000 making it the first stakes event so richly endowed in the Sunshine State.
        <br>It was in 1957, in a historic race where Gen. Duke equaled the world record 1:46.80 and defeating Bold Ruler, that the <strong>Florida Derby</strong> was established as a major stepping stone to the <a title="Kentucky Derby" href="/kentucky-derby/odds"><strong>Kentucky Derby</strong></a> and the <a title="Triple Crown" href="/bet-on/triple-crown"><strong>Triple Crown</strong></a> trail.</p>
<p>The prep race continued to amass popularity over the next few years, and this rise in public acceptance also led to a significant increase in the race's purse.</p>
<p>Since 2013, this race has been part of the official <strong>Road to the Kentucky Derby</strong>.</p>