/* CSS Document */
body {
/*background-color:#FFCC00;*/
}

.tabclass
{
	background-image: url(../images/backgroundlower.png);
	width: 500px;
	/*background-image: url(../images/header2_noindex.gif);*/
	background-repeat:no-repeat;
	/*float:left;*/
	height:525px;
	padding-left:10px;
}

.col1
{
float:left;
background-image: url(../images/overlay.png);
width:160px;
height:515px;
margin-left:2px;
/*background-color:#0000FF;*/
}
.col2
{
float:left;
width:160px;
background-image: url(../images/overlay.png);
height:515px;
margin-left:2px;
}
.col3
{
float:left;
width:160px;
background-image: url(../images/overlay.png);
height:515px;
margin-left:2px;
}
.mainsport
{
	/*border:1px solid #666666;*/
}
.promo
{
	/*border:1px solid #666666;*/
	background-color:#FFFF33
}
div.sport {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color:#000000;
	/*border: 1px solid #666666;*/
	padding:1px;
}
div.sport a{
	color: #000000;
	text-decoration: none;
}
div.sport a:hover{
	color: #000000;
	text-decoration: underline;
}
div.note {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-style:italic;
	color:#000000;
	/*border: 1px solid #666666;*/
	padding:1px;
}

.sportshot {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.sportshot a:hover {
	text-decoration: underline;
	color:#990000;

}

.sportshot a:link {
	text-decoration: none;
	color: #990000;
}

.sportshot a:visited {
	text-decoration: none;
	color: #990000;
}


.sportsheader {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	border-style: solid;
	border-width: 1;
	border-color: #000000;
	background-color: #000000;
}

.sportsheaderhot {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #5B2FB5;
	border-style:solid
	outline-color: #000000;
	border-width: 1px;
}
.LinksCopy {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10.25px;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	color: #333366;
	text-decoration: none;
	padding-left: 3px;
	margin-left: 0px;
	left: 0px;
	border-color: #00CC33;
}
.groupTitlePromo {  text-decoration: none; background-color:#004898;  
		font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	padding:2px;
	/*border-style: solid;
	border-width: 1;
	border-color: #000000;
	*/
	 }
	 div.sportspromo {
		font-size: 11px;
		font-family: Arial, Helvetica, sans-serif;
		text-decoration: none;
		padding:1px;
		}
		div.sportspromo a {
			color: #000000;
			text-decoration:none;
				}
		div.sportspromo a:hover {
			color: #000000;
			text-decoration: underline;
				}
		div.sportspromo a:link {
			color:#000000;
			text-decoration: none;
		}
		div.sportspromo a:visited {
			color: #000000;
			text-decoration: none;
			}
		#dhtmlgoodies_tooltip{
		background-color:#E0E0E0;
		border:1px solid #000;
		position:absolute;
		display:none;
		z-index:20000;
		padding:2px;
		font-size:0.6em;
		font-style:italic;
		-moz-border-radius:6px;	/* Rounded edges in Firefox */
		/*font-family: "Trebuchet MS", "Lucida Sans Unicode", Arial, sans-serif;*/
		
	}
	#dhtmlgoodies_tooltipShadow{
		position:absolute;
		background-color:#555;
		display:none;
		z-index:10000;
		opacity:0.7;
		filter:alpha(opacity=70);
		-khtml-opacity: 0.7;
		-moz-opacity: 0.7;
		-moz-border-radius:6px;	/* Rounded edges in Firefox */
	}

