/* CSS Document */
#tabsport
	{
	background-image: url(../images/bg.png);
	width: 975px;
	/*background-image: url(../images/header2_noindex.gif);*/
	background-repeat:repeat;	
	float:left;
	height:20px;
	border:0;
	
	}

.tabcell
{
/*width:100px;*/
color:#000000;
text-align:center;
font:Arial;
_font:Arial;
font-family:Arial, Helvetica, sans-serif;
_font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
float:left;
font-size:12px;
margin-top:2px;
padding-left:15px;
padding-right:15px;
}
div.tabcell a
{
color:#000000;
font:Arial;
text-decoration:none;
}
div.tabcell a:hover
{
color:#000000;
font:Arial;
text-decoration:none;
}
.divider
{
float:left;
width:1px;
padding-top:1px;
margin-top:1px;
}
