{* {if $ShowPegasusOddS}

<!-- ON Pegasus -->
BUSR and the Pegasus World Cup are a great combination. When you sign up you can receive up to
$625 in cash bonus. Use the promocode <strong>PEGASUS</strong> when you make your deposit and receive an extra 25% cash
up to $625. Take advantage of this great offer for the Pegasus World Cup. Who is going to win the Pegasus World Cup?
Place your bet now! The action doesn't stop with BUSR. Join today so you can place your wager on
the Pegasus World Cup! <br>
<br>

{else}

<!-- After Pegasus -->
BUSR and the Pegasus World Cup are a great combination. When you sign up you receive a 10% cash
bonus. Take advantage of this great offer for the Pegasus World Cup along with all the other great horse racing action
throughout the year. Who do you think will win the Pegasus World Cup? Place your bet now! The action doesn't stop with
BUSR. Join today so you can place your wager on the Pegasus World Cup!

BUSR
{/if} *}


{* BUSR and the Pegasus World Cup are a great combination. When you sign up you will receive a cash bonus up to $500. Take advantage of this great offer for the Pegasus World Cup along with all the other great horse racing action throughout the year. 
Who do you think will win the Pegasus World Cup? Place your bet now! The action doesn't stop with bet★usracing. Join today so you can place your wager on the Pegasus World Cup! *}

US Racing and the Pegasus World Cup Invitational at Gulfstream Park are a great combination. Enhance your picks and plays on Pegasus World Cup with the latest available odds, props, and futures for this race. 
<br>
Before placing your Pegasus World Cup future bets, find out everything there is to know about the top contenders with US Racing.