{* {if $ShowPegasusOddS}

<!-- ON Pegasus -->
BUSR and the Pegasus World Cup are a great combination. When you sign up you can receive up to
$625 in cash bonus. Use the promocode <strong>PEGASUS</strong> when you make your deposit and receive an extra 25% cash
up to $625. Take advantage of this great offer for the Pegasus World Cup. Who is going to win the Pegasus World Cup?
Place your bet now! The action doesn't stop with BUSR. Join today so you can place your wager on
the Pegasus World Cup! <br>
<br>

{else}

<!-- After Pegasus -->
BUSR and the Pegasus World Cup are a great combination. When you sign up you receive a 10% cash
bonus. Take advantage of this great offer for the Pegasus World Cup along with all the other great horse racing action
throughout the year. Who do you think will win the Pegasus World Cup? Place your bet now! The action doesn't stop with
BUSR. Join today so you can place your wager on the Pegasus World Cup!


{/if} *}
{* <h3 class="kd_subheading">The Most Pegasus World Cup Betting Options, Anywhere!</h3>
<p>BUSR is the best place to bet on the Pegasus World Cup. The latest Pegasus World Cup Odds are live.

You'll also get great fixed odds with amazing payouts on the leading Pegasus World Cup horses.</p> *}

<p>Looking to find out who were the winners of the previous Pegasus World Cup? Take a look below. <br>At US Racing you can find the latest available odds for the Pegasus World Cup.</p>
<p>Check the <a href="/pegasus-world-cup/odds">Pegasus World Cup Odds</a>, watch and win!</p>
