{literal}
<script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "Kentucky Derby",
  "startDate": "2019-05-04T15:30",
  "endDate": "2019-05-04T18:30",
  "location": {
    "@type": "EventVenue",
    "name": "Churchill Downs",
    "telephone": "(502) 636-4400",
	"address": "700 Central Ave, Louisville, KY 40208",
    "geo": {
    "@type": "GeoCoordinates",
    "latitude": "38.19",
    "longitude": "85.45"
    }
  	}, 
    "image": "https://www.usracing.com//img/dubai-world-cup/2017-dubai-world-cup-betting-usracing.jpg",
    "description": "Bet on the Kentucky Derby, Kentucky Derby bets are online right now! The most Kentucky Derby Bets Anywere."
  }
</script>


     <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Table",
      "about": "Kentucky Derby Purse Structure"
    }
    </script>

     <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Table",
      "about": "Saturday, May 4th, 2019 KENTUCKY DERBY DAY Race Schedule"
    }
    </script>

{/literal}