 <h3 style="font-size:32px;">Where to Bet the {$race} from {$state}?</h3>
 <p style="margin-bottom:5px;"> You can bet on the {$race} from {$state} with <a href="/signup?ref={$ref}" rel="nofollow">BUSR.com</a>. Sign up now and get a {$BONUS_WELCOME} Welcome Bonus and a free bet! Simply open your account, make your deposit, your bonus of 20% (up to {$BONUS_WELCOME}) will be added and place your bets.</p> 

 <h3 style="font-size:32px;">How to Bet the {$race} from {$state}?</h3>
 <p style="margin-bottom:5px;"> BUSR is the best place for you to bet on the {$race} in {$state}. Now you can bet from your computer or mobile device at <a href="/signup?ref={$ref}" rel="nofollow"> BUSR.com.</a> Sign up now and get a {$BONUS_WELCOME} Welcome Bonus.</p>