<div class="calltoaction">
 </h2> 
  <h2>Off Track Betting From {$state}</h2>  
  {* <h2>Bet on the<br>Kentucky Derby<br> from {$state}!</h2>  *}
     {* <h2>Bet on the<br>Belmont Stakes<br> from {$state}!</h2>  *}
<h3>Sign Up Now to <br>  Place Your Bets.</h3>

{include file="/home/ah/usracing.com/smarty/templates/inc/rightcol-calltoaction-form.tpl"}
