{if $PG_Switch} 

	<!-- Please add the options here --> 

{/if}



{if $DB_Switch} 

	<!-- Please add the options here --> 

{/if}



{if $KD_Switch}

	   <h2>Kentucky Derby Betting</h2>

        <p>Are you from {$state}?  Then you can place your bet on the Kentucky Derby at BUSR.  

        They are taking customers from the great state of {$state}! </p>

                    

        <p align="center"><a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">Bet the Kentucky Derby</a></p>  

	   <p>{include file='/home/ah/allhorse/public_html/kd/salesblurb.tpl'} </p>

	   <p>{include file='/home/ah/allhorse/public_html/kd/wherewhenwatch.tpl'} </p>

	   {assign var="Default" value=false} 

	<!-- Please add the options here --> 

{/if}



{if $PS_Switch}

	<h2>Preakness Stakes Betting</h2>

     <p>Are you from {$state}?  Then you can place your bet on the Preakness Stakes at BUSR.  

        They are taking customers from the great state of {$state}! </p>

     

     <p align="center"><a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">Bet the Preakness Stakes</a></p>  
        {*<p>{include file='/home/ah/allhorse/public_html/belmont/salesblurb.tpl'} </p>*}
        <p>{include file='/home/ah/allhorse/public_html/ps/salesblurb.tpl'} </p>
        <p>{include file='/home/ah/allhorse/public_html/ps/wherewhenwatch.tpl'} </p>
        <p>{*include file='/home/ah/allhorse/public_html/belmont/wherewhenwatch.tpl'*} </p>

	{assign var="Default" value=false} 

{/if}



{if $BEL_Switch}

	<h2>Belmont Stakes Betting</h2>

     <p>Are you from {$state}?  Then you can place your bet on the Belmont Stakes at BUSR.  

        They are taking customers from the great state of {$state}! </p>

     

     <p align="center"><a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">Bet the Belmont Stakes</a></p>  

	<p>{include file='/home/ah/allhorse/public_html/belmont/salesblurb.tpl'} </p>

	<p>{include file='/home/ah/allhorse/public_html/belmont/wherewhenwatch.tpl'} </p>

	{assign var="Default" value=false}

{/if}


{if $BC_Switch} 

	<h2>Online Horse Betting</h2>
   <p>
         Bet the Breeders' Cup with <a href="https://www.betusracing.ag?ref={$ref}" rel="nofollow" >BUSR</a>. from the great state of {$state}. Sign up and receive up to $250 in cash on your first deposit. Bet the Breeders’ Cup Classic and get $10 in Casino chips. Qualify to earn an additional $150 Cash Bonus. Get in on the Breeders' Cup action at <a href="https://www.betusracing.ag?ref={$ref}" rel="nofollow" >BUSR</a>.
   </p>

{elseif $Default}

	 <h2>Online Horse Betting</h2>

	 <p><a href="https://www.betusracing.ag?ref={$ref}" rel="nofollow" >BUSR</a> offers 

      thoroughbred, quarter horse and <a href="/harness-racing">harness racing</a> content from over 200 of the 

      world's premier racetracks.  You'll get up to a <a href="/rebates">8% rebate</a> on all your horse bets, win or 

      lose, paid to your account the very next day. </p> <p> There are no membership fees or charges to wager on horses. 

      At BUSR, online horse betting is available via desktop computer, laptop, iPad, iPhone 

      or Android powered devices.</p><p> <a href="/signup?ref={$ref}"> Join now</a>  you can get a 

      <a href="/promos/cash-bonus-10">10% bonus</a> on your first deposit  and qualify for a 

      <a href="/promos/cash-bonus-150">$150 cash bonus</a>!

      </p>
{/if}





{* REGULAR SEASON!!!!!!!!! 



 <h2>Online Horse Betting</h2>

 	<p>BUSR, currently accepting customers from {$state}, offers thoroughbred, quarter 

     horse and <a href="/harness-racing">harness racing</a>  from over 200 of the world's premier racetracks including 

     the <a href="/triple-crown">Triple Crown</a> races:  the <a href="/kentucky-derby/betting">Kentucky Derby</a>, 

     <a href="/preakness-stakes/betting">Preakness Stakes</a>, <a href="/belmont-stakes/betting">Belmont Stakes</a> 

     as well as  the <a href="/breeders-cup/betting">Breeder's Cup</a>.</p>

                    

     <p> You'll get up to a <a href="/rebates">8% rebate</a> on all your horse bets, win or lose, paid to your 

     account the very next day.  Live streaming video the races is free and there are no membership fees or charges 

     to wager on horses.<!-- At BUSR, online horse betting is available via desktop 

     computer, laptop, iPad, iPhone or Android powered devices. --></p>

     <p> <a href="/signup?ref={$ref}"> Join now</a>  you can get a <a href="/promos/cash-bonus-10">10% bonus</a> on 

     your first deposit  and qualify for a <a href="/promos/cash-bonus-150">$150 cash bonus</a>!

     </p>

           

    {include file="/home/ah/allhorse/public_html/usracing/states/cta_button.tpl"}

*}





 {include file="/home/ah/allhorse/public_html/usracing/states/cta_button.tpl"}

  

