 <h2>Horse Racing {$state}</h2>
                    <p>Place your bet at <a href="https://www.betusracing.ag?ref={$ref}" rel="nofollow" >BUSR</a>. Betting on stakes races has never been easier. {$state} loves horse racing! View live <a href="/results">results</a>, up to the minute <a href="/horse-racing-schedule">schedules</a>, <a href="/odds">betting odds</a> and up to an <a href="/rebates">8% rebate</a>. To experience all that BUSR has to offer, along with   200 of the world&rsquo;s best <a href="/racetracks">horse racing tracks</a>, <a href="/signup?ref={$ref}">join today</a>!</p>
