{*include file="inc/rightcol-calltoaction.tpl"*}







<div class="calltoaction">

<a href="/signup?ref={$ref}" rel="nofollow" >

<span id="object"><i class="animated floating fa fa-map-marker"></i></span>

<h2>Bet on the Dubai World Cup!</h2>

<h3>The easiest way to bet online.</h3>

<span class="btn btn-green">Sign Up Today<i class="fa fa-angle-right"></i></span></a>

</div>





{literal}

<script type="text/javascript">

$( document ).ready(function() {

$(".calltoaction #object").delay(500).queue(function(next) {

  $(this).addClass("animated bounceInDown").css("visibility", "visible");

  next();

}).delay(600).queue(function(next) {

  $(".calltoaction h2").addClass("animated tada"); 

  next();

}).delay(600).queue(function(next) {

  $(".calltoaction .fa-angle-right").addClass("animated fadeInLeft").css("visibility", "visible");; 

  next();

});

});

</script>

{/literal}





<div class="calltoaction">





<h2>Bet on the Dubai World Cup!</h2>

<h3>The easiest way to bet online.</h3>

{include file='/home/ah/allhorse/public_html/breeders/call-to-action2.php'}

{include file="/home/ah/usracing.com/smarty/templates/inc/rightcol-calltoaction-form.tpl"}

