.ColumnUnselected{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	color: #000;
	text-align:center;
	border: 1px solid #9AC6FF ;
	
	/* border: solid 1px #4B4B6F; */
	overflow: hidden;
	/* background-color:#DFDFEA; */
	background-color: #D4E1F1 ;
	/*background-image:url(./img/backgroundShadow.png);*/
	/*background-image:url(./img/backgroundShadowLight.png);*/
	/* background-image:url(./toolbar/img/backgroundShadowLight.png); */
}

.ColumnSelected{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	color: #FFF;
	border: solid 1px #4B4B6F;
	overflow: hidden;
	background-color:#003F90;
	/* background-image:url(./toolbar/img/backgroundShadowLight.png); */
}


.ColumnFocused{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	color: #000;
	border: solid 1px #4B4B6F;
	overflow: hidden;
	background-color:#FFC06F;
	/* background-image:url(./toolbar/img/backgroundShadowLight.png); */
}

.RowUnselected{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	color: #000;
	border: 1px solid #9AC6FF ;
	
/*	border: solid 1px #4B4B6F; */
	overflow: hidden;
	background-color:#D4E1F1;
	/* background-color:#DFDFEA; */
	/* background-image:url(./toolbar/img/hBackgroundShadowLight.png); */
}

.RowSelected{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	color: #FFF;
	border: solid 1px #4B4B6F;
	overflow: hidden;
	background-color:#003F90;
	/* background-image:url(./toolbar/img/hBackgroundShadowLight.png); */
}


.RowFocused{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	color: #000;
	border: solid 1px #4B4B6F;
	overflow: hidden;
	background-color:#FFC06F;
	
	/* background-image:url(./toolbar/img/hBackgroundShadowLight.png); */
}

.CellSelected{
	font-family: Arial;
	font-size: 10pt;
	border: solid 2px #C0C0C0;
	overflow: visible;
	background-color:#E4E4E8;
}

.CellUnselected{
	font-family: Arial;
	font-size: 10pt;
	border: solid 1px #C0C0C0;
	overflow: visible;
	background-color:#FFFFFF;
}


.OpenFileDialog{
	font-family: Verdana;
	font-size: 10pt;
	border: solid 1px #C0C0C0;
	overflow: visible;
	background-color:#FFF;
}
.OpenFileDialog TH{
	background-color:#a0bff5;
	font-size: 11pt;
	font-weight: bold;

}
.OpenFileDialog TR:hover{
	background-color:#EEE;
}


#Grid{
	left: 0px;
    top: 0px;
    height:100%;
    width:100%;
    /*position: absolute;*/
    border-collapse: collapse;
    overflow:hidden;
    background-color: #0F0;
}

#ActiveCell{
	font-family: Arial;
	font-size: 10pt;
	border: none;
	overflow: visible;
}

#ActiveRange{
	font-family: Arial;
	font-size: 10pt;
	border: solid 3px #000000;
	overflow: hidden;
}

/*Toolbars Items*/
#FontSizeCombo{
	font-family: Verdana;
	width: 70px;
	height: 18px;
}

#FontCombo{
	font-size: 10pt;
	width: 150px;
	height: 18px;
}

#logo{	
	/* background-image: url(./img/gelsheet_logo-113x54-transparent.png); */
	background-image: url(./img/gelsheet_logo-132x51-Tab-transparent.png);   
	background-repeat: no-repeat ;
	width: 132px;
	height: 51px;
	
	top: 0px;
	right:0px;
	position: absolute ;
	float: right ;		
}
