{*
<blockquote >Breeders' Cup Odds:
	<a href="/breeders-cup/odds"> Classic </a> - 
	<a href="/breeders-cup/distaff">Distaff </a> - 
	<a href="/breeders-cup/turf">Turf</a> - 
	<a href="/breeders-cup/juvenile">Juvenile</a> - 
	<a href="/breeders-cup/juvenile-fillies-turf">Juvenile Fillies Turf</a>
</blockquote>
*}

{* <blockquote > *}<strong>{* Breeders' Cup Odds  *}Friday:</strong> 
        <a href="/breeders-cup/juvenile"  > Juvenile </a> - 
        <a href="/breeders-cup/juvenile-turf" >Juvenile Turf</a> - 
        <a href="/breeders-cup/juvenile-fillies-turf"  >Juvenile Fillies Turf</a> - 
        <a href="/breeders-cup/juvenile-fillies"  >Juvenile Fillies</a> - 
        <a href="/breeders-cup/juvenile-turf-sprint" >Juvenile Turf Sprint</a>
<p><strong>{* Breeders' Cup Odds  *}Saturday:</strong> 
		<a href="/breeders-cup/classic">Classic</a>     - 
		<a href="/breeders-cup/turf"  >Turf </a> - 
        <a href="/breeders-cup/distaff"  > Distaff </a> - 
        <a href="/breeders-cup/mile" >Mile</a> - 
        <a href="/breeders-cup/sprint"  >Sprint</a> - 
        <a href="/breeders-cup/filly-mare-turf"  >Filly and Mare Turf</a> - 
        <a href="/breeders-cup/dirt-mile"  >Dirt Mile</a> - 
        <a href="/breeders-cup/turf-sprint"  >Turf Sprint</a> - 
        <a href="/breeders-cup/filly-mare-sprint"  >Filly and Mare Sprint</a> 
{* </blockquote> *}