{if $smarty.server.HTTP_HOST == "www.betusracing.ag" or $smarty.server.HTTP_HOST == "dev.betusracing.ag"} 
{assign var="bettingurl" value='/breeders-cup-betting'} 
{else}
{assign var="bettingurl" value='/breeders-cup/betting'} 
{/if}
{if $BC_Switch}
<p><strong>BUSR</strong> is the best place to bet on the <a href="{$bettingurl}">Breeders' Cup</a>. Sign up and receive up to $250 in cash on your first deposit. <a href="/breeders-cup/classic">Bet the Breeders' Cup Classic</a> and get $10 in Casino chips. Qualify to earn an additional $150 Cash Bonus. Get in on the Exciting Racing Action at <strong>BUSR</strong>.
{else}
<strong>BUSR</strong> is the best place you can place your bet on the <a href="{$bettingurl}">Breeders' Cup</a>. Fixed price odds are available. Bet the Classic and get $10 in Casino chips. {* Bet the Classic and get $25 in free casino chips! *}{* The latest <a href="/breeders-cup/odds">Breeders' Cup Odds</a> are live.  *} <p><a href="/breeders-cup/odds">Breeders' Cup Odds</a> are live and open for betting. 
{/if}

