<ul>
<li><strong>Grade: </strong> Three-year-olds and up</li>
<li><strong>Distance: </strong> 2 miles (16 furlongs, 3200 meters)</li>
<li><strong>Track: </strong> Turf</li>
<li><strong>Purse: </strong> $6,200,000 AUS</li>
</ul>