/*@import url(http://fonts.googleapis.com/css?family=Dosis);

* { margin: 0; padding: 0; outline: none; }
html { font-size: 100%; height: 101%; }
body { background: #fff; font-family:'Dosis'; }

a { color: #3a51b2; text-decoration: none; }
a:hover { text-decoration: none; }

h1 {
    display: block;
    margin: 20px 0 6px 0;
    font-size: 1.8em;
    color: #617797;
    text-decoration: none;
	text-align: center;
}
    h1:hover { color: #90b0dd; }

p { color: #444; font-size: 1.2em; margin-bottom: 10px; text-align: center; }
*/
.button {
    background-color: #222;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.15), hsla(0,0%,0%,0));
    background-image: -moz-linear-gradient(hsla(0,0%,100%,.15), hsla(0,0%,0%,0));
    background-image: -ms-linear-gradient(hsla(0,0%,100%,.15), hsla(0,0%,0%,0));
    background-image: -o-linear-gradient(hsla(0,0%,100%,.15), hsla(0,0%,0%,0));
    background-image: linear-gradient(hsla(0,0%,100%,.15), hsla(0,0%,0%,0));
    border: 1px solid #111;
    color: #c6c6c6;
    cursor: pointer;
    display: inline-block;
    font: bold 18px/12px 'Dosis';
    margin: 20px;
    padding: 16px 20px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 1px hsla(0,0%,0%,.8);
    vertical-align: top;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
	.button:hover, .button:focus {
		background-color: #242424;
		color: #f6f6f6;
	}
	.button:active {
		background-color: #202020;
		color: #b6b6b6;
		padding: 16px 20px;
	}

/*#wrapper { width: 640px; margin: 0 auto; padding: 30px 45px; }*/
#inline { display: none; width: 600px; }

/* --- The Form --- */
#contact {  }

#contact fieldset {
    border: 1px solid #EEEEEE;
    padding: 20px;
	border-radius: 3px;
}

#contact legend {
    border: 1px solid #EEEEEE;
    color: #617797;
    margin-bottom: 0 !important;
    padding: 7px 10px;
	font-weight: bold;
	border-radius: 3px;
}

#contact label {
    display: inline-block;
    float: left;
    font-size: 1em;
    height: 26px;
    line-height: 26px;
    width: 155px;
}

#contact input, #contact textarea, #contact select {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #CCCCCC;
    color: #666666;
    font: 1em "Dosis";
    margin: 5px 0;
    padding: 5px;
    width: 360px;
	border-radius: 3px;
}

#contact .button { border-radius: 3px; margin: 5px 20px 10px 155px; }

#contact input:focus, #contact textarea:focus { border: 1px solid #eee; color: #444; background: #fff; }

#contact .error { border: 1px solid #973d3d; background: #f0bebe; color: #a35959; }
#contact .error:focus { border: 1px solid #eee; color: #a35959; }

/* --- Footer Styles --- 
#footer {  }
    #footer p {
        font-family: 'Dosis';        
        text-align: center;
        font-size: .9em;
        color: #444;
        letter-spacing: 1px;        
    }
    #footer a, #footer a:visited {
        color: #617797;
        text-decoration: none;
        outline: none;
    }
        #footer a:hover{
            color: #90b0dd;
            text-decoration: none;
        }*/