.adminHeader {
    padding: 10px 15px;
	border-bottom: 1px solid #CCCCCC;
	/*border-bottom: 1px solid #99BBE8;*/
	padding-bottom:5px;
	/*background: #D0DEF0;*/
	background: #F0F0F0;
}

.adminHeaderUpperRow {
	margin: 3px;
	/*border-bottom: 2px solid #99BBE8;*/
	border-bottom: 2px solid #CCCCCC;
    position: relative;
    padding-bottom: 2px;
}

.adminSeparator {
	background-image: url(../../images/layout/shadow.png);
	height: 6px;
	width:100%;
}

.adminTitle {
  	font-size: 150%;
  	font-weight: bolder;
  	display: inline;
}

.adminMainBlock {
	padding: 5px 15px;
	background-color:white;
}

/* templates */

.bg-ico {
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 34px;
}

.og-add-template-object {
	position: relative;
	background-repeat: no-repeat;
	padding-left: 24px;
	height: 21px;
	width: 500px;
	vertical-align:'middle';
	line-height: 20px;
}
.og-add-template-object .name {
	width: 300px;
	overflow: hidden;
}

.removeDiv {
	position: absolute;
	line-height: 25px;
	right: 0;
	top: 0;
	cursor: pointer;
}

.cronEventsTable > tbody > tr > td, .cronEventsTable > tbody > tr > th {
	padding: 2px 5px;
	text-align: center;
}
.cronEventsTable td.cronEventsName {
	text-align: left;
}

/* <upgrade> */
.adminUpgrade {
	height: 100%;
	background-color: white;
	border-top: 1px solid #CCC;
}
.adminUpgrade h2 {
	border: 1px solid #CCC;
	background-color: #E3EEF3;
	padding: 5px;
	color: black;
	text-decoration: none;
	margin: 10px 0;
	font-size: 120%;
}
.adminUpgrade h3 {
	color: black;
	text-decoration: none;
	font-size: 100%;
}
.adminUpgrade > * {
	padding: 20px;
}
.availableVersions {
	background-color: white;
}
.availableVersion {
	margin-bottom: 20px;
	border: 1px solid #CCC;
	background-color: #EEF3FF;
	padding: 10px;
}
.releaseNotes {
	background-color: white;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 1px solid #CCC;
	padding: 10px;
	height: 150px;
	overflow: auto;
	white-space: pre-wrap;
}
.downloadLinks .desc {
	margin-left: 20px;
}
/* </upgrade> */
.configCategory, .userWsConfigCategory {
	margin: 5px 0;
}