.coViewAction {
	background-position:0pt 2px;
	background-repeat:no-repeat;
	padding:3px 0pt 2px 18px;
	
}

.coViewClose{
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	border-bottom:2px solid;
	border-left:2px solid;
	/*width: 16px;*/
	padding-right:3px;
	height: 16px;
  	font-weight: bold;
  	padding-left:3px;
}

.coViewIcon{
	padding:12px;
	width:48px;	
  	border-bottom: 1px solid;
}

.coViewIconImage{
	height: 48px;
	width: 48px;
}

.coViewHeader {
	padding:0px;
	padding-bottom:4px;
  	border-bottom: 1px solid;
}

.coViewSmallHeader {
	padding:12px;
	padding-bottom:4px;	
	padding-top:8px;
}

.coViewHeader .coViewTitleContainer {
	padding: 8px 12px 0px 12px;
	position:relative;
}

.coViewHeader .coViewTitle {
  	font-size: 130%;
  	font-weight: bold;
  	padding-bottom: 4px;
  	border-bottom: 3px solid;
}

.coViewHeader .coViewDesc {
	padding-left: 12px;
}

.coViewBody {
	padding:10px;
	background:white;	
}

.prop-col-div {
	border-bottom: 1px solid #dddddd;	
	padding-top:4px;
	padding-bottom :2px;
	margin-bottom: 2px;
	/*margin-right: 12px;*/
}

.coViewPropertiesHeader {
  	font-size: 120%;
  	font-weight: bold;
}


/* ----Shadows---- */

.coViewTopRight {
	width:1%;
	min-width:12px;
	height:12px;
	background-image: url(../../images/layout/shcornertop.png);	
	background-repeat: no-repeat;
}

.coViewRight {
	background-image: url(../../images/layout/shr.png);
	background-repeat: repeat-y;
}

.coViewBottomRight {
	background-image: url(../../images/layout/shcorner.png);
	background-repeat: no-repeat;
	width:1%;
	min-width:12px;
	height:12px;
}

.coViewBottom {
	background-image: url(../../images/layout/shb.png);
	background-repeat: repeat-x;
}

.coViewBottomLeft {
	background-image: url(../../images/layout/shcornerbottom.png);
	width:1%;
	min-width:12px;
	height:12px;
	background-repeat: no-repeat;
}


/* ------------------------------------- Specific Content Objects -----------------------------*/


/* -----  Message  ----- */

/*
.message .coViewHeader {
  	background: rgb(246,214,78);
  	border-color: rgb(201,163,10);
  	color: rgb(101,82,5);
}

.message .coViewIcon {
  	background: rgb(232,232,168);
  	border-color: rgb(246,214,78);
}

.message .coViewHeader .coViewTitle {
  	border-color: rgb(201,163,10);
}

.message .coViewClose {
  	background: rgb(232,232,168);
  	color: rgb(201,163,10);
}*/

.message .coViewHeader {
  	background: #FFE966;
  	border-color: #CCB633;
  	color: #736617;
}

.message .coViewIcon {
  	background: #FFF8CC;
  	border-color: #F2DF6D;
}

.message .coViewHeader .coViewTitle {
  	border-color: #CCB633;
}

.message .coViewClose {
  	background: #FFF8CC;
  	color: #736617;
}

.ico-large-message {
	background-image: url(../../images/48x48/note.png);
}

.ico-large-message-trashed {
	background-image: url(../../images/48x48/note_trashed.png);
}

/* ----- Template ----- */
.template .coViewHeader {
  	background: #DDDDDD;
  	border-color: #AAAAAA;
  	color: #666666;
}

.template .coViewIcon {
  	background: #EEEEEE;
  	border-color: #AAAAAA;
}

.template .coViewHeader .coViewTitle {
  	border-color: #AAAAAA;
}

.template .coViewClose {
  	background: #EEEEEE;
  	color: #666666;
}

.ico-large-template {
	background-image: url(../../images/48x48/template.png);
}

.ico-large-template-trashed {
	background-image: url(../../images/48x48/template_trashed.png);
}


/* -----  Email  ----- */

.email .coViewHeader {
  	background: #BABFD9;
  	border-color: #7882BF;
  	color: #404566;
}

.email .coViewIcon {
  	background: #DBE0FF;
  	border-color: #BABFD9;
}

.email .coViewHeader .coViewTitle {
  	border-color: #7882BF;
}

.email .coViewClose {
  	background: #DBE0FF;
  	color: #7882BF;
}

.ico-large-email {
	background-image: url(../../images/48x48/email.png);
}

.ico-large-email-trashed {
	background-image: url(../../images/48x48/email_trashed.png);
}


/* -----  Chart  ----- */

.chart .coViewHeader {
  	background: #BABFD9;
  	border-color: #7882BF;
  	color: #404566;
}

.chart .coViewIcon {
  	background: #DBE0FF;
  	border-color: #BABFD9;
}

.chart .coViewHeader .coViewTitle {
  	border-color: #7882BF;
}

.chart .coViewClose {
  	background: #DBE0FF;
  	color: #7882BF;
}

.ico-large-chart {
	background-image: url(../../images/48x48/chart.png);
}


/* -----  Contact  ----- */

.contact .coViewHeader {
  	background: #F2D7AA;
  	border-color: #CCA970;
  	color: #735D39;
}

.contact .coViewIcon {
  	background: #F2E0C2;
  	border-color: #F2D7AA;
}

.contact .coViewHeader .coViewTitle {
  	border-color: #CCA970;
}

.contact .coViewClose {
  	background: #F2E0C2;
  	color: #CCA970;
}

.ico-large-contact {
	background-image: url(../../images/48x48/contact.png);
}

.ico-large-contact-trashed {
	background-image: url(../../images/48x48/contact_trashed.png);
}


/* -----  Company  ----- */

.company .coViewHeader {
  	background: #E3E3E3;
  	border-color: #C7C7C7;
  	color: #7F7F7F;
}

.company .coViewIcon {
  	background: #EBEBEB;
  	border-color: #E3E3E3;
}

.company .coViewHeader .coViewTitle {
  	border-color: #C7C7C7;
}

.company .coViewClose {
  	background: #EBEBEB;
  	color: #7F7F7F;
}

.ico-large-company {
	background-image: url(../../images/48x48/company.png);
}

.ico-large-company-trashed {
	background-image: url(../../images/48x48/company_trashed.png);
}


/* -----  User  ----- */

.user .coViewHeader {
  	background: #C0CFFF;
  	border-color: #648AFF;
  	color: #384D8F;
}

.user .coViewIcon {
  	background: #D4DFFF;
  	border-color: #C0CFFF;
}

.user .coViewHeader .coViewTitle {
  	border-color: #648AFF;
}

.user .coViewClose {
  	background: #D4DFFF;
  	color: #384D8F;
}

.ico-large-user {
	background-image: url(../../images/48x48/user.png);
}


/* -----  Files  ----- */

.files .coViewHeader {
  	background: #C9D9C3;
  	border-color: #B1BFAC;
  	color: #3F4D39;
}

.files .coViewIcon {
  	background: #EDFFE6;
  	border-color: #C9D9C3;
}

.files .coViewHeader .coViewTitle {
  	border-color: #B1BFAC;
}

.files .coViewClose {
  	background: #EDFFE6;
  	color: #B1BFAC;
}

.ico-large-files {
	background-image: url(../../images/48x48/files.png);
}

.ico-large-files-trashed {
	background-image: url(../../images/48x48/files_trashed.png);
}


/* -----  Tasks  ----- */

.tasks .coViewHeader {
  	background: #717FA1;
  	border-color: #455678;
  	color: #FFFFFF;
}

.tasks .coViewIcon {
  	background: #E8EDF7;
  	border-color: #455678;
}

.tasks .coViewHeader .coViewTitle {
  	border-color: #455678;
}

.tasks .coViewClose {
  	background: #E8EDF7;
  	color: #717FA1;
}

.ico-large-tasks {
	background-image: url(../../images/48x48/tasks.png);
}

.ico-large-tasks-trashed {
	background-image: url(../../images/48x48/tasks_trashed.png);
}


/* -----  Milestones  ----- */

.milestone .coViewHeader {
  	background: #717FA1;
  	border-color: #455678;
  	color: #FFFFFF;
}

.milestone .coViewIcon {
  	background: #E8EDF7;
  	border-color: #455678;
}

.milestone .coViewHeader .coViewTitle {
  	border-color: #455678;
}

.milestone .coViewClose {
  	background: #E8EDF7;
  	color: #717FA1;
}

.ico-large-milestone {
	background-image: url(../../images/48x48/milestone.png);
}

.ico-large-milestone-trashed {
	background-image: url(../../images/48x48/milestone_trashed.png);
}

/* ----- Events ----- */

.event .coViewHeader {
  	background: #717FA1;
  	border-color: #455678;
  	color: #FFFFFF;
}

.event .coViewIcon {
  	background: #E8EDF7;
  	border-color: #455678;
}

.event .coViewHeader .coViewTitle {
  	border-color: #455678;
}

.event .coViewClose {
  	background: #E8EDF7;
  	color: #717FA1;
}

.ico-large-event {
	background-image: url(../../images/48x48/view_calendar_day.png);
}

.ico-large-event-trashed {
	background-image: url(../../images/48x48/event_trashed.png);
}


/* ----- Calendar ----- */

.calendar .coViewHeader {
  	background: #717FA1;
  	border-color: #455678;
  	color: #FFFFFF;
}

.calendar .coViewIcon {
  	background: #717FA1;
  	border-color: #455678;
}

.calendar .coViewHeader .coViewTitle {
  	border-color: #455678;
  	border-bottom: none;  	
  	text-align: center;
  	font-size:14px;
}

.calendar .coViewClose {
  	background: #717FA1;
  	color: #FFFFFF;
}

.ico-small-calendar {
	background-image: url(../../images/32x32/view_calendar_month.png);
}

/* ----- Report ----- */

.report .coViewHeader {
  	background: #717FA1;
  	border-color: #455678;
  	color: #FFFFFF;
}

.report .coViewIcon {
  	background: #E8EDF7;
  	border-color: #455678;
}

.report .coViewHeader .coViewTitle {
  	border-color: #455678;
}

.report .coViewClose {
  	background: #717FA1;
  	color: #FFFFFF;
}

.ico-large-report {
	background-image: url(../../images/48x48/report.png);
}


/* ----- Weblinks -----*/

.weblink .coViewHeader {
  	background: #FFE966;
  	border-color: #CCB633;
  	color: #736617;
}

.weblink .coViewIcon {
  	background: #FFF8CC;
  	border-color: #F2DF6D;
}

.weblink .coViewHeader .coViewTitle {
  	border-color: #CCB633;
}

.weblink .coViewClose {
  	background: #FFF8CC;
  	color: #736617;
}

.ico-large-weblink {
	background-image: url(../../images/48x48/weblink.png);
}

.ico-large-weblink-trashed {
	background-image: url(../../images/48x48/weblink_trashed.png);
}





.tpTaskHeader, .tpMilestoneHeader {
	width: 90%;
	border-bottom: solid 1px #AAA;
	font-size: 130%;
	font-weight: bold;
	color: #666;
	padding-top: 12px;
	padding-left: 20px;
}
.tpTaskHeader {
	background-image: url(../../images/16x16/tasks.png) !important;
	background-repeat: no-repeat;
	background-position: bottom left;
}
.tpMilestoneHeader {
	background-image: url(../../images/16x16/milestone.png) !important;
	background-repeat: no-repeat;
	background-position: bottom left;
}

/** custom properties **/
.og-custom-properties {
	width:100%;
}

.og-custom-properties td.value {
	padding: 1px 5px;
}

.og-custom-properties td.name {
	font-weight: bold;
	padding: 1px 5px;
	white-space:nowrap;
	width:1%;
}
.og-add-custom-properties th {
	width: 200px;
	text-align: center;
	font-weight: bold;
}
.og-add-custom-properties th.actions {
	width: 16px;
	background: none;
}
.og-add-custom-properties input {
	width: 200px;
}

.og-custom-properties .row {
	background-color:white;	
}

.og-custom-properties .altRow {
	background-color:#ECEFF7;	
}

.og-custom-properties .subAltRow {
	background-color:#F4F5F7;	
}
