{*
        <section class="card">
      <div class="card_wrap">
	   <div class="card_half card_hide-mobile">
	           <a href="/bet-on/triple-crown">
	        <img src="" data-src-img="/img/index-kd/bet-kentucky-derby-jockeys.jpg" alt="Triple Crown Odds" class="card_img"></a></div>   
        <div class="card_half card_content"><a href="bet-on/triple-crown">
	        <img src="/img/index-kd/icon-bet-kentucky-derby-jockeys.png" alt="Triple Crown Odds" class="card_icon"></a>
	        
	        
          <h2 class="card_heading">Bet on the Triple Crown!</h2>
          <h3 class="card_subheading"></h3>
          <p>Winning the Triple Crown, consisting of the Kentucky Derby, Preakness and Belmont Stakes, is horse racing's greatest honor. </P>
          <p>Countless horses have tried and only 13 have succeeded. Who will be next?</p><a href="/bet-on/triple-crown" class="card_btn">See the Triple Crown Odds</a>
        </div>
        
           
      </div>
    </section>
    
    
*}
    
{include file="/home/ah/allhorse/public_html/usracing/block_preakness/block-props.tpl"}{*2019 no TC Contender-TF*}