    <section class="kd usr-section">
      <div class="container">
        <div class="kd_content">         
          <h1 class="kd_heading">Horse Betting</h1>
          <h3 class="kd_subheading">Get up to a {$BONUS_WELCOME} Instant Cash Bonus</h3>
           
           <p><a href="/signup?ref={$ref}" rel="nofollow">BUSR</a> is the best site to you can bet on horses.  Why?  Because, all new members can get up to a <a href="/cash-bonus-20">{$BONUS_WELCOME} welcome bonus</a>!  We know you'll love it so much that you'll also get another {$BONUS_RETENTION} for playing.</p>
           <p>You'll also get rebates on all your horse bets up to 8%, paid to your account daily.  Do you want to bet sports and play the casino?  You can do that too.
           <p>With  more benefits and  bet choices than any other place online, what are you waiting for?</p>
         {*
 <h3 class="kd_subheading">With the Most Betting Options Anywhere..</h3>
          <p>Bet in the comfort of your home or on the go with BUSR's mobile betting.  Whether you want to bet on horses or sports, you can bet easily with your mobile phone. <p> Waiting at the bar for your friends to arrive?  How about playing a few hands of blackjack or roulette!  BUSR - super easy and super fun. </p>
08-20-2020-TF*}          
          
          <a href="/breeders-cup/betting" class="bs-kd_btn">SEE THE BC ODDS</a>

        </div>
      </div>
    </section>
    