</div></div></section>         

{*Be sure to update common blocks as well*}
	{*include file="/home/ah/allhorse/public_html/usracing/block_breeders/block-blue-signup-bonus-ps.tpl"*} 	
	{*include file="/home/ah/allhorse/public_html/usracing/block_breeders/block-free-bet.tpl"*}
	{*include file="/home/ah/allhorse/public_html/usracing/block_breeders/block-props.tpl"*}
{* 	{include file="/home/ah/allhorse/public_html/usracing/block_breeders/block-triple-crown.tpl"} *}
	{* {include file="/home/ah/allhorse/public_html/usracing/block_breeders/block-testimonial-other.tpl"} *}
    
    

{*include file="/home/ah/allhorse/public_html/usracing/block-casino-free-chips.tpl"*s}  			{*Expires Nov 3 *}
{*include file="/home/ah/allhorse/public_html/usracing/block-rebates.tpl"*} 					{*RESUMES after NOV 3*}
{*include file="/home/ah/allhorse/public_html/usracing/block-blue-signup-bonus.tpl"*}   		{*Resumes Nov 3*}
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/block-blue-signup-bonus-breeders.tpl"}    {*expires Nov 3*} 
{*include file="/home/ah/allhorse/public_html/usracing/block-50-states.tpl"*} 
{*include file="/home/ah/allhorse/public_html/breeders/block-countdown.tpl"*}
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/block-mobile-breeders.tpl"} 
{include file="/home/ah/allhorse/public_html/usracing/block-bet-on-football.tpl"}  
{* include file="/home/ah/allhorse/public_html/breeders/block-exciting.tpl" *}    
	{include file="/home/ah/allhorse/public_html/usracing/block_breeders/block-final-cta.tpl"}