{if $showSchemaFri==1} {include file="/home/ah/allhorse/public_html/usracing/schema/breeders-event-friday.tpl"} {/if}
{if $showSchemaSat==1} {include file="/home/ah/allhorse/public_html/usracing/schema/breeders-event.tpl"} {/if}
{include file="/home/ah/allhorse/public_html/usracing/schema/web-page.tpl"}
{*include file="/home/ah/allhorse/public_html/ps/schema.tpl"*} {*Is this content up-to-date? -TF*}
{include file='inc/left-nav-btn.tpl'}<div id="left-nav">{include file='menus/breederscup.tpl'}</div>
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/block-hero.tpl"}    
{* {include file="/home/ah/allhorse/public_html/usracing/as_seen_on.tpl"} *}
{if $showclock==1}
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/block-countdown-white-breeders.tpl"}
{/if}
{*Fix!!*}
   <section class="kd bc-sa bcs usr-section">
      <div class="container">
        <div class="bs-kd_content">
          <img src="/img/index-bc/bc.png" alt="Online Horse Betting" class="bs-kd_logo img-responsive">
          <h1 class="kd_heading">{$h1} {$h1b}</h1>
          <h3 class="kd_subheading">
	          {if $BC_Switch_Early}{$h2_early} 
	          {elseif $BC_Switch_Main}{$h2_main} 
	          {elseif $BC_Switch_Race_Day}{$h2_race_day}
	          {else}{$h2}{/if}
	      </h3>
{* <h2>Bet on the Breeders' Cup</h2> *}
<p>{include file='/home/ah/allhorse/public_html/usracing/block_breeders/sales-copy.tpl'} </p>
{* <p>{include file='/home/ah/allhorse/public_html/ps/sales-copy.tpl'} </p> *}

