<div class="calltoaction">
 {* <h2>Get a Free Bet <br>for the <br>Breeders' Cup! </h2>  *}

 <h2>Get a 20%<br> Signup Bonus<br>to Bet on  Horses!</h2> 
<h3>Sign Up Now to <br>  Get Started Today.</h3>
{*
<h2>Get your <br>$150  Bonus!</h2>
<h3>Sign Up Now to <br>  Get Started Today</h3>
*}
{*
<h2>Free Bet on the<br>Belmont Stakes!</h2>
<h3>Exclusive Belmont odds and more.</h3>
*}
{include file="/home/ah/usracing.com/smarty/templates/inc/rightcol-calltoaction-form.tpl"}
