 <h2>Online Horse Betting</h2>
                    <p>BUSR, currently taking customers from {$state}, offers thoroughbred, quarter horse and <a href="/harness-racing">harness racing</a> content from over 200 of the world's premier racetracks.   Membership is free and there are no fees or charges to wager on horses.  At BUSR, online horse betting is available via desktop computer, laptop, iPad, iPhone or Android powered devices.</p><p> <a href="/signup?ref={$ref}"> Join now</a>  and bet  today!
                    </p>