<div class="content">
{*   <div class="headline"><h2>Horse Racing Video Picks</h2></div> *}
<div class="headline"><h2>The Travers</h2></div>
  <div class="ytFeed margin-bottom-20">
  <iframe  src="https://www.youtube.com/embed/Ux6ICuvurQc" allowfullscreen="" frameborder="0" width="100%" height="250" ></iframe>
  </div>
</div>
<!--/content-->

<div class="blockfooter">{*  <a href="/horse-racing-videos" class="btn btn-primary" >Horse Racing Videos<i class="fa fa-angle-right"></i></a>*} </div> 
