<table align="left" style="border:1px solid #000066;">
<form action="add_mainsports.php?act=add" method="post" enctype="multipart/form-data" name="mainsports_form" >
<!--<tr>
		  <td width='150' class="fieldname" align="left">
		  Main Sports Image
		  </td>
            <td class="fieldname" colspan="2" align="left">
			{if $mainsports_img neq NULL}
             <img src="uploaded_images/main_sports_images/thumb{$mainsports_img}">
			 {/if}
			 </td>
          </tr>-->
		  <tr>
            <td width='150' class="fieldname">
             Mainsports Name           </td>
            <td class="columnHeaderStatic">
              <input name="mainsports_name" type="text" id="affiliateFirstName" value="{$mainsports_name}"> </td>
          </tr>
		 
		  <tr>
            <td width='150' class="fieldname">
             Website Name           </td>
            <td class="columnHeaderStatic">
              {section name=web loop=$web_id}<input type="checkbox" name="webs[]" checked="checked" style="width:20px; height:20px;"value="{$web_id[web]}" />&nbsp;{$web_name[web]}<br />{/section}</td>
          </tr>
		 <!-- <tr>
            <td width='150' class="fieldname">
             Column Number           </td>
            <td class="columnHeaderStatic">-->
              <input name="column_no" type="hidden" id="affiliateFirstName" value="{$column}">  </td>
          <!--</tr>
		  <tr>
            <td width='150' class="fieldname">
             Position in column           </td>
            <td class="columnHeaderStatic">-->
              <input name="arrange" type="hidden" id="affiliateFirstName" value="{$recomend+1}"> <!--&nbsp Recommended <font color="#990000">{$recomend+1}</font></td>
          </tr>-->
		  <!--<tr>
            <td width='150' class="fieldname">
             Status           </td>
            <td class="columnHeaderStatic">
              <select name="status">
			  <option value="1" {if $status eq 0} selected="selected"{/if}>Enable</option>
			  <option value="0" {if $status eq 1} selected="selected"{/if}>Disable</option>
			  
			  </select> </td>
          </tr>-->
		  <input type="hidden" name="status" value="1" />
		  <tr>
            <td width='150' class="fieldname">
             Upload Image           </td>
            <td class="columnHeaderStatic">
              <input name="mainsports_img" type="file" id="affiliateFirstName" value="{$mainsports_img}"> </td>
          </tr>
		  <tr>
            <td width='150' class="fieldname">Start Date</td>
            <td class="columnHeaderStatic"><input name="start_date" type="text" value="{$start_date}"/><script language="javascript" src="js/cal.js"></script>
							<a onClick='popUpCalendar(this,document.mainsports_form.start_date,"yyyy-mm-dd")' border="0" ><img src="images/cal.gif"></a></td>
          </tr>
		  <tr>
            <td width='150' class="fieldname">End Date</td>
            <td class="columnHeaderStatic"><input name="stop_date" type="text" value="{$stop_date}"/><script language="javascript" src="js/cal.js"></script>
							<a onClick='popUpCalendar(this,document.mainsports_form.stop_date,"yyyy-mm-dd")' border="0" ><img src="images/cal.gif"></a></td>
          </tr>
		  <tr><td colspan="2" align="center" class="fieldname">Or</td></tr>
		  <tr>
            <td width='150' class="fieldname">
             Add HTML           </td>
            <td class="columnHeaderStatic">
              {$variable} </td>
          </tr>
		  <tr>
            <td width='150' colspan="2" class="fieldname" align="center">
			 <input type="submit" value="Add new" style="width:100px; color:#FFFFFF; background-color:#0958A6; font-weight:bold;" />
              <!--<input name="select-all2" type="image" src="images/submit-button.gif" style="width:60px">--> </td>
          </tr>
  </form>
</table>