<table style="border:1px solid #000066;">
<form action="add_mainsports.php?act=add" method="post" enctype="multipart/form-data" name="mainsports_form" >
<tr>
            <td width='150' class="fieldname" colspan="2" align="left">
             {if $warning neq NULL}<img src="images/Ball_2.gif" />{$warning}{/if}          </td>
            
          </tr>
		  <tr>
            <td width='150' class="fieldname" colspan="2" align="left"><font color="#990000">
              <!--*  If you will not choose the website name this main sports type will be applicable to all of you sites<br>
			  ** If you will not upload graphics only main sports name will appear with text and background color<br> </font>
			  --></td>
            
          </tr>
		  <tr>
            <td width='150' class="fieldname" colspan="2" align="left">
              
          </tr>
		  
		  <tr>
            <td width='150' class="fieldname">
             Lines Name           </td>
            <td class="columnHeaderStatic">
              <input name="lines_name" type="text" id="affiliateFirstName" value="{$lines_name}"> </td>
          </tr>
		  <tr>
            <td width='150' class="fieldname">
             Sports Type           </td>
            <td class="columnHeaderStatic">
              <input name="sports_type" type="text" id="affiliateFirstName" value="{$sports_type}"> </td>
          </tr>
		  <tr>
            <td width='150' class="fieldname">
            Feature</td>
            <td class="columnHeaderStatic" align="left">
              <input type="radio" name="feature" value="hot.gif" /><img src="images/hot.gif" /><br />
			  <input type="radio" name="feature" value="live.gif" /><img src="images/live.gif" /><br />
			  <input type="radio" name="feature" value="updated.gif" /><img src="images/updated.gif" /><br />
			  <input type="radio" name="feature" value="new.gif" /><img src="images/new.gif" /><br />
			  
			   </td>
          </tr>
		 
		  <tr>
            <td width='150' class="fieldname">
             Position in Specific Sports           </td>
            <td class="columnHeaderStatic">
              <input name="arrange" type="text" id="affiliateFirstName" value="{$arrange}"> </td>
          </tr>
		  <tr>
            <td width='150' class="fieldname">
             Status           </td>
            <td class="columnHeaderStatic">
              <select name="status">
			  <option value="1" {if $status eq 1} selected="selected"{/if}>Enable</option>
			  <option value="0" {if $status eq 0} selected="selected"{/if}>Disable</option>
			  
			  </select> </td>
          </tr>
		  <tr>
            <td width='150' colspan="2" class="fieldname" align="center">
			 <input type="submit" value="Add new" style="width:100px; color:#FFFFFF; background-color:#0958A6; font-weight:bold;" />
              <!--<input name="select-all2" type="image" src="images/submit-button.gif" style="width:60px">--> </td>
          </tr>
		  </form></table>