{include file="header.tpl"}
{include file="left.tpl"}
<!-------------------- Body Section ------------------------>
{literal}
<script language="javascript" src="js/validation.js" type="text/javascript"></script>
<SCRIPT LANGUAGE="JavaScript">
function showColor(val) {
document.mainsports_form.hexval.value = val;
}
function showColor2(val) {
document.mainsports_form.textcolor.value = val;
}

</script>

{/literal}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td height="6" bgcolor="#FFFFFF"> </td>
  </tr>
  <tr> 
    <td bgcolor="#FFFFFF"><br>
      <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0" class="border">
        <tr> 
          <td width="50%" height="25" bgcolor="#0958A6" style="padding-left:10px;"><strong><font color="#FFFFFF">{if $lines_id neq NULL}EDIT{else}ADD {/if}
            LINES</font></strong></td>
          <td align="right" bgcolor="#0958A6" style="padding-right:10px;">
		  <a href="lines_view.php?main_id={$main_id}&sp_id={$sp_id}" style="text-decoration:none;"><strong><font color="#FFFFFF">&laquo; Back</font></strong></a>
		  </td>
        </tr>
        <tr> 
          <td height="10" colspan="2"> </td>
        </tr>
        <tr> 
          <td height="25" colspan="2" align="center">
              <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
              <form action="" method="post" enctype="multipart/form-data" name="mainsports_form" >
                <tr>
                  <td><img src="images/blank.gif" alt="" title="" width="1" height="4"></td>
                </tr>
                <tr>
                  <td valign="top"><table width="100%"  border="0" cellspacing="2" cellpadding="2">
                      
                      <tr>
            <td class="fieldname" colspan="5" align="left">
             {if $warning neq NULL}<img src="images/Ball_2.gif" />{$warning}{/if}          </td>
          </tr>
		  <tr>
            <td class="fieldname" colspan="5" align="left"> <!--<font color="#990000">
             *  If you will not choose the website name this main sports type will be applicable to all of you sites<br>
			  ** If you will not upload graphics only main sports name will appear with text and background color<br> </font>
			  --></td>
          </tr>
		  <tr>
            <td class="fieldname" colspan="5" align="left">          </tr>
		  
		  <tr>
            <td width='153' class="fieldname">
             Lines Name           </td>
            <td width="200" class="columnHeaderStatic">
              <input name="lines_name" type="text" id="affiliateFirstName" value="{$lines_name}" style="width:150px;"> </td>
            <td width="15" class="columnHeaderStatic">&nbsp;</td>
            <td width="211" class="fieldname">Hot</td>
            <td width="252" class="columnHeaderStatic"><input type=checkbox name="textcolor"  value="sportshot" {if $text_color eq "sportshot"} checked="checked" {/if}></td>
		  </tr>
		  <tr>
            <td width='153' class="fieldname">
             Sports Type           </td>
            <td class="columnHeaderStatic">
              <input name="sports_type" type="text" id="affiliateFirstName" value="{$sports_type}" style="width:150px;"> </td>
            <td class="columnHeaderStatic">&nbsp;</td>
            <td class="fieldname">Position in Specific Sports</td>
            <td class="columnHeaderStatic"><input name="arrange" type="text" id="affiliateFirstName" value="{$arrange}" style="width:150px;"></td>
		  </tr>
		  <tr>
            <td width='153' class="fieldname">Add Rules</td>
            <td align="left" class="columnHeaderStatic">
              <input name="add_rules" type="checkbox" value=" - Rules" {if $add_rules neq NULL} checked="checked"{/if}></td>
            <td align="left" class="columnHeaderStatic">&nbsp;</td>
            <td align="left" class="fieldname">Status</td>
            <td align="left" class="columnHeaderStatic"><select name="status" style="width:150px;">
			  <option value="0" {if $status eq 0} selected="selected"{/if}>Disable</option>
			   <option value="1" {if $status eq 1} selected="selected"{/if}>Enable</option>
			  </select> </td>
		  </tr>
		  <tr>
            <td width='153' rowspan="2" class="fieldname">Window</td>
            <td rowspan="2" align="left" class="columnHeaderStatic">
              <!--<input name="new_window" type="checkbox" value="new" {if $new_window neq NULL} checked="checked"{/if}> -->
	 		  <select name="new_window" style="width:150px;">
			   <!--<option value="">...Seleste One Option...</option> -->
			  <option value="new" {if $new_window == "new"} selected="selected" {/if} >New Window</option>
			  <option value="parent_window" {if $new_window == "parent_window"} selected="selected" {/if} >Parent Window</option>
			   <option value="" {if $new_window == ""} selected="selected" {/if}  >Lines Window</option>
			  </select> 
			  </td>
            <td rowspan="2" align="left" class="columnHeaderStatic">&nbsp;</td>
            <td align="left" class="fieldname">Line Link</td>
            <td align="left" class="columnHeaderStatic"><input name="new_window_link" type="text"  value="{$new_window_link}" style="width:150px;"> </td>
		  </tr>
		  <tr>
		    <td colspan="2" align="left" class="fieldname">(this is optional,if you add this field "Sports Type=0")</td>
		    </tr>
		  <tr>
            <td width='153' class="fieldname">Add Rules Text</td>
            <td class="columnHeaderStatic">
			  <textarea name="rules_text" cols="50" rows="3" style="width:150px;">{$rules_text}</textarea>            </td>
            <td class="columnHeaderStatic">&nbsp;</td>
            <td class="fieldname"> Feature</td>
            <td valign="middle" class="columnHeaderStatic"><input type="radio" name="feature" value="hot.gif" /><img src="images/hot.gif" /><br />
			  <input type="radio" name="feature" value="live.gif" /><img src="images/live.gif" /><br />
			  <input type="radio" name="feature" value="updated.gif" /><img src="images/updated.gif" /><br />
			  <input type="radio" name="feature" value="new.gif" /><img src="images/new.gif" /><br /></td>
	<tr>
	  <td colspan="1" rowspan="3"  class="fieldname">Select Websites</td>
	  <td rowspan="3"  class="columnHeaderStatic">{section name=web loop=$web_id}<input type="checkbox" name="webs[]" checked="checked" style="width:20px; height:20px;" value="{$web_id[web]}" />{$web_name[web]}<br />{/section}</td>
	  	<td rowspan="3"  class="columnHeaderStatic">&nbsp;</td>
	  	<td  class="fieldname">Start Date</td>
	  	<td  class="columnHeaderStatic"> <input name="start_date" type="text" value="{$start_date}" style="width:150px;"/><script language="javascript" src="js/cal.js"></script>
				<a onClick='popUpCalendar(this,document.mainsports_form.start_date,"yyyy-mm-dd")' border="0" ><img src="images/cal.gif"></a></td>
	</tr>
	<tr>
	  <td  class="columnHeaderStatic"><span class="fieldname">End Date</span></td>
	  <td  class="columnHeaderStatic"><input name="stop_date" type="text" value="{$stop_date}" style="width:150px;"/><script language="javascript" src="js/cal.js"></script>
		<a onClick='popUpCalendar(this,document.mainsports_form.stop_date,"yyyy-mm-dd")' border="0" ><img src="images/cal.gif"></a></td>
	</tr>
	<tr>
	  <td  class="columnHeaderStatic">Make Line Bold </td>
	  <td  class="columnHeaderStatic"><input type="checkbox" name="bold" value="b" {if $bold eq "b"} checked="checked" {/if}/></td>
	</tr>
	
								  
                      <tr>
                        <td colspan="5" class="fieldname" align="left"><div align="center">
						<input type="hidden" name="main_id" value="{$main_id}" />
						<input type="hidden" name="sp_id" value="{$sp_id}" />
						<input type="hidden" name="mainsports_id" value="{$mainsports_id}">
						<input type="hidden" name="refer_check" value="{$main_refer}">
						{if $lines_id neq NULL}
						<input type="hidden" name="act" value="edit">
						<input type="hidden" name="lines_id" value="{$lines_id}">
						{else}
						 <input type="hidden" name="act" value="add">
						 {/if}
                           {if $lines_id eq NULL}  <!--<input name="select-all2" type="image" src="images/submit-button.gif" style="width:60px"> --><input type="submit" value="Submit" style="width:100px; color:#FFFFFF; background-color:#0958A6; font-weight:bold;"/>
						   {else}<!--<input name="submit21" type="image" src="images/edit-but.gif" style="width:60px"> --><input type="submit" value="Edit" style="width:100px; color:#FFFFFF; background-color:#0958A6; font-weight:bold;"/>{/if}

                        </div></td>
                      </tr>
					 
                  </table></td>
                </tr>
                <tr>
                  <td valign="top"><img src="images/blank.gif" alt="" title="" width="1" height="4"></td>
                </tr>
              </form>
            </table>
          </td>
        </tr>
      </table>
      <br>
    </td>
  </tr>
  <tr> 
    <td height="6" bgcolor="#FFFFFF"> </td>
  </tr>
</table> 
<!------------------ End of Body Section ------------------->
{include file="footer.tpl"}

