<table width="100%" border="0">
  <tr>
    <td><table width="100%" border="0" align="center" style="border:1px solid #000066;">
  <tr>
          <td width="3%" align="center" class="columnHeaderStatic">&nbsp;</td>
          <td width="17%" align="center" class="columnHeaderStatic"><span class="fieldname">Lines Name</span></td>
          <td width="10%" align="center" class="columnHeaderStatic"><span class="fieldname">SB Type</span></td>
          <td colspan="4" align="center" class="columnHeaderStatic"><span class="fieldname">Feature </span></td>
          <td width="18%" align="center" class="columnHeaderStatic"><span class="fieldname">Start Date</span></td>
          <td width="11%" align="center"  class="columnHeaderStatic"><span class="fieldname">End Date</span></td>
          <td width="4%" align="center"  class="columnHeaderStatic">&nbsp;</td>
        </tr>
</table>
</td>
  </tr>
  <tr>
    <td><table width="100%" align="center" style="border:1px solid #000066;">
      <form action="before_main.php?act=add" method="post" enctype="multipart/form-data" name="lines_form2" id="lines_form2" >
        <tr>
          <td class="fieldname" colspan="10" align="left"> {if $warning neq NULL}<img src="images/Ball_2.gif" />{$warning}{/if} </td>
        </tr>
        <tr>
          <td class="fieldname" colspan="10" align="left"><!--<font color="#990000">-->
              <!--*  If you will not choose the website name this main sports type will be applicable to all of you sites<br>
			  ** If you will not upload graphics only main sports name will appear with text and background color<br> </font>
			  --></td>
        </tr>
        <!--<tr>
          <td class="fieldname" colspan="10" align="left">cvbcvbcvbc</td>         </tr> -->
        
        {assign var=m value=1}
        {assign var=n value=0}
        {section name=index loop=10}
        <tr>
          <td width="17" align="center" class="columnHeaderStatic">&nbsp;</td>
          <td width="128" align="center" class="columnHeaderStatic"><input name="lines_name[]" type="text" id="lines_name[]" value="" style="width:100px;" /></td>
          <td width="100" align="center" class="columnHeaderStatic"><input name="sports_type[]" type="text" id="sports_type[]" value="" style="width:40px;"/></td>
          <td width="38" class="columnHeaderStatic"><input type="radio" name="feature[{$n}]" value="hot.gif" style="width:15px;" />
          <img src="images/hot.gif" /></td>
          <td width="38" valign="middle" class="columnHeaderStatic"><input type="radio" name="feature[{$n}]" value="live.gif" style="width:15px;"/>
          <img src="images/live.gif" /></td>
          <td width="39" valign="middle" class="columnHeaderStatic"><input type="radio" name="feature[{$n}]" value="updated.gif" style="width:15px;"/>
          <img src="images/updated.gif" /></td>
          <td width="32" valign="middle" class="columnHeaderStatic"><input type="radio" name="feature[{$n}]" value="new.gif" style="width:15px;"/>
          <img src="images/new.gif" /></td>
          <td width="194" align="center" valign="middle" class="columnHeaderStatic"><input name="start_date_{$n}" type="text" value="" style="width:80px;"/>
          <script language="JavaScript" src="js/cal.js" type="text/javascript"></script>
        <a onclick='popUpCalendar(this,document.lines_form2.start_date_{$n},&quot;yyyy-mm-dd&quot;)' border="0" ><img src="images/cal.gif" /></a></td>
          <td width="120" align="center" valign="middle" class="columnHeaderStatic"><input name="stop_date_{$n}" type="text" value="" style="width:80px;"/>
          <script language="JavaScript" src="js/cal.js" type="text/javascript"></script>
        <a onclick='popUpCalendar(this,document.lines_form2.stop_date_{$n},&quot;yyyy-mm-dd&quot;)' border="0" ><img src="images/cal.gif" /></a></td>
          <td width="24" align="center" valign="middle" class="columnHeaderStatic">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="10" class="fieldname" align="center" style="border-bottom:1px solid #000066;">&nbsp;</td>
        </tr>
        {assign var=m value=$m+1}
        {assign var=n value=$n+1}
        {/section}
        <input name="arrange" type="hidden"  id="affiliateFirstName" value="{$recomend+1}" />
        <tr>
          <td colspan="10" class="fieldname" align="center" style="padding-left:100px;"><input type="hidden" name="main_id" value="{$main_id}" />
          <input type="hidden" name="sp_id" value="{$sp_id}" />
          <input name="submit" type="submit" style="width:100px; color:#FFFFFF; background-color:#0958A6; font-weight:bold;" value="Add new" />
          </td>
        </tr>
      </form>
    </table></td>
  </tr>
</table>
