<table style="border:1px solid #000066;">
<form action="add_specificsports.php?act=add" method="post" enctype="multipart/form-data" name="add_specificsports_form" >
<tr>
            <td width='150' class="fieldname">
             specificsports Name           </td>
            <td class="columnHeaderStatic">
              <input name="specificsports_name" type="text" id="affiliateFirstName" value="{$specificsports_name}"> </td>
          </tr>
		  
		  <tr>
            <td width='150' class="fieldname">Start Date</td>
            <td class="columnHeaderStatic"><input name="start_date" type="text" value="{$start_date}"/><script language="javascript" src="js/cal.js"></script>
							<a onClick='popUpCalendar(this,document.add_specificsports_form.start_date,"yyyy-mm-dd")' border="0" ><img src="images/cal.gif"></a></td>
          </tr>
		  <tr>
            <td width='150' class="fieldname">End Date</td>
            <td class="columnHeaderStatic"><input name="stop_date" type="text" value="{$stop_date}"/><script language="javascript" src="js/cal.js"></script>
							<a onClick='popUpCalendar(this,document.add_specificsports_form.stop_date,"yyyy-mm-dd")' border="0" ><img src="images/cal.gif"></a></td>
          </tr>
		  <!--<tr>
            <td width='150' class="fieldname">
             Position in main sports           </td>
            <td class="columnHeaderStatic">-->
              <input name="arrange" type="hidden" id="affiliateFirstName" value="{$sp_arrange+1}"> </td>
          <!--</tr>-->
		  <!--<tr>
            <td width='150' class="fieldname">
             Status           </td>
            <td class="columnHeaderStatic">
              <select name="status">
			  <option value="1" {if $status eq 1} selected="selected"{/if}>Enable</option>
			  <option value="0" {if $status eq 0} selected="selected"{/if}>Disable</option>
			  
			  </select> </td>
          </tr>-->
		  <input type="hidden" name="status" value="1" />
		  <tr>
            <td width='150' colspan="2" class="fieldname" align="center">
			<input type="hidden" name="main_id" value="{$add_mainid_specific}" />
             <input type="submit" value="Add new" style="width:100px; color:#FFFFFF; background-color:#0958A6; font-weight:bold;"/>
              <!--<input name="select-all2" type="image" src="images/submit-button.gif" style="width:60px">--> </td>
          </tr>
		  </form>
</table>