{include file="header.tpl"}
{include file="left.tpl"}
<!-------------------- Body Section ------------------------>
{literal}
<script language="javascript" src="js/validation.js" type="text/javascript"></script>
<SCRIPT LANGUAGE="JavaScript">
function showColor(val) {
document.mainsports_form.hexval.value = val;
}
function showColor2(val) {
document.mainsports_form.textcolor.value = val;
}
</script>
{/literal}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td height="6" bgcolor="#FFFFFF"> </td>
  </tr>
  <tr> 
    <td bgcolor="#FFFFFF"><br>
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#B5DE97" class="border">
        <tr> 
          <td width="50%" height="25" bgcolor="#0D4686" style="padding-left:10px;"><strong><font color="#FFFFFF">PREVIEW</font></strong></td>
          <td align="right" bgcolor="#0D4686" style="padding-right:10px;">
		  <a href="javascript:history.back();" style="text-decoration:none;"><strong><font color="#FFFFFF">&laquo; Back</font></strong></a>
		  </td>
        </tr>
        <tr> 
          <td height="10" colspan="2"> </td>
        </tr>
        <tr> 
          <td height="25" colspan="2" align="center">
              <table width="90%"  border="0" align="center" cellpadding="0" cellspacing="0">
              <form action="" method="post" enctype="multipart/form-data" name="mainsports_form" >
                <tr>
                  <td><img src="images/blank.gif" alt="" title="" width="1" height="4"></td>
                </tr>
                <tr>
                  <td valign="top" width="100%"><table width="100%" style="border:1px solid #000066;" cellspacing="2" cellpadding="2">
                      
                      
		  <tr>
            <td width='33%' class="fieldname"  align="center" valign="top">
			<table style="border:1px solid #000066;">
			{section name=index1 loop=$main_id}
			<tr><td align="center" bordercolor="#336600" width="100%"><b>
			<input type="text" name="main_sports1[]" value="{$main_name[index1]}" style="width:150px;">
			<input type="text" name="main_arrange1[]" value="{$main_arrange[index1]}" style="width:20px;">
			<input name="submit" type="submit" value="Change" style="width:60px; cursor:pointer;">
			</b>
			</td></tr>
			<!----------------->
			{section name=index43 loop=$lines_id33[index1]}
			<tr><td bgcolor=""><font color="">{$lines_name33[index1][index43]}</font></td></tr>
			{/section}
			<!------------------>
			{section name=index49 loop=$specific_id[index1]}
			<tr><td bgcolor="#666633">{$specific_name[index1][index49]}</td></tr>
			{section name=index55 loop=$lines_id[index1][index49]}
			
			<tr><td bgcolor="">{$lines_name[index1][index49][index55]}</td></tr>
			
			{/section}
			{/section}
			{/section}
					
			</table>
			 </td>
			  
			  
			  
			  
			  <td width="33%" valign="top" align="center">
			  <table style="border:1px solid #000066;">
			{section name=index2 loop=$main_id4}
			<tr><td align="center"><b>{$main_name4[index2]}</b></td></tr>
			
			{section name=index45 loop=$lines_id34[index2]}
			<tr><td bgcolor="">{$lines_name34[index2][index45]}</td></tr>
			{/section}
			
			
			{section name=index4 loop=$specific_id5[index2]}
			<tr><td bgcolor="{$specific_back_col5[index2][index4]}"><font color="{$specific_text_col5[index2][index4]}">{$specific_name5[index2][index4]}</font></td></tr>
			
			{section name=index51 loop=$lines_id6[index2][index4]}
			<tr><td bgcolor="">{$lines_name6[index2][index4][index51]}</td></tr>
			{/section}
			{/section}
			{/section}
			
			
			</table >
			  </td>
			  <td width="33%" valign="top" align="center">
			  <table style="border:1px solid #000066;">
			{section name=index3 loop=$main_id7}
			<tr><td><b>{$main_name7[index3]}</b></td></tr>
			
			{section name=index44 loop=$lines_id35[index3]}
			<tr><td bgcolor="">{$lines_name35[index3][index44]}</td></tr>
			{/section}
			
			{section name=index4 loop=$specific_id8[index3]}
			<tr><td bgcolor="{$specific_back_col8[index3][index4]}"><font color="{$specific_text_col8[index3][index4]}">{$specific_name8[index3][index4]}</font></td></tr>
			
			{section name=index59 loop=$lines_id9[index3][index4]}
			<tr><td bgcolor="">{$lines_name9[index3][index4][index59]}</td></tr>
			{/section}
			{/section}
			{/section}
			
						
			</table>
			  </td>
          </tr>
		  
					 
                  </table></td>
                </tr>
                <tr>
                  <td valign="top"><img src="images/blank.gif" alt="" title="" width="1" height="4"></td>
                </tr>
              </form>
            </table>
            </td>
        </tr>
      </table>
      <br>
    </td>
  </tr>
  <tr> 
    <td height="6" bgcolor="#FFFFFF"> </td>
  </tr>
</table> 
<!------------------ End of Body Section ------------------->
{include file="footer.tpl"}

