{include file="header.tpl"}

<!-------------------- Body Section ------------------------>
{literal}
<script language="javascript" src="js/validation.js" type="text/javascript"></script>
<SCRIPT LANGUAGE="JavaScript">
function showColor(val) {
document.mainsports_form.hexval.value = val;
}
function showColor2(val) {
document.mainsports_form.textcolor.value = val;
}

function shw32(par32)
{
if(par32=="rebrand2")
{
document.getElementById("rebrand2").style.display='';
}
}
</script>
{/literal}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td height="6" bgcolor="#FFFFFF"> </td>
  </tr>
  <tr> 
    <td bgcolor="#FFFFFF"><br>
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="border">
        <tr> 
          <td width="50%" height="25" bgcolor="#0958A6" style="padding-left:10px;"><strong><font color="#FFFFFF">MAIN SPORTS</font></strong></td>
          <td align="right" bgcolor="#0958A6" style="padding-right:10px;">
		  <a href="javascript:history.back();" style="text-decoration:none;"><strong><font color="#FFFFFF">&laquo; Back</font></strong></a>
		  </td>
        </tr>
        <tr> 
          <td height="10" colspan="2"> </td>
        </tr>
        <tr> 
          <td height="25" colspan="2" align="center">
              <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
              
                <tr>
                  <td><img src="images/blank.gif" alt="" title="" width="1" height="4"></td>
                </tr>
				 
                <tr>
                  <td valign="top">
				 
				  <table width="100%"  style="border:1px solid #000066;" cellspacing="2" cellpadding="2">
                     <form name="update_form1" action="?act=update1" method="post">
              <tr>
                <td align="center" valign="top"  bgcolor="#0958A6">
            <a href="site_view.php"><font color="#FFFFFF"><strong>Website	Management	Area</strong></font></a> </td>
			  
			    <td align="center"  bgcolor="#0958A6"><a href="before_main.php"><font color="#FFFFFF"><strong>Main Management Area</strong></font></a> </td>
			    <td align="center"  bgcolor="#0958A6"><a href="main_sports.php"><font color="#FFFFFF"><strong>ADV</strong></font></a></td>
			    <td>&nbsp;</td>
			    <td>&nbsp;</td>
              </tr>    
			       
		  <tr>
            <td width='33%' class="fieldname"  align="center" valign="top">
			<table style="border:1px solid #000066;" >
			<tr><td colspan="4"><a href="?act6=create_add_mainsports_form&column=1" class="seven">Add new<!--<img src="images/add_new.gif" border="0" />--></a></td>
			<tr><td width="" height="25" bgcolor="#0958A6" style="padding-left:10px;" colspan="8" align="center"><font color="#FFFFFF"><strong>Main Sports</strong></font></td>
			</tr>
			{section name=index1 loop=$main_id1}
			
			<tr><td height="18" bgcolor="#FFFFFF" width="40%"><input type="text" name="main_name1[]" value="{$main_name[index1]}" style="width:100px;" /></td>
			<td height="18" bgcolor="#FFFFFF" width="10%"><!--<input type="text" name="arrange1[]" value="{$main_arrange[index1]}" style="width:30px;"  />-->{if $main_arrange[index1] neq $min_arr1} <a href="?act=main1_up&main_upid1={$main_id1[index1]}&column=1"><img src="images/uparrow.png" border="0" /></a>{/if}</td>
			<td height="18" bgcolor="#FFFFFF" width="10%">{if $main_arrange[index1] neq $max_arr1}<a href="?act=main1_down&main_downid1={$main_id1[index1]}&column=1"><img src="images/downarrow.png" border="0" /></a>{/if} </td>
			<td height="18" bgcolor="#FFFFFF" width="10%" align="center"><a href="?act=change_main_status&main_status_id={$main_id1[index1]}">{if $main_status[index1] eq 1}<img src="images/active.gif" border="0"/>{else}<img src="images/deactive.gif" border="0"/>{/if}</a></td>
			<td height="18" bgcolor="#FFFFFF" width="10%" align="center"><a href="?act=delete_main&main_del_id={$main_id1[index1]}" onclick="return confirm('Are you sure to delete?')"><img src="images/no.png" border="0" /></a></td>
			<td height="18" bgcolor="#FFFFFF" width="5%" ><!--<input type="submit" value="Update" style="width:50px;cursor: pointer" />--><a href="?act=show_specific_sports&main_id={$main_id1[index1]}" class="seven" >Next</a></td>
			<td bgcolor="#FFFFFF" width="5%" ><a href="add_mainsports.php?sports_id={$main_id1[index1]}&chk=main_refer" class="seven">ADV</a></td>
			<td bgcolor="#FFFFFF"><a href="?act=main1_right&main_rightid1={$main_id1[index1]}&column=1"><img src="images/right.png" border="0" /></a></td>
			</tr>
			<input type="hidden" name="update_id1[]" value="{$main_id1[index1]}" />
			
			{/section}
			</table>
			 </td>
			  
			  
			  
			  
			  <td width="33%" valign="top" align="center">
			  <table style="border:1px solid #000066;">
			  <tr><td colspan="5"><a href="?act6=create_add_mainsports_form&column=2" class="seven">Add new<!--<img src="images/add_new.gif" border="0" />--></a></td>
			  <tr><td width="136" height="25" bgcolor="#0958A6" style="padding-left:10px;" colspan="9" align="center"><font color="#FFFFFF"><strong>Main Sports </strong></font></td>
			  </tr>
			{section name=index2 loop=$main_id4}
			
			<tr><td bgcolor="#FFFFFF"><a href="?act=main1_left&main_leftid1={$main_id4[index2]}&column=2"><img src="images/left.png" border="0" /></a></td>
			<td height="18" bgcolor="#FFFFFF" width="20%"><input type="text" name="main_name2[]" value="{$main_name4[index2]}" style="width:100" /></td>
			  
			  <td height="18" bgcolor="#FFFFFF"><!--<input type="text" name="arrange2[]" value="{$main_arrange4[index2]}" style="width:30px;" />-->{if $main_arrange4[index2] neq $min_arr2} <a href="?act=main1_up&main_upid1={$main_id4[index2]}&column=2"><img src="images/uparrow.png" border="0" /></a>{/if}</td>
			<td height="18" bgcolor="#FFFFFF">{if $main_arrange4[index2] neq $max_arr2}<a href="?act=main1_down&main_downid1={$main_id4[index2]}&column=2"><img src="images/downarrow.png" border="0" /></a>{/if} </td>
			<td height="18" bgcolor="#FFFFFF" align="center"><a href="?act=change_main_status&main_status_id={$main_id4[index2]}">{if $main_status4[index2] eq 1}<img src="images/active.gif" border="0"/>{else}<img src="images/deactive.gif" border="0" />{/if}</a></td>
			<td height="18" bgcolor="#FFFFFF" align="center"><a href="?act=delete_main&main_del_id={$main_id4[index2]}" onclick="return confirm('Are you sure to delete?')"><img src="images/no.png" border="0" /></a></td>
			<td height="18" bgcolor="#FFFFFF" width="10%"><!--<input type="submit" value="Update" style="width:50px;cursor: pointer"/>--><a href="?act=show_specific_sports&main_id={$main_id4[index2]}" class="seven" >Next</a></td>
			<td bgcolor="#FFFFFF" width="10%"><a href="add_mainsports.php?sports_id={$main_id4[index2]}&chk=main_refer" class="seven">ADV</a></td>
			<td bgcolor="#FFFFFF"><a href="?act=main1_right&main_rightid1={$main_id4[index2]}&column=2"><img src="images/right.png" border="0" /></a></td>
			</tr>
			<input type="hidden" name="update_id2[]" value="{$main_id4[index2]}" />
			
			{/section}
			</table >
			  </td>
			  <td width="33%" valign="top" align="center">
			  <table style="border:1px solid #000066;">
			  <tr><td colspan="5"><a href="?act6=create_add_mainsports_form&column=3" class="seven">Add new<!--<img src="images/add_new.gif" border="0" />--></a></td>
			  <tr><td width="136" height="25" bgcolor="#0958A6" style="padding-left:10px;" colspan="9" align="center"><font color="#FFFFFF"><strong>Main Sports </strong></font></td>
			  </tr>
			{section name=index3 loop=$main_id7}
			
			<tr> <td bgcolor="#FFFFFF"><a href="?act=main1_left&main_leftid1={$main_id7[index3]}&column=3"><img src="images/left.png" border="0" /></a></td>
			<td height="18" bgcolor="#FFFFFF"><input type="text" name="main_name3[]" value="{$main_name7[index3]}" style="width:100;" /></td>
			 
			  <td height="18" bgcolor="#FFFFFF"><!--<input type="text" name="arrange3[]" value="{$main_arrange7[index3]}" style="width:30px;" />-->{if $main_arrange7[index3] neq $min_arr3} <a href="?act=main1_up&main_upid1={$main_id7[index3]}&column=3"><img src="images/uparrow.png" border="0" /></a>{/if}</td>
			<td height="18" bgcolor="#FFFFFF" width="10%">{if $main_arrange7[index3] neq $max_arr3}<a href="?act=main1_down&main_downid1={$main_id7[index3]}&column=3"><img src="images/downarrow.png" border="0" /></a>{/if} </td>
			<td height="18" bgcolor="#FFFFFF" width="10%" align="center"><a href="?act=change_main_status&main_status_id={$main_id7[index3]}">{if $main_status7[index3] eq 1}<img src="images/active.gif" border="0"/>{else}<img src="images/deactive.gif" border="0" />{/if}</a></td>
			<td height="18" bgcolor="#FFFFFF" width="10%" align="center"><a href="?act=delete_main&main_del_id={$main_id7[index3]}" onclick="return confirm('Are you sure to delete?')"><img src="images/no.png" border="0" /></a></td>
			<td height="18" bgcolor="#FFFFFF" width="10%"><!--<input type="submit" value="Update" style="width:50px;cursor: pointer"/>--><a href="?act=show_specific_sports&main_id={$main_id7[index3]}" class="seven" >Next</a></td>
			<td bgcolor="#FFFFFF" width="10%"><a href="add_mainsports.php?sports_id={$main_id7[index3]}&chk=main_refer" class="seven">ADV</a></td>
			</tr>
			<input type="hidden" name="update_id3[]" value="{$main_id7[index3]}" />
			
			{/section}
			</table>
			
			  </td>
          </tr>
		  
		  <!----------------changes---------------------------->
		 <!-- <tr id="rebrand2" style="display:none; "><td><input type="submit" value="Update" style="width:50px;cursor: pointer"/></td></tr>--><tr ><td colspan="3"><input type="submit" value="Update" style="width:100px; color:#FFFFFF; background-color:#0958A6; font-weight:bold;"/>&nbsp;&nbsp;<b>Last  Modified:</b>&nbsp;{$main_created}  <a href="genfile.php?web_id=2">Genarate File</a>&nbsp;<a href="http://64.40.114.205/livesports/bettinglines/bettinglines.php"  target="_blank">Preview Allhorseracing.com</a> &nbsp;<a href="http://gohorsebetting.com/sportsbetting/live/bettinglines/bettinglines.php"  target="_blank">Preview Gohorsebetting.com</a>&nbsp;<a href="http://horsebetting.com/livesports/hb_allsports.php"  target="_blank">Preview Horsebetting.com</a>&nbsp;<a href="http://horsebetting.com/livesports/hb_allsports_new.php"  target="_blank">Preview Horsebetting.com(New)</a>&nbsp;<a href="http://64.40.114.205/livesports/bettinglines/bettinglines_new.php"  target="_blank">Preview Allhorseracing.com (New)</a></td></tr>
		 
		  <!-------------------changes end------------------------->
		  
				 </form>
                  </table></td>
                </tr>
				
				{if $add_mainsports_form neq NULL}
				<tr><td>&nbsp;</td></tr>
				{include file="add_main.tpl"}
				{/if}
                <tr>
                  <td valign="top"><img src="images/blank.gif" alt="" title="" width="1" height="4"></td>
                </tr>
              {if $specific_show_id neq NULL}
			  <tr>
    <td bgcolor="" colspan="3"><table width="50%" style="border:1px solid #000066;" align="left" cellpadding="0" cellspacing="0"  class="border">
      <tr>
        <td height="25" bgcolor="#0958A6" style="padding-left:10px;"><strong><font color="#FFFFFF"> {$mainsports_name} - Specific Sports -></font></strong></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
			<td height="25"><table width="20%" border="0" cellpadding="0" cellspacing="0" bgcolor="#89ADD7">
          <tr>
            <td height="22"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="1">
              <tr align="center">
                <td height="22" bgcolor="#E4EBF6"><a href="?main_id={$main_id}&act9=create_add_specific_form&act=show_specific_sports" class="one">Add New</a></td>
                <!--<td height="22" bgcolor="#E4EBF6"><a href="before_main.php" class="one">Back</a></td>
				<td height="22" bgcolor="#E4EBF6">Total Records : {$record_count}</td>-->
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="25" valign="top"><table width="100%" border="0" cellspacing="1" cellpadding="1" style="border:1px solid #000066;">
		<form name="specific_sports" method="post" action="?act=show_specific_sports&update=update_specific">
          <tr align="center">
            <td width="14%" height="40" rowspan="2" bgcolor="#0958A6"><font style="color:#FFFFFF;"><b> Name</b></font></td>
			<td height="20" bgcolor="#0958A6" rowspan="2" colspan="2" class="header"><font style="color:#FFFFFF;"><b>Position</b></font></td>
			<!--<td height="20" bgcolor="#0D4686" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>Modify</b></font></td>--> 
            <td width="9%" height="20" rowspan="2" bgcolor="#0958A6" class="header"><font style="color:#FFFFFF;"><b>Live</b></font></td>
			<td width="13%" height="20" rowspan="2" bgcolor="#0958A6" class="header"><font style="color:#FFFFFF;"><b>Visible</b></font></td>
			<td width="19%" height="20" rowspan="2" bgcolor="#0958A6" class="header"><font style="color:#FFFFFF;"><b>See Lines</b></font></td>
            <td width="18%" rowspan="2" bgcolor="#0958A6" class="bodyb"><font style="color:#FFFFFF;"><b>ADV</b></font></td>
            <td width="18%" rowspan="2" bgcolor="#0958A6" class="bodyb"><font style="color:#FFFFFF;"><b>Anchor</b></font></td>
            <td width="5%" height="20" rowspan="2" bgcolor="#0958A6" class="header"><font style="color:#FFFFFF;"><b>Delete</b></font></td>
		  </tr>
          <tr align="center">            </tr>
			{section name=sports loop=$sports_id22}
			
          <tr align="center">
            <td height="18" bgcolor="#FFFFFF"><font style="color:#FFFFFF;">
             <input type="text" name="specific_sp[]" value="{$specific_sports_name[sports]}" style="width:150px;" /></font></td>
            
			<td width="11%" height="18" bgcolor="#FFFFFF"><!--<input type="text" name="arrange[]" value="{$position[sports]}" style="width:50px;" />-->
			{if $position[sports] neq $min_arr_sp} <a href="?main_id={$main_id}&act=show_specific_sports&act_arrsp=up&sp_arr_id={$sports_id22[sports]}"><img src="images/uparrow.png" border="0" /></a>{/if}</td>
			<td width="11%" height="18" bgcolor="#FFFFFF">{if $position[sports] neq $max_arr_sp}<a href="?main_id={$main_id}&act=show_specific_sports&act_arrsp=down&sp_arr_id={$sports_id22[sports]}"><img src="images/downarrow.png" border="0" /></a>{/if}			</td>
			
            <td height="18" bgcolor="#FFFFFF"><a href="?main_id={$main_id}&act=show_specific_sports&act_statsp=change_sp_stat&sp_stat_id={$sports_id22[sports]}">{if $status[sports] eq 1}<img src="images/active.gif" border="0" />{else}<img src="images/deactive.gif" border="0" />{/if}</a></td>
			<td height="18" bgcolor="#FFFFFF"><a href="?main_id={$main_id}&act=show_specific_sports&act_statsp=change_sp_stat2&sp_stat_id={$sports_id22[sports]}">{if $linesstatus[sports] eq 1}<img src="images/active.gif" border="0" />{else}<img src="images/deactive.gif" border="0" />{/if}</a></td>
			<td height="18" bgcolor="#FFFFFF"><a href="?main_id={$main_id}&act=show_specific_sports&sp_id={$sports_id22[sports]}&act2=show_lines" class="seven">See Lines</a></td>
            <td bgcolor="#FFFFFF"><a href="add_specificsports.php?sports_id={$sports_id22[sports]}&main_id={$main_id}&chk=main_refer" class="seven">ADV</a></td>
			  <td height="18" bgcolor="#FFFFFF"><font style="color:#FFFFFF;">
             <input type="text" name="specific_anchor[]" value="{$specific_sports_anchor[sports]}" style="width:150px;" /></font></td>
             <td bgcolor="#FFFFFF"><a href="?sports_id={$sports_id22[sports]}&act=show_specific_sports&main_id={$main_id}&del_sp_act=dele_specific" onClick="return confirm('Are you sure?');" class="seven"><img src="images/no.png" border="0" /></a></td>
          </tr><input type="hidden" name="update_id[]" value="{$sports_id22[sports]}" />
		  <input type="hidden" name="main_id2" value="{$main_id}" />
		   
		  {sectionelse}
		  <tr><td height="50" bgcolor="#0958A6" colspan="10" align="center"><font style="color:#FFFFFF;"><strong>
             No specific sports available</strong></font></td></tr>
			 
			
			 {/section}
			 <tr><td colspan="8">&nbsp;&nbsp;</td></tr>
			  <tr><td colspan="8"><input type="submit" value="Update" name="submit" style="width:100px; color:#FFFFFF; background-color:#0958A6; font-weight:bold;" />&nbsp;&nbsp;<b>Last  Modified:</b>&nbsp;{$main_created4}</td></tr>
			  <tr><td colspan="8">&nbsp;&nbsp;</td></tr>
			 </form>
        </table></td>
      </tr>
	  {if $add_specific_form neq NULL}
	  <tr><td>&nbsp;&nbsp;</td></tr>
	  <tr><td>&nbsp;&nbsp;</td></tr>
	  <tr><td colspan="8" align="center">
	  {include file="add_specific.tpl"}
	  {/if}
	  </td></tr>		
      <tr>
        <td height="10"></td>
      </tr>
    </table></td>
  </tr>
			  {/if}
			  {if $show_lines neq NULL}
			  <tr>
    <td bgcolor=""><table width="50%" style="border:1px solid #000066;" align="left" cellpadding="0" cellspacing="0" class="border">
      <tr>
        <td height="25" bgcolor="#0958A6" style="padding-left:10px;"><strong><font color="#FFFFFF">LINES UNDER {$specific_name}</font></strong></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td height="25"><table width="35%" border="0" cellpadding="0" cellspacing="0" bgcolor="#89ADD7">
          <tr>
            <td height="22"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="1">
              <tr align="center">
                <td height="22" bgcolor="#E4EBF6" width="40%"><a href="before_main.php?main_id={$main_id}&sp_id={$sp_id}&act=show_specific_sports&act2=show_lines&act10=create_add_lines_form" class="one">Add New</a></td>
				<!--<td height="22" bgcolor="#E4EBF6"><a href="javascript:history.back();" class="one">Back</a></td>-->
                
				<td height="22" bgcolor="#E4EBF6">Total Records : {$record_count}</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="25" valign="top">
		<a name="middle">
		<table width="50%" border="0" align="left" cellpadding="1" cellspacing="1">
		<form name="lines_form" method="post" action="?update=update_lines&act=show_specific_sports&act2=show_lines">
          <tr align="center">
            <td height="40" rowspan="2" bgcolor="#0958A6"><font style="color:#FFFFFF;"><b>Lines Name</b></font></td>
			 <td height="20" bgcolor="#0958A6" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>SB Type </b></font></td>
			 <td height="20" bgcolor="#0958A6" rowspan="2" colspan="2" class="header"><font style="color:#FFFFFF;"><b>Position</b></font></td>
			 
            <td height="20" bgcolor="#0958A6" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>Visible</b></font></td>
            <td bgcolor="#0958A6" rowspan="2" class="bodyb"><font style="color:#FFFFFF;"><b>ADV</b></font></td>
            <td height="20" bgcolor="#0958A6" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>Delete</b></font></td>
		  </tr>
          <tr align="center">
           
            </tr>
			{section name=lines loop=$lines_id}
			
          <tr align="center">
            <td height="18" bgcolor="#FFFFFF"><font style="color:#FFFFFF;">
             <input type="text" name="update_lines[]" value="{$lines_name[lines]}" style="width:150px;" /></font></td>
            <td height="18" bgcolor="#FFFFFF"><input type="text" value="{$sports_type[lines]}" name="sports_types[]" style="width:80px;" /></td>
			<td height="18" bgcolor="#FFFFFF">
			<!--<input type="text" name="arrange[]" value="{$arrange[lines]}" style="width:25px;" />-->
			{if $arrange[lines] neq $lines_min_arr} <a href="?lines_id={$lines_id[lines]}&main_id={$main_id}&act=show_specific_sports&sp_id={$sp_id}&act2=show_lines&act_arr_lines=up"><img src="images/uparrow.png" border="0" /></a>{/if}</td>
			<td height="18" bgcolor="#FFFFFF">{if $arrange[lines] neq $lines_max_arr}<a href="?lines_id={$lines_id[lines]}&main_id={$main_id}&act=show_specific_sports&sp_id={$sp_id}&act2=show_lines&act_arr_lines=down"><img src="images/downarrow.png" border="0" /></a>{/if}
			
			</td>
			<!----><input type="hidden" name="update_id[]" value="{$lines_id[lines]}" />
			<input type="hidden" name="update_sp_id" value="{$sp_id}" />
			<input type="hidden" name="main_id3" value="{$main_id}" />
            <td height="18" bgcolor="#FFFFFF"><a href="?lines_id={$lines_id[lines]}&main_id={$main_id}&act=show_specific_sports&sp_id={$sp_id}&act2=show_lines&act_stat_lines=change_lines_status">{if $lstatus[lines] eq 1}<img src="images/active.gif"  border="0"/>{else}<img src="images/deactive.gif" border="0"/>{/if}</a></td>
            <td bgcolor="#FFFFFF"><!--<a href="lines_view.php?lines_id={$lines_id[lines]}&sp_id={$sp_id}&main_id={$main_id}" class="seven">Advanced</a> --><a href="add_lines.php?lines_id={$lines_id[lines]}&sp_id={$sp_id}&main_id={$main_id}&chk=main_refer" class="seven">ADV</a></td>
            <td bgcolor="#FFFFFF"><a href="?lines_id={$lines_id[lines]}&line_del_act=delete_lines&sp_id={$sp_id}&main_id={$main_id}&act2=show_lines&act=show_specific_sports" onClick="return confirm('Are you sure?');" class="seven"><img src="images/no.png" border="0" /></a></td>
          </tr>
		  
		  {sectionelse}
		  <tr><td height="50" bgcolor="#0958A6" colspan="10" align="center"><font style="color:#FFFFFF;"><strong>
             No lines available</strong></font></td></tr>
			 {/section}
			 <tr><td colspan="7">&nbsp;&nbsp;</td></tr>
			  <tr><td colspan="7"><input type="submit" value="Update" name="submit" style="width:100px; color:#FFFFFF; background-color:#0958A6; font-weight:bold;"/>
			  &nbsp;&nbsp;<b>Last  Modified:</b>&nbsp;{$main_created7}</td>
			  </tr>
			  <tr><td colspan="7"></td></tr>
			 </form>
			 
        </table></td>
      </tr>
	  {if $add_lines_form neq NULL}
	  <tr><td>&nbsp;&nbsp;</td></tr>
	  <tr><td>&nbsp;&nbsp;</td></tr>
	  <tr><td colspan="8" align="center">
	  {include file="add_linesports.tpl"}
	  {/if}
	  </td></tr>
      <tr>
        <td height="10"></td>
      </tr>
    </table></td>
  </tr>
			  {/if}
            </table>
          </td>
        </tr>
      </table>
      <br>
    </td>
  </tr>
  <tr> 
    <td height="6" bgcolor="#FFFFFF"> </td>
  </tr>
</table> 
<!------------------ End of Body Section ------------------->
{include file="footer.tpl"}

