{literal}
<script language="javascript" src="js/validation.js" type="text/javascript"></script>
<SCRIPT LANGUAGE="JavaScript">
function showColor(val) {
document.mainsports_form.hexval.value = val;
}
function showColor2(val) {
document.mainsports_form.textcolor.value = val;
}
function rules_valu(x)
{   
	alert(x.replace(/<br>/g,"\n"));
		
}
function MM_popupMsg(msg) { //v1.0
  alert(msg);
}
</script>
{/literal}
<link rel="stylesheet" href="{$web_css}" type="text/css">

             
               
                  <table width="50%" align="center" cellpadding="0" cellspacing="0" border="0">
                       <form action="" method="post" enctype="multipart/form-data" name="mainsports_form" >
                      
		  <tr>
            <td class="fieldname"  align="center" valign="top">
			<table border="1" bordercolor="#ffffff" cellpadding="2" cellspacing="0">
			
			{section name=index1 loop=$main_id}
		{if $main_image[index1] neq NULL}	
		<tr><td align="center" {if $main_back_col[index1] neq NULL} class="{$main_back_col[index1]}"{else}class="{$lines_back_col}" {/if}{if $main_image_only[index1] neq 0}height=60 {else}height=80{/if} valign="middle">
			
			<img src="uploaded_images/main_sports_images/{$main_image[index1]}" border="0" {if $main_image_only[index1] neq 0} height=52{else}height=60{/if} align="middle"/>
			{if $add_anchor_main[index1] neq NULL}<a name="{$add_anchor_main[index1]}"></a>{/if}
			</td></tr>
		{/if}
			<!----------------->
			{section name=index43 loop=$lines_id33[index1]}
			<tr><td bgcolor="{$lines_back_col33}"><a href="https://sportsbook.worldgaming.net/www.allhorseracing.net/cgi_bin/sb23sbodds.cgi?SPORTTYPE={$lines_type33[index1][index43]}"  class="seven"><font color="{$lines_text_col33}">{$lines_name33[index1][index43]}</font></a>{if $lines_feature33[index1][index43] neq NULL}<img src="images/{$lines_feature33[index1][index43]}" border="0" />{/if}</td></tr>
			{/section}
			<!------------------>
			{section name=index49 loop=$specific_id[index1]}
			{if $lines_status[index1][index49] eq 1}<tr><td {if $specific_back_col_assign[index1][index49] neq NULL} class="{$specific_back_col_assign[index1][index49]}"  {else}class="{$specific_back_col}" {/if}{if $sp_charecter[index1][index49] gt 26}  height=40 {else}height=20{/if}><font {if $specific_text_col_assign[index1][index49] neq NULL} class="{$specific_text_col_assign[index1][index49]}" {else}class="{$specific_back_col}" {/if} >{$specific_name[index1][index49]}{if $add_anchor[index1][index49] neq NULL}<a name="{$add_anchor[index1][index49]}"></a>{/if}</font></td></tr>{/if}
			{section name=index55 loop=$lines_id[index1][index49]}
			
			<tr><td {if $lines_text_col_assign[index1][index49][index55] neq NULL} class="{$lines_text_col_assign[index1][index49][index55]}"{else}class="{$lines_back_col}" {/if}{if $lines_charecter[index1][index49][index55] gt 26}  height=40 {else}height=20{/if} ><font {if $lines_text_col_assign[index1][index49][index55] neq NULL} class="{$lines_text_col_assign[index1][index49][index55]}" {else}class="{$lines_back_col}" {/if} >
			{if $bold[index1][index49][index55] neq b }
					{if $new_window[index1][index49][index55] == 'new'}
					<a href="#" onclick="window.open('/{$new_window_link[index1][index49][index55]}','gamewindow1','height=700,width=480,scrollbars=no,top=0,left=0');history.go(0);"  class="seven">
					
					{elseif $new_window[index1][index49][index55] == 'parent_window'}
					<a target="_parent" href="/{$new_window_link[index1][index49][index55]}" class="seven">
					{else}
					{if $new_window_link[index1][index49][index55] neq NULL}
					<a target="_self" href="/{$new_window_link[index1][index49][index55]}" class="seven">
					{else}
					<a href="https://sportsbook.worldgaming.net/www.allhorseracing.net/cgi_bin/sb23sbodds.cgi?SPORTTYPE={$lines_type[index1][index49][index55]}"  class="seven">
					{/if}
					{/if}
		    {$lines_name[index1][index49][index55]}
		{else}
		<strong>
			{if $new_window[index1][index49][index55] == 'new'}
			<a href="#" onclick="window.open('/{$new_window_link[index1][index49][index55]}','gamewindow1','height=700,width=480,scrollbars=no,top=0,left=0');history.go(0);"  class="seven">
			{elseif $new_window[index1][index49][index55] == 'lines_window'}
			<a target="_self" href="/{$new_window_link[index1][index49][index55]}" class="seven">
			{elseif $new_window[index1][index49][index55] == 'parent_window'}
			<a target="_parent" href="/{$new_window_link[index1][index49][index55]}" class="seven">
			{else}
			{if $new_window_link[index1][index49][index55] neq NULL}
					<a target="_self" href="/{$new_window_link[index1][index49][index55]}" class="seven">
					{else}
					<a href="https://sportsbook.worldgaming.net/www.allhorseracing.net/cgi_bin/sb23sbodds.cgi?SPORTTYPE={$lines_type[index1][index49][index55]}"  class="seven">
					{/if}
			
			{/if}
			{$lines_name[index1][index49][index55]}</a>
		</strong>{/if} <a href="#"onclick="rules_valu('{$rules_text[index1][index49][index55]}')">{$add_rules[index1][index49][index55]}</a></font>{if $lines_feature[index1][index49][index55] neq NULL}<img src="images/{$lines_feature[index1][index49][index55]}" border="0" />{/if}</td></tr>
			
			
			{/section}
			{/section}
			{/section}
						
			</table>
			 </td>

			  <td  valign="top" align="center">
			  <table border="1" bordercolor="#ffffff" cellpadding="2" cellspacing="0">
			{section name=index2 loop=$main_id4}
		{if $main_image4[index2] neq NULL}	
		<tr><td align="center" {if $main_back_col4[index2] neq NULL} class="{$main_back_col4[index2]}"{else}class="{$lines_back_col6}" {/if}{if $main_image_only4[index2] neq 0}height=60 {else}height=80{/if} valign="middle" >
			
			<img src="uploaded_images/main_sports_images/{$main_image4[index2]}" border="0" {if $main_image_only4[index2] neq 0} height=52{else}height=60{/if} align="middle" />
			{if $add_anchor_main4[index2] neq NULL}<a name="{$add_anchor_main4[index2]}"></a>{/if}
			</td></tr>
		{/if}
			
			{section name=index45 loop=$lines_id34[index2]}
			<tr><td bgcolor="{$lines_back_col34}"><a href="https://sportsbook.worldgaming.net/www.allhorseracing.net/cgi_bin/sb23sbodds.cgi?SPORTTYPE={$lines_type34[index2][index45]}"  class="seven"><font color="{$lines_text_col34}">{$lines_name34[index2][index45]}</font></a>{if $lines_feature34[index2][index45] neq NULL}<img src="images/{$lines_feature34[index2][index45]}" border="0" />{/if}</td></tr>
			{/section}
			
			
			{section name=index4 loop=$specific_id5[index2]}
			{if $lines_status5[index2][index4] eq 1}<tr><td {if $specific_back_col_assign5[index2][index4] neq NULL} class="{$specific_back_col_assign5[index2][index4]}"{else}class="{$specific_back_col5}" {/if}{if $sp_charecter5[index2][index4] gt 26}  height=40 {else}height=20{/if} ><font {if $specific_back_col_assign5[index2][index4] neq NULL} class="{$specific_back_col_assign5[index2][index4]}" {else}class="{$specific_back_col5}" {/if} >{$specific_name5[index2][index4]}{if $add_anchor5[index2][index4] neq NULL}<a name="{$add_anchor5[index2][index4]}"></a>{/if}</font></td></tr>{/if}
			
			{section name=index51 loop=$lines_id6[index2][index4]}
			<tr><td {if $lines_text_col_assign6[index2][index4][index51] neq NULL} class="{$lines_text_col_assign6[index2][index4][index51]}" {else}class="{$lines_back_col6}" {/if}{if $lines_charecter6[index2][index4][index51] gt 26}  height=40 {else}height=20{/if}><font {if $lines_text_col_assign6[index2][index4][index51] neq NULL} color="{$lines_text_col_assign6[index2][index4][index51]}" {else}class="{$lines_back_col6}" {/if} >{if $bold6[index2][index4][index51] neq b}
			{if $new_window6[index2][index4][index51] == 'new'}
		<a href="#" onclick="window.open('/{$new_window_link6[index2][index4][index51]}','gamewindow1','height=700,width=480,scrollbars=no,top=0,left=0');history.go(0);"  class="seven">	
			
			{elseif $new_window6[index2][index4][index51] == 'parent_window'}
			<a target="_parent" href="/{$new_window_link6[index2][index4][index51]}" class="seven">
			{else}
			{if $new_window_link6[index2][index4][index51] neq NULL}
			<a target="_self" href="/{$new_window_link6[index2][index4][index51]}" class="seven">
			{else}
			<a href="https://sportsbook.worldgaming.net/www.allhorseracing.net/cgi_bin/sb23sbodds.cgi?SPORTTYPE={$lines_type6[index2][index4][index51]}"  class="seven">
			{/if}
			{/if}{$lines_name6[index2][index4][index51]}
			
			{else}			
			<strong>
			{if $new_window6[index2][index4][index51] == 'new'}
		<a href="#" onclick="window.open('/{$new_window_link6[index2][index4][index51]}','gamewindow1','height=700,width=480,scrollbars=no,top=0,left=0');history.go(0);"  class="seven">	
			
			{elseif $new_window6[index2][index4][index51] == 'parent_window'}
			<a target="_parent" href="/{$new_window_link6[index2][index4][index51]}" class="seven">
			{else}
			{if $new_window_link6[index2][index4][index51] neq NULL}
			<a target="_self" href="/{$new_window_link6[index2][index4][index51]}" class="seven">
			{else}
			<a href="https://sportsbook.worldgaming.net/www.allhorseracing.net/cgi_bin/sb23sbodds.cgi?SPORTTYPE={$lines_type6[index2][index4][index51]}"  class="seven">
			{/if}
			{/if}{$lines_name6[index2][index4][index51]}</a></strong>{/if}<a href="#" onclick="rules_valu('{$rules_text6[index2][index4][index51]}')">{$add_rules6[index2][index4][index51]}</a></font>{if $lines_feature6[index2][index4][index51] neq NULL}<img src="images/{$lines_feature6[index2][index4][index51]}" border="0" />{/if}</td></tr>
			{/section}
			{/section}
			{/section}
			
			
			</table >
			  </td>
			  <td valign="top" align="center">
			 <!-- <table style="border:1px solid #000066;"> -->
			  <table border="1" bordercolor="#ffffff" cellpadding="2" cellspacing="0">
			{section name=index3 loop=$main_id7}
			{if $main_image7[index3] neq NULL}	
			<tr><td  align="center" {if $main_back_col7[index3] neq NULL} class="{$main_back_col7[index3]}"{else}class="{$lines_back_col9}" {/if}{if $main_image_only7[index3] neq 0}height=60 {else}height=80{/if} valign="middle">
			
			<img src="uploaded_images/main_sports_images/{$main_image7[index3]}" border="0" {if $main_image_only7[index3] neq 0} height=52{else}height=60{/if}  align="middle"/>
			{if $add_anchor_main7[index3] neq NULL}	<a name="{$add_anchor_main7[index3]}"></a>{/if}
			</td></tr>
			{/if}
			{section name=index44 loop=$lines_id35[index3]}
			<tr><td bgcolor="{$lines_back_col35}"><a href="https://sportsbook.worldgaming.net/www.allhorseracing.net/cgi_bin/sb23sbodds.cgi?SPORTTYPE={$lines_type35[index3][index44]}"   class="seven"><font color="{$lines_text_col35}">{$lines_name35[index3][index44]}</font></a>{if $lines_feature35[index3][index44] neq NULL}<img src="images/{$lines_feature35[index3][index44]}" border="0" />{/if}</td></tr>
			{/section}
			
			{section name=index4 loop=$specific_id8[index3]}
			{if $lines_status8[index3][index4] eq 1}<tr><td {if $specific_back_col_assign8[index3][index4] neq NULL} class="{$specific_back_col_assign8[index3][index4]}"{else}class="{$specific_back_col8}" {/if}{if $sp_charecter8[index3][index4] gt 26}  height=40 {else}height=20{/if}><font {if $specific_text_col_assign8[index3][index4] neq NULL} color="{$specific_text_col_assign8[index3][index4]}" {else}class="{$specific_back_col8}" {/if} >{$specific_name8[index3][index4]}{if $add_anchor8[index3][index4] neq NULL}<a name="{$add_anchor8[index3][index4]}"></a>{/if}</font></td></tr>{/if}
			
			{section name=index59 loop=$lines_id9[index3][index4]}
			<tr><td {if $lines_text_col_assign9[index3][index4][index59] neq NULL} class="{$lines_text_col_assign9[index3][index4][index59]}" {else}class="{$lines_back_col9}" {/if}{if $lines_charecter9[index3][index4][index59] gt 26}  height=40 {else}height=20{/if}><font {if $lines_text_col_assign9[index3][index4][index59] neq NULL} color="{$lines_text_col_assign9[index3][index4][index59]}" {else}class="{$lines_back_col9}" {/if} >{if $bold9[index3][index4][index59] neq b}
			{if $new_window9[index3][index4][index59] == 'new'}
			<a href="#" onclick="window.open('/{$new_window_link9[index3][index4][index59]}','gamewindow1','height=700,width=480,scrollbars=no,top=0,left=0');history.go(0);"  class="seven">
			
			{elseif $new_window9[index3][index4][index59] == 'parent_window'}
			<a target="_parent" href="/{$new_window_link9[index3][index4][index59]}" class="seven">
			{else}
			{if $new_window_link9[index3][index4][index59] neq NULL}
			<a target="_self" href="/{$new_window_link9[index3][index4][index59]}" class="seven">
			{else}
			
			<a href="https://sportsbook.worldgaming.net/www.allhorseracing.net/cgi_bin/sb23sbodds.cgi?SPORTTYPE={$lines_type9[index3][index4][index59]}" class="seven">
		{/if}	
			{/if}
			 {$lines_name9[index3][index4][index59]} 
			
			
			{else}
			<strong>
			{if $new_window9[index3][index4][index59] == 'new'}
			<a href="#" onclick="window.open('/{$new_window_link9[index3][index4][index59]}','gamewindow1','height=700,width=480,scrollbars=no,top=0,left=0');history.go(0);"  class="seven">
			
			{elseif $new_window9[index3][index4][index59] == 'parent_window'}
			<a target="_parent" href="/{$new_window_link9[index3][index4][index59]}" class="seven">
			{else}
			{if $new_window_link9[index3][index4][index59] neq NULL}
			<a target="_self" href="/{$new_window_link9[index3][index4][index59]}" class="seven">
			{else}
			
			<a href="https://sportsbook.worldgaming.net/www.allhorseracing.net/cgi_bin/sb23sbodds.cgi?SPORTTYPE={$lines_type9[index3][index4][index59]}" class="seven">
		{/if}	
			{/if}{$lines_name9[index3][index4][index59]}</a></strong>{/if}<a href="#" onclick="rules_valu('{$rules_text9[index3][index4][index59]}')">{$add_rules9[index3][index4][index59]}</a></font>{if $lines_feature9[index3][index4][index59] neq NULL}<img src="images/{$lines_feature9[index3][index4][index59]}" border="0" />{/if}</td></tr>
			{/section}
			{/section}
			{/section}
			
						
			</table>
			  </td>
          </tr>
		  
			</form>		 
                  </table>



