{include file="header.tpl"}
{include file="left.tpl"}
<!-------------------- Body Section ------------------------>
<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td bgcolor="#FFFFFF" height="2"><table width="100%" height="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#DBE7FB" class="border">
        <tr>
          <td height="10" align="center">&nbsp;</td>
        </tr>
        <tr> 
          <td height="10" align="center"><font class="bodyb">
          <h2>ADMIN PANEL </h2>
          </font></td>
        </tr>
      </table> </td>
  </tr>
</table>
<!------------------ End of Body Section ------------------->
{include file="footer.tpl"}
