
<div class="calltoaction">


<h2>Bet on the <br>Breeders' Cup <br>Turf Sprint!</h2>
{include file='/home/ah/allhorse/public_html/breeders/call-to-action2.php'}
{include file="/home/ah/usracing.com/smarty/templates/inc/rightcol-calltoaction-form.tpl"}