
<h2 class='DarkBlue'>Breeders' Cup Classic</h2>
<table border="0" cellspacing="0" cellpadding="0" class="table table-condensed table-bordered"title="Breeders' Cup Classic" >

<tbody>



<tr><td class="greyBackground"><strong>Purse:</strong></td><td >$6,000,000</td><td class="greyBackground"><strong>Grade: </strong></td><td>1</td></tr>

<tr><td class="greyBackground"><strong>Distance: </strong></td><td>1 1/4 Miles</td ><td class="greyBackground"><strong>Age:  </strong></td><td>3+

</td></tr>

</tbody></table>
