<table class="ckeditor-styled-table" style="width: 100%" summary="Kentucky Derby 2013 points leaders" width="100%" cellspacing="1" cellpadding="1" border="1">
	<thead>
		<tr>
			<th width="5%">
				Rank</th>
			<th width="30%">
				Horse</th>
			<th width="30%">
				Trainer</th>
			<th width="10%">
				Points</th>
			<th width="10%">
				Non-Restricted Stakes Earnings</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				1.</td>
			<td>
				War of Will</td>
			<td>
				Mark Casse</td>
			<td>
				60</td>
			<td>
				$440,840</td>
		</tr>
		<tr>
			<td>
				2.</td>
			<td>
				Code of Honor</td>
			<td>
				Shug McGaughey</td>
			<td>
				54</td>
			<td>
				$338,070</td>
		</tr>
		<tr>
			<td>
				3.</td>
			<td>
				Long Range Toddy</td>
			<td>
				Steve Asmussen</td>
			<td>
				53.5</td>
			<td>
				$830,000</td>
		</tr>
		<tr>
			<td>
				4.</td>
			<td>
				Haikal</td>
			<td>
				Kiaran McLaughlin</td>
			<td>
				50</td>
			<td>
				$247,500</td>
		</tr>
		<tr>
			<td>
				5.</td>
			<td>
				Tacitus</td>
			<td>
				Bill Mott</td>
			<td>
				50</td>
			<td>
				$210,000</td>
		</tr>
		<tr>
			<td>
				6.</td>
			<td>
				Game Winner</td>
			<td>
				Bob Baffert</td>
			<td>
				45</td>
			<td>
				$1,610,000</td>
		</tr>
		<tr>
			<td>
				7.</td>
			<td>
				Omaha Beach</td>
			<td>
				Richard Mandella</td>
			<td>
				37.5</td>
			<td>
				$450,000</td>
		</tr>
		<tr>
			<td>
				8.</td>
			<td>
				Mind Control</td>
			<td>
				Gregg Sacco</td>
			<td>
				30</td>
			<td>
				$355,000</td>
		</tr>
		<tr>
			<td>
				9.</td>
			<td>
				Improbable</td>
			<td>
				Bob Baffert</td>
			<td>
				25</td>
			<td>
				$389,520</td>
		</tr>
		<tr>
			<td>
				10.</td>
			<td>
				Gunmetal Gray</td>
			<td>
				Jerry Hollendorfer</td>
			<td>
				21.75</td>
			<td>
				$247,500</td>
		</tr>
		<tr>
			<td>
				11.</td>
			<td>
				Bourbon War</td>
			<td>
				Mark Hennig</td>
			<td>
				21</td>
			<td>
				$90,200</td>
		</tr>
		<tr>
			<td>
				12.</td>
			<td>
				Somelikeithotbrown</td>
			<td>
				Mike Maker</td>
			<td>
				20</td>
			<td>
				$321,665</td>
		</tr>
		<tr>
			<td>
				13.</td>
			<td>
				Country House</td>
			<td>
				Bill Mott</td>
			<td>
				20</td>
			<td>
				$80,000</td>
		</tr>
		<tr>
			<td>
				14.</td>
			<td>
				Outshine</td>
			<td>
				Todd Pletcher</td>
			<td>
				20</td>
			<td>
				$74,500</td>
		</tr>
		<tr>
			<td>
				15.</td>
			<td>
				Knicks Go</td>
			<td>
				Ben Colebrook</td>
			<td>
				18</td>
			<td>
				$656,085</td>
		</tr>
		<tr>
			<td>
				16.</td>
			<td>
				Signalman</td>
			<td>
				Kenny McPeek</td>
			<td>
				18</td>
			<td>
				$392,840</td>
		</tr>
		<tr>
			<td>
				17.</td>
			<td>
				Mucho Gusto</td>
			<td>
				Bob Baffert</td>
			<td>
				14</td>
			<td>
				$210,000</td>
		</tr>
		<tr>
			<td>
				18.</td>
			<td>
				Tax</td>
			<td>
				Danny Gargan</td>
			<td>
				12</td>
			<td>
				$167,500</td>
		</tr>
		<tr>
			<td>
				19.</td>
			<td>
				Harvey Wallbanger</td>
			<td>
				Kenny McPeek</td>
			<td>
				10</td>
			<td>
				$208,320</td>
		</tr>
		<tr>
			<td>
				20.</td>
			<td>
				Well Defined</td>
			<td>
				Kathy O’Connell</td>
			<td>
				10</td>
			<td>
				$172,970</td>
		</tr>
		<tr>
			<td>
				21.</td>
			<td>
				Instagrand</td>
			<td>
				Jerry Hollendorfer</td>
			<td>
				10</td>
			<td>
				$156,000</td>
		</tr>
		<tr>
			<td>
				22.</td>
			<td>
				Vekoma</td>
			<td>
				George Weaver</td>
			<td>
				10</td>
			<td>
				$147,600</td>
		</tr>
		<tr>
			<td>
				23.</td>
			<td>
				Gray Attempt</td>
			<td>
				Jinks Fires</td>
			<td>
				10</td>
			<td>
				$136,666</td>
		</tr>
		<tr>
			<td>
				24.</td>
			<td>
				Win Win Win</td>
			<td>
				Mike Trombetta</td>
			<td>
				10</td>
			<td>
				$116,000</td>
		</tr>
		<tr>
			<td>
				-</td>
			<td>
				Cairo Cat</td>
			<td>
				Kenny McPeek</td>
			<td>
				10</td>
			<td>
				$86,490</td>
		</tr>
		<tr>
			<td>
				25.</td>
			<td>
				Anothertwistafate</td>
			<td>
				Blaine Wright</td>
			<td>
				10</td>
			<td>
				$60,000</td>
		</tr>
		<tr>
			<td>
				26.&nbsp;</td>
			<td>
				Roiland</td>
			<td>
				Tom Amoss</td>
			<td>
				10</td>
			<td>
				$47,460</td>
		</tr>
		<tr>
			<td>
				27.</td>
			<td>
				Hog Creek Hustle</td>
			<td>
				Vickie Foley</td>
			<td>
				9</td>
			<td>
				$65,000</td>
		</tr>
		<tr>
			<td>
				28.</td>
			<td>
				Sueno</td>
			<td>
				Keith Desormeaux</td>
			<td>
				8</td>
			<td>
				$165,000</td>
		</tr>
		<tr>
			<td>
				-</td>
			<td>
				+Dynamic Racer</td>
			<td>
				Ronald Kahles</td>
			<td>
				8</td>
			<td>
				$52,150</td>
		</tr>
		<tr>
			<td>
				29.</td>
			<td>
				Galilean</td>
			<td>
				Jerry Hollendorfer</td>
			<td>
				7.5</td>
			<td>
				$75,000<br>
				Career: $336,000</td>
		</tr>
		<tr>
			<td>
				30.</td>
			<td>
				Market King</td>
			<td>
				D. Wayne Lukas</td>
			<td>
				7.5</td>
			<td>
				$75,000<br>
				Career: $145,785</td>
		</tr>
		<tr>
			<td>
				31.</td>
			<td>
				Much Better</td>
			<td>
				Bob Baffert</td>
			<td>
				7</td>
			<td>
				$50,000</td>
		</tr>
		<tr>
			<td>
				32.</td>
			<td>
				Our Braintrust</td>
			<td>
				Cathal Lynch</td>
			<td>
				6</td>
			<td>
				$150,000</td>
		</tr>
		<tr>
			<td>
				33.</td>
			<td>
				Extra Hope</td>
			<td>
				Richard Mandella</td>
			<td>
				5.75</td>
			<td>
				$79,500</td>
		</tr>
		<tr>
			<td>
				34.</td>
			<td>
				Zenden</td>
			<td>
				Victor Barboza Jr.</td>
			<td>
				5</td>
			<td>
				$91,270</td>
		</tr>
		<tr>
			<td>
				35.</td>
			<td>
				Hidden Scroll</td>
			<td>
				Bill Mott</td>
			<td>
				5</td>
			<td>
				$18,800</td>
		</tr>
		<tr>
			<td>
				36.</td>
			<td>
				Bankit</td>
			<td>
				Steve Asmussen</td>
			<td>
				4</td>
			<td>
				$96,000</td>
		</tr>
		<tr>
			<td>
				-</td>
			<td>
				Network Effect</td>
			<td>
				Chad Brown</td>
			<td>
				4</td>
			<td>
				$90,000</td>
		</tr>
		<tr>
			<td>
				37.</td>
			<td>
				Everfast</td>
			<td>
				Dale Romans</td>
			<td>
				4</td>
			<td>
				$74,635</td>
		</tr>
		<tr>
			<td>
				-</td>
			<td>
				+Tight Ten</td>
			<td>
				Steve Asmussen</td>
			<td>
				4</td>
			<td>
				$67,900</td>
		</tr>
		<tr>
			<td>
				38.</td>
			<td>
				Not That Brady</td>
			<td>
				Rudy Rodriguez</td>
			<td>
				4</td>
			<td>
				$52,500</td>
		</tr>
		<tr>
			<td>
				39.</td>
			<td>
				Plus Que Parfait</td>
			<td>
				Brendan Walsh</td>
			<td>
				4</td>
			<td>
				$40,400</td>
		</tr>
		<tr>
			<td>
				-</td>
			<td>
				Kentucky Wildcat</td>
			<td>
				Tom Albertrani</td>
			<td>
				4</td>
			<td>
				$40,000</td>
		</tr>
		<tr>
			<td>
				40.</td>
			<td>
				Moonster</td>
			<td>
				Dale Romans</td>
			<td>
				4</td>
			<td>
				$21,050</td>
		</tr>
		<tr>
			<td>
				41.</td>
			<td>
				Kingly</td>
			<td>
				Bob Baffert</td>
			<td>
				4</td>
			<td>
				$20,000</td>
		</tr>
		<tr>
			<td>
				-</td>
			<td>
				+Call Paul</td>
			<td>
				Jason Servis</td>
			<td>
				2</td>
			<td>
				$281,420</td>
		</tr>
		<tr>
			<td>
				42.</td>
			<td>
				Mr. Money</td>
			<td>
				Bret Calhoun</td>
			<td>
				2</td>
			<td>
				$100,000</td>
		</tr>
		<tr>
			<td>
				43.</td>
			<td>
				Rowayton</td>
			<td>
				Jerry Hollendorfer</td>
			<td>
				2</td>
			<td>
				$96,000</td>
		</tr>
		<tr>
			<td>
				44.</td>
			<td>
				Six Shooter</td>
			<td>
				Paul Holthus</td>
			<td>
				2</td>
			<td>
				$77,500</td>
		</tr>
		<tr>
			<td>
				45.</td>
			<td>
				Five Star General</td>
			<td>
				Arnaud Delacour</td>
			<td>
				2</td>
			<td>
				$68,400</td>
		</tr>
		<tr>
			<td>
				46.</td>
			<td>
				Dunph</td>
			<td>
				Mike Maker</td>
			<td>
				2</td>
			<td>
				$53,000</td>
		</tr>
		<tr>
			<td>
				47.</td>
			<td>
				Manny Wah</td>
			<td>
				Wayne Catalano</td>
			<td>
				2</td>
			<td>
				$52,425</td>
		</tr>
		<tr>
			<td>
				48.</td>
			<td>
				Standard Deviation</td>
			<td>
				Chad Brown</td>
			<td>
				2</td>
			<td>
				$50,000</td>
		</tr>
		<tr>
			<td>
				49.</td>
			<td>
				Easy Shot</td>
			<td>
				Keith Desormeaux</td>
			<td>
				2</td>
			<td>
				$42,500</td>
		</tr>
		<tr>
			<td>
				50.</td>
			<td>
				Family Biz</td>
			<td>
				Ed Barker</td>
			<td>
				2</td>
			<td>
				$18,900</td>
		</tr>
		<tr>
			<td>
				51.</td>
			<td>
				Limonite</td>
			<td>
				Steve Asmussen</td>
			<td>
				2</td>
			<td>
				$26,200</td>
		</tr>
		<tr>
			<td>
				52.</td>
			<td>
				More Ice</td>
			<td>
				Jerry Hollendorfer</td>
			<td>
				2</td>
			<td>
				$21,633</td>
		</tr>
		<tr>
			<td>
				53.</td>
			<td>
				So Alive</td>
			<td>
				Todd Pletcher</td>
			<td>
				2</td>
			<td>
				$20,000<br>
				Career: $72,569</td>
		</tr>
		<tr>
			<td>
				-</td>
			<td>
				+ Pole Setter</td>
			<td>
				Brad Cox</td>
			<td>
				2</td>
			<td>
				$17,950</td>
		</tr>
		<tr>
			<td>
				54.</td>
			<td>
				Boldor</td>
			<td>
				Steve Asmussen</td>
			<td>
				2</td>
			<td>
				$16,667</td>
		</tr>
		<tr>
			<td>
				55.</td>
			<td>
				Sir Winston</td>
			<td>
				Mark Casse</td>
			<td>
				1</td>
			<td>
				$69,581</td>
		</tr>
		<tr>
			<td>
				-</td>
			<td>
				+ Tobacco Road</td>
			<td>
				Steve Asmussen</td>
			<td>
				1</td>
			<td>
				$63,400</td>
		</tr>
		<tr>
			<td>
				56.</td>
			<td>
				Gray Magician</td>
			<td>
				Peter Miller</td>
			<td>
				1</td>
			<td>
				$26,000</td>
		</tr>
		<tr>
			<td>
				57.</td>
			<td>
				Tone Broke</td>
			<td>
				Steve Asmussen</td>
			<td>
				1</td>
			<td>
				$24,000</td>
		</tr>
		<tr>
			<td>
				58.</td>
			<td>
				Epic Dreamer</td>
			<td>
				Kelly Breen</td>
			<td>
				1</td>
			<td>
				$20,800</td>
		</tr>
		<tr>
			<td>
				-</td>
			<td>
				+ Jefe</td>
			<td>
				Keith Desormeaux</td>
			<td>
				1</td>
			<td>
				$18,000</td>
		</tr>
		<tr>
			<td>
				59.</td>
			<td>
				Counter Offer</td>
			<td>
				Ian Wilkes</td>
			<td>
				1</td>
			<td>
				$10,000</td>
		</tr>
		<tr>
			<td>
				60.</td>
			<td>
				King for a Day</td>
			<td>
				Todd Pletcher</td>
			<td>
				1</td>
			<td>
				$9,100</td>
		</tr>
		<tr>
			<td>
				61.</td>
			<td>
				Magnificent McCool</td>
			<td>
				Doug O'Neill</td>
			<td>
				1</td>
			<td>
				$9,000<br>
				Career: $69,945</td>
		</tr>
		<tr>
			<td>
				62.</td>
			<td>
				Gates of Dawn</td>
			<td>
				John Servis</td>
			<td>
				1</td>
			<td>
				$9,000</td>
		</tr>
		<tr>
			<td>
				63.</td>
			<td>
				Wicked Indeed</td>
			<td>
				Steve Asmussen</td>
			<td>
				1</td>
			<td>
				$8,000</td>
		</tr>
		<tr>
			<td>
				64.</td>
			<td>
				Angelo's Pride</td>
			<td>
				Bill Delia</td>
			<td>
				1</td>
			<td>
				$6,000</td>
		</tr>
	</tbody>
</table>