<table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td bgcolor="#FFFFFF"><img src="images/blank.gif" alt="" title="" width="1" height="1"></td>
  </tr>
  <tr>
    <td height="14" bgcolor="#837D5B"><img src="images/blank.gif" alt="" title="" width="1" height="14"></td>
  </tr>
  <tr>
    <td height="1" bgcolor="#FFFFFF"><img src="images/blank.gif" alt="" title="" width="1" height="1"></td>
  </tr>
  <tr>
    <td height="28" bgcolor="#BE9843">&nbsp;</td>
  </tr>
  <tr>
    <td height="13" bgcolor="#FFFFFF"><img src="images/footer-curve.gif" width="1000" height="13"></td>
  </tr>
</table>
