<div id="leftmenupage">
<script language="javascript" src="scripts/script.js"></script>

<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="30"><table width="171" height="30"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="26" align="right" valign="middle"><img src="images/arrow.gif" alt="" title="" width="9" height="10"></td>
        <td width="145" align="left" valign="middle" style="padding-left:11px; "><a href="home.php" class="menu">Home</a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="3" align="left" valign="top"><img src="images/divider1.gif" alt="" title="" width="171" height="3"></td>
  </tr>  
  <tr>
    <td height="30">
    <table width="171" height="30"  border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="26" align="right" valign="middle"><img src="images/arrow.gif" alt="" title="" width="9" height="10"></td>
		<!-- <td width="145" align="left" valign="middle" style="padding-left:11px; " class="menu"><a href="video_manage.php?mode=listvideo" class="menu">Video Library</a></td> -->
		<td width="145" align="left" valign="middle" style="padding-left:11px; " class="menu"><a href="#" class="menu">Video Library</a></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>
		<table width="100%" cellpadding="3" cellspacing="0" border="0">
		{if $emptycateg neq "YES"}
		{section name="cat" loop=$cat_list}
		<tr>
			<td>&nbsp;</td>
			<td>
				<a href="#" onclick="shww('set','{$cat_list[cat].cat_id}','{$cat_list[cat].cat_id}');">{$cat_list[cat].cat_name}</a>				
				<div id="set{$cat_list[cat].cat_id}" style="display:block;">
				{if ($showset eq $cat_list[cat].cat_id) && ($state eq $cat_list[cat].cat_id)}
				<ul style="padding-left:10px;">
					{section name="sbcat" loop=$cat_sublist}
					<li><a href="#" onclick="shww('set','{$cat_sublist[sbcat].cat_id}','{$cat_list[cat].cat_id}');">{$cat_sublist[sbcat].cat_name}</a></li>
					{/section}					
				</ul>
				{/if}
				</div>
				
				
			</td>
		</tr>
		{/section}
		{else}
		<tr>
			<td colspan="2" align="left"><span style="color:red;">Sorry!! no category available.</span></td>
		</tr>
		{/if}
		</table>
		</td>
	</tr>
    </table>
    </td>
  </tr>  
  <tr>
    <td height="30"><table width="171" height="30"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="26" align="right" valign="middle"><img src="images/arrow.gif" alt="" title="" width="9" height="10"></td>
          <td width="145" align="left" valign="middle" style="padding-left:11px; " class="menu"><a href="video_manage.php?mode=addvideo" class="menu">Add Video</a></td>
      </tr>
    </table></td>
  </tr>      
  <tr>
    <td height="3" align="left" valign="top"><img src="images/divider1.gif" alt="" title="" width="171" height="3"></td>
  </tr>
  <tr>      
<!--   <tr>
    <td height="30" align="left" valign="top"><table width="171" height="30"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="26" align="right" valign="middle"><img src="images/arrow.gif" alt="" title="" width="9" height="10"></td>
          <td width="145" align="left" valign="middle" style="padding-left:11px; "><a href="index.php" class="menu">Logout 
            </a></td>
      </tr>
    </table></td>
  </tr> -->
  </table>
</div>