
<div class="calltoaction">


<h2>Bet on the<br>Travers Stakes!</h2>
<h3>Get a $250 Sign Up Bonus!</h3>
{include file="/home/ah/usracing.com/smarty/templates/inc/rightcol-calltoaction-form.tpl"}
