{*
  <h3 >Get your {$abbriviation}  Off Track Betting!</h3>
  <p>Thoroughbred, quarter horse, and harness racing is available by desktop or mobile on over 300 of the worlds premier racetracks, with absolutely no membership fees.  </p>
*}
{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}

{*blocks include for the end of the states pages - TF*}
{include file="/home/ah/allhorse/public_html/usracing/common/end-of-page-blocks.tpl"}
