	body{
		font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;	/* Font to use */
		/*background-color:#317082;*/
		font-size:0.7em;
		margin:0px;
		padding:0px;
		height:100%;
		width:100%;
		text-align:center;
		background-image:url(../images/background2.gif);
		
		
	}
	input{
		font-size:10px;
	}
	#mainContainer{
		width:100%;
		margin:0 auto;
		text-align:left;
		height:100%;		
		padding-bottom:30px;
	}
	
	#header{	/* Header at the top of the demo */
		background-image:url('../images/bg_heading.gif');
		background-repeat:repeat-x;
		height:99px;		
	}	/* Logo image */
	#header img{
		float:left;
	}
	
	
	.dragableBox{	/* The RSS box */
		
		background-color:#FFF;
		margin:5px;
		border-right:2px solid #AAA;	/* "Shadow "*/
		border-bottom:2px solid #AAA;	/* "Shadow " */
		/*width:200px;*/
	}
	/* A div inside the rss box - with a blue border */
	.dragableBoxInner{
		border:1px solid #317082;
	}
	.dragableBoxHeader{	/* Header inside RSS box */
		background-color:#E2EBED;
		height:20px;
		font-weight:bold;
		color: #317082;
	}
	.dragableBoxHeader span{	/* Text inside header of RSS box */
		line-heigth:20px;
	}
	.dragableBoxHeader img,.dragableBoxHeader span{	/* Text and reload image inside RSS box */
		float:left;
	}
	.boxItemHeader{	/* Title of items inside dragable boxes */
		font-weight:bold;
		margin:0px;
		color:#000;
		text-decoration:none;
		overflow:hidden;
	}	
	.boxItemHeader:hover{	/* Title of items inside dragable boxes - mouseover*/
		font-weight:bold;
		margin:0px;
		color:#F00;
		text-decoration:underline;
	}
	.dragableBoxHeader input{	/* text inputs that gets visible when you click on the "edit" link at the top of a rss box */
		font-size:10px;	
	}
	
	.rssNumberOfItems{	/* Number of RSS items in header - the one inside parantheses */
		color:#F00;
	}
	.dragableBoxContent{	/* DIV holding data inside dragable boxes */
		padding:3px;
		clear:both;
	}
	#rectangleDiv{	/* Dotted rectangle indicating where objects will be dropped */
		border:1px dotted red;
		margin:5px;
	}
	
	.closeButton{	/* Close button */
		padding:2px;
		border:1px solid #317082;
		line-height:9px;
		height:9px;
		margin:2px;
		color:#317082;
		padding:2px;
		padding-bottom:3px;
	}
	.closeButton_over{	/* Close button - mouse over */
		padding:2px;
		border:1px solid #317082;
		line-height:9px;
		padding:2px;
		padding-bottom:3px;
		margin:2px;	
		background-color:#317082;
		color:#FFF;
	}
	.dragableBoxStatusBar{	/* Status bar at the bottom of rss boxes */
		border-top:3px double #317082;
		height:14px;
		background-color:#E2EBED;
		padding:2px;
	}
	
	.dragableBoxEditLink{	/* Edit link on top of a box */
		color:#317082;
		text-decoration:none;
		padding-top:1px;
	}
	.dragableBoxEditLink:hover{	/* Edit link - mouse over */
		color:red;
		text-decoration:underline;
	}
	form{	/* No borders in forms */
		display:inline;
	}
	#addNewFeed{	/* The white box at the top right corner where you can add a new RSS feed */
		float:right;
		width:300px;
		background-color:#FFF;
		border:2px solid #317082;
		padding:2px;
		margin-right:2px;
		margin-top:2px;
	}
	
	img{
		border:0px;
		}
		
		/* begin css tabs */

table.data {
	padding: 0;
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: 363636;
	border: 1px solid #CECECE;
	background-color:#FFFFFF;}
table.data caption {font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: 0066CC;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	font-style: normal;
	text-align:left;}
table.data  th {background: #EBEBEB;  text-align: left; font-weight: bold;}
table.data tbody, table thead {border-left: 1px solid #EAECEE; border-right: 1px solid #EAECEE;}
table.data tbody {border-bottom: 1px solid #EAECEE;}                
table.data tbody td, table tbody th {padding: 3px;  }
table.data  tr {}
table.data  tr.odd {background: #EBEBEB;}

	.editbox
	{
	width:450px;
	height:475px;
	position:absolute;
	z-index:50;
	top:45px;
	left:300px;
	border:1px solid #317082;
	background-color:#FFFFFF;
	display:none;
		
	}
	
	.loadingBox
	{
	width:100px;
	height:50px;
	position:absolute;
	z-index:100;
	margin:auto;
	top:35%;
	left:50%;
	/*background-color:#ffffff;*/
	display:none;
	opacity:0.8;	/* 40 % opacity */
	filter:alpha(opacity=80);	/* 40 % opacity */
	
	}
	
	a
	{color:#000000;
	text-decoration:none;
	}
	
	.lieditbox
	{
	width:450px;
	height:275px;
	position:absolute;
	z-index:50;
	top:45px;
	left:300px;
	border:1px solid #317082;
	background-color:#FFFFFF;
	display:none;
		
	}
#topcontent
{
  height: 20px;
  padding-left:25px;
  border-bottom:1px solid #919b9c;
  width:950px;
}

#topcontent DIV{
		float:left;
		height:100%;	/* Height of tabs */
		padding-left:3px;
		vertical-align:middle;
		background-repeat:no-repeat;
		background-position:bottom left;
		cursor:pointer;
		position:relative;
		bottom:-1px;
		margin-left:0px;
		margin-right:0px;
		width:100px;
	}
	#topcontent .tabActive{
		background-image:url('../images/tab_left_active.gif');
		margin-left:0px;
		margin-right:0px;	
		z-index:10;	
	}
	#topcontent .tabInactive{
		background-image:url('../images/tab_left_inactive.gif');
		margin-left:0px;
		margin-right:0px;
		z-index:1;
	}

