/* CSS Document */
body { background-color: #A60000; }
body, td, th, tr, div { font-family:Arial, Helvetica, sans-serif; font-size:11px; }
/* CSS BETTING SECTION STYLES*/

.sportsTitle { text-align:center; }
.spacerColumn { width:1px; background-color:#000000; }
.bettingCell { background-color:#FFFFFF; vertical-align:top; width:50%; }
.groupBox { margin-bottom:10px; border-bottom-color:#FFFFFF;  border-bottom-style:solid; border-bottom-width:1px; border-left-color:#FFFFFF; border-left-style:solid; border-left-width:1px; border-right-color:#FFFFFF; border-right-style:solid; border-right-width:1px; border-top-color:#FFFFFF; border-right-width:1px; }
.groupTitle { font-size:12px; color: #FFFFFF; font-family:Arial, Helvetica, sans-serif; text-decoration:none; background-color:#780000; font-weight:bold; padding:3px; }
.groupTitleSpecial { color:#FFFFFF; text-decoration: none; background-color:#063342; font-weight: bold; padding:3px; height:15px; }
.groupTitlePromo { color:#FFFFFF; text-decoration: none; background-color:#004898; font-weight: bold; padding:3px; height:15px; }
.groupTitleNote { color:#FFFFFF; text-decoration: none; background-color:#2772A6; font-weight: bold; padding:3px; height:15px; }
.linesBox {  font-size:12px; background-color:#FFFFFF; padding:3px; }
.redMarks { color:#FF0000; font-size:14px; }
.highlight { font-weight:bold; color:780000; }
.highlight a { color:780000; text-decoration:none; }
.line { color:#000000; padding-bottom:3px; display:list-item; list-style-image:url(images/raquo.gif); margin-left:20px; }
.line a:link, .line a:visited { text-decoration:none; color:#000000; }
.line a:hover, .line a:active { text-decoration:underline; color:#666666; }
.subGroup { margin-bottom:10px; color:#000000; }
.textLink { color:#333333; padding-bottom:3px; display:list-item; list-style-image:url(images/bullet_small.gif); margin-left:20px; list-style-type: disc; }
.textLink a:link, .textLink a:visited { text-decoration:none; color:#000000; }
.textLink a:hover, .textLink a:active { text-decoration:underline; color:#666666; }
.promoColumn1 { color:#000000; background-color:#FFE100; padding-top:3px; padding-left:3px; padding-right:3px; padding-bottom:10px; }
.promoColumn1 a:link, .promoColumn1 a:visited { color: #000000; text-decoration:none; }
.promoColumn1 a:hover, .promoColumn1 a:active { color: #A60000;  text-decoration: underline; }
.promoBox { padding-bottom:10px; margin:1px; }
.imageLink { margin-bottom:10px; }
.note { color:#666666; font-size:10px; font-style:italic; margin-top:10px; margin-bottom:10px; }
#bettingTable { width:490px; border-bottom-color:#000000; border-left-color:#000000; border-right-color:#000000; border-bottom-style:solid; border-left-style:solid; border-right-style:solid; border-bottom-width:1px; border-left-width:1px; border-right-width:1px; }
#promoColumn { width:166px; vertical-align:top; background-color:#FFFFFF; padding:1px; }
#bettingColumn { width:324px; vertical-align:top; padding:1px; border-right-color:#000000; border-right-style:solid; border-right-width:1px; background-color:#FFFFFF; }
#footerMenu { font-weight:bold; text-align:center; margin-top:10px; color:#FFFFFF}
#footerMenu a { text-decoration:none; color:#FFFF66; }

/* OLD PAGE STYLES */
.footer { color: #FFFFFF; text-decoration:none; text-align:center; margin-top:10px; }
.footer a{ text-decoration:none; color: #FFFFFF; }

.promo { font-size: 12px; color: #FFFFFF; text-decoration:none; background-color:#336699; }
.promo a { font-size: 12px; color: #FFFFFF; text-decoration: none; }
.promo a:hover{ color:#F7EF0B; }
.promo, .subtitle{ font-size:14px; color:#F7EF0B; }
.header { font-size: 12px; color: #FFFFFF; text-decoration:none; background-color:#000000; }
.header a{ color: #FFFFFF; text-decoration:none; }
.header a:hover{ color: #FFBB05; text-decoration:none; }
.betHeader { color: #000000; text-decoration:none; background-color: #FBCC53; }
.betColumn { font-size: 12px; color: #000000; text-decoration:none; background-color: #FFFFFF;}
.betColumn a { color: #000000;  text-decoration:none; }
.betColumn a:hover { color:#A60000;  text-decoration:underline; }
.betColumn2 { font-size: 12px; color: #000000; text-decoration:none; background-color:#EFEFEF; }
.betColumn2 a { color: #000000;  text-decoration:none; }
.betColumn2 a:hover { color: #A60000;  text-decoration: underline; }
.promoHeader1 { color:#FFFFFF; text-decoration:none; background-color:#BB0000; }
.promoHeader1 a{ font-size: 11px; color: #FFFFFF; text-decoration:none; }
.promoHeader1 a:hover { color: #FFFFFF;  text-decoration:underline; }
.promoHeader2 { color: #FFFFFF; text-decoration:none; background-color:#063342; }
.promoColumn2 { font-size: 12px; color: #000000; text-decoration:none; background-color:#F8F7EF; }
.promoColumn2 a{ color: #000000; text-decoration:none; }
.promoColumn2 a:hover { color: #A60000;  text-decoration: underline; }
.promoHeader3 { color: #FFFFFF; text-decoration:none; background-color:#336699; }
.promoHeader3 a{  color: #FFFFFF;  text-decoration:none; }
.promoColumn3 { font-size: 12px; color: #000000; text-decoration:none; background-color:#ECE8C3; }
.promoColumn3 a { color: #000000; text-decoration:none; }
.promoColumn3 a:hover { color: #A60000; text-decoration: underline; }
.promoHeader4 { color: #FFFFFF; text-decoration:none; background-color:#2772a6; }
.promoColumn4 { font-size: 12px; color: #000000; text-decoration:none; background-color: #E0E0DF; }
.promoColumn4 a { color: #000000; text-decoration:none; }
.promoColumn4 A:HOVER { color: #A60000;  text-decoration: underline; }
.casino { font-size: 12px; color: #000000; text-decoration:none; background-color: #FCECAC; }
.casino a{ text-decoration:none; }
.spacer { font-size: 3px; }
.top { font-size: 13px; color:#FFFFFF; }
.topOn { font-size: 13px; color:#000000; }
.top a { color:#FFFFFF; text-decoration:none }
.top a:hover { color:#FFD200; text-decoration:underline }
.promoHeader5 { color: #FFFFFF; text-decoration:none; background-color: #E76500; }
.promoColumn5 { font-size: 12px; color: #000000; text-decoration:none; background-color: #E76500; }
.promoColumn5 a{ color: #000000; text-decoration:none; }
.promoColumn5 a:hover { color: #FFFFFF;  text-decoration: underline; }

