body {
	font-family: Arial, Helvetica, sans-serif;
}

.inputdata
{ font-family:Arial, Helvetica, sans-serif;
font-size:12px;
width:300px;
border:1px solid #e1e1e1;
}
.inputdatadate
{ font-family:Arial, Helvetica, sans-serif;
font-size:12px;
width:100px;
border:1px solid #e1e1e1;
}
.submitdata
{ font-family:Arial, Helvetica, sans-serif;
font-size:12px;
width:100px;
height:40px;
border:1px solid #e1e1e1;
}
textarea{ font-family:Arial, Helvetica, sans-serif;
font-size:12px;
width:300px;
border:1px solid #e1e1e1;
}
#calendar{
width:100px;
}
table.data { padding: 0; margin: 10px 0 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #363636; border: 0; background-color:#FFFFFF; width:100%; }
table.data caption { font-family: Arial, Helvetica, sans-serif; text-transform: uppercase; color: #000; font-size: 14px; text-decoration: none; font-weight: bold; font-style: normal; text-align:left; padding-bottom: 10px; }
table.data th { font-size:12px; padding: 4px 10px; background:#D7D7D7; color:#000; text-align: left; font-weight: bold; border-right:1px solid #d6d6d6; }
table.data tbody, table thead { border:0; }
table.data tbody { }
table.data tbody td, table tbody th { padding: 5px 10px; }
table.data tbody td span { padding: 5px; display:block; }
table.data tr { }
table.data tr.odd { background: #EBEBEB; }