<h2>
    Bet {$racetrackname} Online!
</h2>
<p>
    Betting {$racetrackname} online has never been easier. If you have a  smartphone, tablet, or computer you can bet on races from anywhere at anytime at {$racetrackname} with
    <a href="https://www.betusracing.ag?ref={$ref}" rel="nofollow">BUSR</a>
    .   You will feel like a VIP when you  earn up to an 8%
<a href="/promos/8percent-rebate">horse betting rebate</a>
    on selected horse bets. Win or lose, we will pay your racing account   next day.  If you are new to
    BUSR
    you recevie a
<a href="/promos/10-cash-bonus">10% cash bonus    </a>
    on your first deposit  and qualify for a
<a href="/promos/150-cash-bonus">$150 cash bonus</a>
    ! It is time to
    <a href="/signup?ref={$ref}" rel="nofollow">
        Join Today!
    </a>
</p>
{include file='/home/ah/allhorse/public_html/betusracing/racetracks/cta_button.tpl'}
