label {
  margin: 3px 0;
  font-size: 90%;
  font-weight: bolder;
  display: block;
}

label.checkbox, label.yes_no {
  display: inline;
  /*position: static;
  top: -2px;
  margin-left: 5px;*/
  position: relative;
  top: -2px;
  cursor: pointer;
}

* html label.checkbox, * html label.yes_no {
  top: 1px;
}

label.yes_no {
  font-weight: normal;
}

span.label_required {
  color: red;
}

input, textarea, select {
  border: 1px solid #ccc;
  padding: 3px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  background: white;
}

select {
  padding: 1px;
}

input:hover, textarea:hover, select:hover {
  border: 1px solid deepskyblue;
}

input:focus, textarea:focus, select:focus {
  border: 1px solid black;
}

fieldset {
  margin: 10px 0;
  padding: 10px;
  padding-top: 5px;
  border: 1px solid #ccc;
}

fieldset .inputfs{
  width: 530px;
}

fieldset legend {
  font-size: 120%;
  font-weight: bolder;
}

input { width: 200px; }
input.short { width: 50px; }
input.medium { width: 150px; }
input.long { width: 97%; /*99%;*/ }
input.title { width: 530px; }

textarea.textfield {
	height: 15px !important;
	overflow: hidden;
}

input.checkbox, input.yes_no {
  border: 0;
  width: auto;
  background: transparent;
}

legend label.checkbox {
  font-weight: bolder;
}

textarea, textarea.long {
  width: 97%; /* 99% */
  height: 150px;
}

textarea.short {
  width: 360px;
  height: 70px;
}

textarea.shortTags {
  width: 200px;
  height: 16px;
}

textarea.comment {
  width: 488px;
  height: 150px;
}

textarea.editor {
  width: 97%;/*99%;*/
  height: 300px;
}

button.submit {
  margin-top: 10px;
}

span.required {
  color: red;
  font-size: 90%;
}

form div.formBlock {
  margin: 5px 0 5px 2px;
  border-left: 5px solid #e8e8e8;
  padding: 0 0 0 10px;
}

form div.formBlock label {
  margin-top: 0;
  padding-top: 0;
}

#formErrors {
  background: red;
  color: white;
  padding: 5px 10px;
}

#formErrors ul li {
  font-size: 90%;
}

/** Options block, best to put it into fieldset **/

.objectOption {
  margin-top: 5px;
}

.objectOption .optionLabel {
  float: left;
  display: block;
  width: 140px;
}

.objectOption .optionLabel label {
  margin: 0;
  padding: 0;
}

.objectOption div.optionControl {
  margin-left: 140px;
}

.objectOption div.optionDesc {
  clear: left;
  font-size: 10px;
  padding: 0 5px 5px 5px;
  color: #333;
}

.fieldDescription {
  clear: left;
  font-size: 10px;
  padding: 0 5px 5px 5px;
  color: #333;
}

.textedit {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	position: absolute;
	border: 0px !important;
}

/** Permissions **/
.permissionWrapper {
	padding: 20px;
}
	
.permissionHeader {
	margin: 10px 20px;
	border-bottom: 1px solid #AAAAAA;
}

.permissionHeader a {
	margin-left: 10px;
}

.permissionHeader span {
	margin-left: 10px;
}

.permissionMore {
	margin: 10px 100px;
}

.permissionMore td {
	padding: 2px 7px;
}
