#loading {
	font-size: 20px;
	position: absolute;
	left: 45%;
	top: 45%;
}

#header {
	/*border-bottom: 1px solid black;*/
	background-color: white;
	height: 55px;
	/*border-bottom: 1px solid #8888EE;*/
	overflow: hidden;
}
#content {
	position: absolute;
	width: 100%;
	height: 100%;
}
#pageContent {
	min-height: 1px;
}
#footer {
	height: 20px;
	color: #666;
	font-size: 9px;
	overflow: hidden;
}
#helpFrame {
	border: 0px;
}
.menuCont {
	/*height: 100%;*/
	font-size: 11px;
	/*padding: 5px 0px 5px 22px;*/
}
.ico-overview {
	background-image: url(../../images/16x16/overview.png) !important;
}
.ico-messages {
	background-image: url(../../images/16x16/message.png) !important;
}
.ico-contacts {
	background-image: url(../../images/16x16/contacts.png) !important;
}
.ico-companies {
	background-image: url(../../images/16x16/companies.png) !important;
}
.ico-calendar {
	background-image: url(../../images/16x16/calendar.png) !important;
}
.ico-documents {
	background-image: url(../../images/16x16/documents.png) !important;
}
.ico-tasks {
	background-image: url(../../images/16x16/tasks.png) !important;
}
.ico-webpages {
	background-image: url(../../images/16x16/webpages.png) !important;
}


.ext-strict .ext-ie6 .x-layout-split{
	background-color: #dfe8f6; /* fixes split panels in ie6 */
}
.x-box-mc {
	font-size: 14px;
}
.err .x-box-mc h3 {
	color: #AA0000;
}
.reminder .x-box-mc h3 {
	color: #008800;
}
#msg-div {
	position:absolute;
	left:35%;
	top:10px;
	width:250px;
	z-index:20000;
	cursor: pointer;
}
.toggle_collapsed {
	background-repeat: no-repeat;
	background-image: url(../../images/16x16/plus.gif);
	padding-left: 20px;
	cursor: pointer;
}
.toggle_expanded {
	background-repeat: no-repeat;
	background-image: url(../../images/16x16/minus.gif);
	padding-left: 20px;
	cursor: pointer;
}

#chrome_main2 /*Calendar*/ {
	border-color: rgb(195, 217, 255); 
	background: rgb(195, 217, 255) none repeat scroll 0% 50%;
}




.adminAddProject .contactsTable {
	width:100%;
	max-width:500px;
}

.adminAddProject .contactsTable .actions {
	text-align:right;
}

.adminAddProject .contactsTable .contact_name {
	font-weight:bold;
	padding-left:18px;
	background: url(../images/16x16/contacts.png) no-repeat 0 0;
	padding-top:1px;
	padding-bottom:1px;
}


.asc {
	max-width:500px;
	border:2px solid #AAA;
	padding:10px;
	margin-top:15px;
	margin-bottom:15px;
}

.asc .header{
}

.asc .header .title{
	font-weight:bold;
}

.asc .body .results{
	width:100%;
	margin-top:5px;
}

.asc .body .results .actions{
	text-align:right;
}

.asc .body .results .contact_name{
	font-weight:bold;
}


.contextualHelp {
	padding:4px 10px;
	background:#FFF2BF none repeat scroll 0 0;
	color: #5F4D06;
	border: 1px dashed #EFCB3B;
}

.contextualHelp .internalLink {
	font-weight: bold;
	color: #DFB200;
}

.contextualHelp .internalLink:hover {
	color:#FF5A00;
}
