<html><head>
{literal}
<script language="javascript">
function resize(w,h)
{
	//self.resizeTo(w+30,h);
	//self.moveTo(200,200);
	
}
/*function sub()
{
	window.opener.location.href='';
}*/
</script>
{/literal}
</head><body >
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td bgcolor="#FFFFFF">
      <table width="90%"  align="center" cellpadding="0" cellspacing="0" bgcolor="#B5DE97" style="border: 1px solid #0D4686 ;
 border-collapse: collapse;  ">
        <tr> 
          <td width="50%" height="25" bgcolor="#0D4686" style="padding-left:10px;"><strong><font color="#FFFFFF">{$title}</font></strong></td>
          <td align="right" bgcolor="#0D4686" style="padding-right:10px;">&nbsp;
		  		  </td>
        </tr>
        <tr> 
          <td height="10" colspan="2"> </td>
        </tr>
        <tr> 
          <td height="25" colspan="2" align="center">
              <table width="90%"  align="center" cellpadding="0" cellspacing="0" >
              <form action="{$action}" method="post" enctype="multipart/form-data" name="breeders_form" target="_parent" >
                <tr>
                <td><img src="images/blank.gif" alt="" title="" width="1" height="4"></td>
                </tr>
                <tr>
                  <td valign="top"><table width="100%"  border="0" cellspacing="2" cellpadding="2">
				  <!--------------------->
				  <tr>
				  <td colspan="4">
				  <table><tr>
            <td  class="fieldname" align="center" valign="top" >
             {if $horse_pic neq NULL}{if $img_chk eq 1}
			 <img src="{$horse_pic}" border="1">
			 {else}
			 <img src="../uploaded_images/horse_images/thumb{$horse_pic}" border="1">{/if}{/if}            </td>
            <td   align="center" valign="top">
              {if $horse_silkpic neq NULL}
			  {if $silkimg_chk eq 1}
			 <img src="{$horse_silkpic}" border="1">
			 {else}
			  <img src="../uploaded_images/horse_images/thumb{$horse_silkpic}" border="1">{/if}{/if}            </td>
			</tr>
			</table></td>
          </tr>
			<tr bgcolor="#0D4686" style="padding-left:10px; color:#FFFFFF;">
		 <td>Horse</td>
		  <td>Trainer</td>
		   <td>Country</td>
		   <td>Owner</td>
		   <td>Owner Country</td>
		   <td>Jockey</td>
		   <td>Distance</td>
		    <td>Age / Weight</td>
			<td>Post</td>
		    <td>Result</td>
			<td>Time</td>
		    <td>Odds</td>
		 </tr>  
				  <!---------------------->
		  {section name=horse loop=$2006BreedersCup_id}
         <tr>
		 <td><input type="text" name="horse[]" value="{$2006BreedersCup_id[horse].horse}"  size="15"></td>
		  <td><input type="text" name="trainer[]" value="{$2006BreedersCup_id[horse].trainer}" size="15"></td>
		   <td><input type="text" name="country[]" value="{$2006BreedersCup_id[horse].country}" size="15"></td>
		    <td><input type="text" name="owner[]" value="{$2006BreedersCup_id[horse].owner}" size="15"></td>
		   <td><input type="text" name="ownercountry[]" value="{$2006BreedersCup_id[horse].ownercountry}" size="15"></td>
		 
		   <td><input type="text" name="jockey[]" value="{$2006BreedersCup_id[horse].jockey}" size="15"></td>
		   <td><input type="text" name="distance[]" value="{$2006BreedersCup_id[horse].distance}"  size="3"></td>
		    <td><input type="text" name="age_weight[]" value="{$2006BreedersCup_id[horse].age_weight}" size="10"></td>
					   <td><input type="text" name="post[]" value="{$2006BreedersCup_id[horse].post}" size="3"></td>
		    <td><input type="text" name="result[]" value="{$2006BreedersCup_id[horse].result}" size="3"></td>
			   <td><input type="text" name="time1[]" value="{$2006BreedersCup_id[horse].time1}" size="5"></td>
		    <td><input type="text" name="odds[]" value="{$2006BreedersCup_id[horse].odds}" size="5"></td>
		 
		 </tr>
          {/section}
		              <tr>
                        <td colspan="7" class="fieldname"><div align="center">
						<input type="hidden" name="horse_id" value="{$horse_id}">
						 <input type="hidden" name="horse_pic" value="{$horse_pic}">
						 <input type="hidden" name="horse_silkpic" value="{$horse_silkpic}">
						 <input type="hidden" name="start" value="{$start}" />
						  <input type="hidden" name="group_stakes" value="{$group_stakes}" />
						   <input type="hidden" name="act_BreedersCup" value="{$act_BreedersCup}" />
						   <input type="hidden" name="search_BreedersCup" value="{$search_BreedersCup}" />
                           {if $horse_id eq NULL} <input  type="image" name="Submit" src="images/submit-button.gif"  style="width:62px;" >
						   {else}<input name="submit21" type="image" src="images/edit-but.gif" style="width:62px;">{/if}

                        </div></td>
                      </tr>
					  
                  </table></td>
                </tr>
                <tr>
                  <td valign="top"><img src="images/blank.gif" alt="" title="" width="1" height="4"></td></tr>
              </form>
            </table>
            </td>
        </tr>
      </table>
      <br>
    </td>
  </tr>
  <tr> 
    <td height="6" bgcolor="#FFFFFF"> </td>
  </tr>
</table> 
</body></html>
<!------------------ End of Body Section ------------------->


