{include file="header.tpl"}
{include file="left.tpl"}
{literal}
<script language="javascript" type="text/javascript">
function search_horse()
{
document.horse_search.action="?act=search_breeders";
document.horse_search.submit();
}

</script>
{/literal}

{literal}
<script>
function check(stakes)
{ document.horse_search.action="breeders_challenge.php?act_BreedersCup=search";
document.horse_search.submit();
 
}
</script>
<style type="text/css">
.smalltext
{
width:40px;
}
.mediumtext
{
width:120px;
}
.mediumMtext
{
width:80px;
}
</style>
{/literal}
<!-------------------- Body Section ------------------------>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#FFFFFF"><? //include "patient_manage_top.php"; ?></td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
  <tr>
    <td height="30" width="100%" align="right" bgcolor="#FFFFFF" style="padding-left:600px;"><strong >{$paging}</strong></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF"><table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F6F9FE" class="border">
      <tr>
        <td height="25" bgcolor="#0D4686" style="padding-left:10px;"><strong><font color="#FFFFFF">2009 Breeders Cup Challenge Schedule</font></strong></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td height="25" valign="top">
		
		<form action="" name="frmnew" method="post">
		<input type="hidden" name="start" value="{$smarty.request.start}" >
		<table width="100%" border="0" cellspacing="1" cellpadding="1">
          <tr align="center">
            <td height="40" rowspan="2" bgcolor="#0D4686"><font style="color:#FFFFFF;"><b>Date</b></font></td>
            <td height="20" bgcolor="#0D4686" rowspan="2"><font style="color:#FFFFFF;"><b>Race</b></font></td>
            <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>Grade</b></font></td>
            <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>Track</b></font></td>
            <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>Division</b></font></td>
			 <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>Distance</b></font></td>
           <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>TV</b></font></td> 
            <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>Winner</b></font></td>
			 <td height="20" bgcolor="#0D4686" rowspan="2"  class="header"><font style="color:#FFFFFF;"><b>Action</b></font></td>
          
		  </tr>
		   <tr align="center">
           <!-- <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb">&nbsp;</td>-->
            </tr>
         {assign var="indexvalue" value=0}
					  {section name=horse loop=$2006BreedersCup_id}
          <tr align="center">
            <td height="18" bgcolor="#3D73B8" align="left"><font style="color:#FFFFFF;"><input type="text" value="{$racedate[horse]}" name="racedate[]" class="mediumMtext"></font></td>
            <td height="18" bgcolor="#B5DE97" align="left"><input type="text" value="{$race[horse]}" name="race[]" class="mediumtext"></td>
            <td height="18" bgcolor="#B5DE97" align="left"><input type="text" value="{$noms[horse]}" name="noms[]" class="smalltext"></td>
            <td bgcolor="#B5DE97"><input type="text" value="{$track[horse]}" name="track[]" class="mediumtext"></td>
            <td bgcolor="#B5DE97"><input type="text" value="{$division[horse]}" name="division[]"   class="mediumtext"></td>
			 <td bgcolor="#B5DE97"><input type="text" value="{$distance[horse]}" name="distance[]"   class="mediumtext"></td>
           <td bgcolor="#B5DE97"><input type="text" value="{$tv[horse]}" name="tv[]" class="smalltext"></td>
             <td bgcolor="#B5DE97"><input type="text" value="{$winner[horse]}" name="winner[]" class="mediumtext"></td>
			<td bgcolor="#B5DE97">
				<input type="hidden" value="{$2006BreedersCup_id[horse]}" name="id[]" class="mediumtext">
			{if $2006BreedersCup_id[horse]|count_characters:true > 0}<a href="?act=delete&BreedersCup_id={$2006BreedersCup_id[horse]}" class="seven" onClick="return confirm('Are you sure to delete?')">[Delete]</a>{/if}</td>
          </tr>
		  {assign var="indexvalue" value=$indexvalue+1}
		 {sectionelse}
		  <tr align="center">
            <td height="18" bgcolor="#3D73B8" colspan="8"><strong>No data available</strong></td>
			</tr>
                    {/section}
			
         <tr><td colspan="7" align="center"><input type="image" src="images/submit-button.gif" style="width:85px; height:18px;" name="submitodds" value="submitodds"/></td></tr>
		 
        </table>
		</form>
		
		</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="20" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
</table>
<!------------------ End of Body Section ------------------->
