{include file="header.tpl"}
{include file="left.tpl"}
<!-------------------- Body Section ------------------------>
{literal}
<script language="javascript" src="js/validation.js" type="text/javascript"></script>
<style type="text/css">

</style>
{/literal}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td height="6" bgcolor="#FFFFFF"> </td>
  </tr>
  <tr> 
    <td bgcolor="#FFFFFF"><br>
      <table width="90%" style="border: 1px solid #0D4686 ;
 border-collapse: collapse;  " align="center" cellpadding="0" cellspacing="0" bgcolor="#B5DE97" class="border">
        <tr> 
          <td width="50%" height="25" bgcolor="#0D4686" style="padding-left:10px;"><strong><font color="#FFFFFF">{if  $equibase_RacingLeader_id eq NULL}ADD 
            {else}EDIT {/if}Equibase Racing Leaders</font></strong></td>
          <td align="right" bgcolor="#0D4686" style="padding-right:10px;">
		  <a href="javascript:history.back();" style="text-decoration:none;"><strong><font color="#FFFFFF">&laquo; Back</font></strong></a>&nbsp;&nbsp;
		  <a href="racingleader_view.php"><strong><font color="#FFFFFF">&laquo; Back</font></strong></a>
		  </td>
        </tr>
        <tr> 
          <td height="10" colspan="2"> </td>
        </tr>
        <tr> 
          <td height="25" colspan="2" align="center">
              <table width="90%"  border="0" align="center" cellpadding="0" cellspacing="0">
              <form action="" method="post" enctype="multipart/form-data" name="equibase_RacingLeaders_form" onSubmit="return chk_equibase_RacingLeader('{$equibase_RacingLeader_id}');">
                <tr>
                  <td><img src="images/blank.gif" alt="" title="" width="1" height="4"></td>
                </tr>
                <tr>
                  <td valign="top"><table width="100%"  border="0" cellspacing="2" cellpadding="2">
                      
                      <tr>
            <td width='150' class="fieldname">
              List Name
            </td>
            <td class="columnHeaderStatic">
              <textarea name="List_name" id="affiliateFirstName">{$List_name}</textarea>
            </td>

          </tr>
		   <tr>
            <td class="fieldname">
              Order
            </td>
            <td class="columnHeaderStatic">

             <input type="text" value="{$order}" name="order">
            </td>
          </tr><tr>
            <td width='150' class="fieldname">
              Name
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="Name" value="{$Name}" id="affiliateFirstName">
            </td>

          </tr> <tr>
            <td width='150' class="fieldname">
              Starts
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="starts" value="{$starts}" id="affiliateFirstName">
            </td>

          </tr> 
		  <tr>
            <td width='150' class="fieldname">
              First
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="first" value="{$first}" id="affiliateFirstName">
            </td>

          </tr> 
		  <tr>
            <td width='150' class="fieldname">
              Second
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="second" value="{$second}" id="affiliateFirstName">
            </td>

          </tr> 
		  <tr>
            <td width='150' class="fieldname">
              Third
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="third" value="{$third}" id="affiliateFirstName">
            </td>

          </tr> <tr>
            <td width='150' class="fieldname">
              Earnings</td>
            <td class="columnHeaderStatic">
              <input type="text" name="Earnings" value="{$Earnings}" id="affiliateFirstName">
            </td>

          </tr> 
		  <tr>
            <td width='150' class="fieldname">
              Winning Percentage</td>
            <td class="columnHeaderStatic">
              <input type="text" name="wining_percentage" value="{$wining_percentage}" id="affiliateFirstName">
            </td>

          </tr>
		  
		  <tr>
            <td width='150' class="fieldname">
              Top 3 percentage</td>
            <td class="columnHeaderStatic">
              <input type="text" name="top_3" value="{$top_3}" id="affiliateFirstName">
            </td>
          </tr>
		  
		  
		  
                      <tr>
                        <td colspan="2" class="fieldname" align="left"><div align="center">
						<input type="hidden" name="equibase_RacingLeader_id" value="{$equibase_RacingLeader_id}">
						<input type="hidden" name="start" value="{$start}" />
						
                           {if $equibase_RacingLeader_id eq NULL} <input name="submit21" type="image" src="images/submit-button.gif" style="width:62px;">
						   {else}<input name="submit21" type="image" src="images/edit-but.gif" style="width:62px;">{/if}

                        </div></td>
                      </tr>
					  <tr>
                        <td colspan="3" class="fieldname"><div align="center">
						Or Import 
                        </div></td>
                      </tr><tr>
                        <td colspan="3" class="fieldname"><div align="center" style="padding-right:100px ">
						<input type="file" name="import_equibase_RacingLeader">
                        </div></td>
                      </tr>
                  </table></td>
                </tr>
                <tr>
                  <td valign="top"><img src="images/blank.gif" alt="" title="" width="1" height="4"></td>
                </tr>
              </form>
            </table>
            </td>
        </tr>
      </table>
      <br>
    </td>
  </tr>
  <tr> 
    <td height="6" bgcolor="#FFFFFF"> </td>
  </tr>
</table> 
<!------------------ End of Body Section ------------------->
{include file="footer.tpl"}

