{include file="header.tpl"}
{include file="left.tpl"}
<!-------------------- Body Section ------------------------>
{literal}
<script language="javascript" src="js/validation.js" type="text/javascript"></script>
<style type="text/css">

</style>
{/literal}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td height="6" bgcolor="#FFFFFF"> </td>
  </tr>
  <tr> 
    <td bgcolor="#FFFFFF"><br>
      <table width="90%" style="border: 1px solid #0D4686 ;
 border-collapse: collapse;  " align="center" cellpadding="0" cellspacing="0" bgcolor="#B5DE97" class="border">
        <tr> 
          <td width="50%" height="25" bgcolor="#0D4686" style="padding-left:10px;"><strong><font color="#FFFFFF">{if $ntra_id eq NULL}ADD 
            NTRA{else} EDIT NTRA{/if}</font></strong></td>
          <td align="right" bgcolor="#0D4686" style="padding-right:10px;">
		  <a href="javascript:history.back();" style="text-decoration:none;"><strong><font color="#FFFFFF">&laquo; Back</font></strong></a>&nbsp;
		  <a href="ntra_view.php" style="text-decoration:none;"><strong><font color="#FFFFFF">&laquo; Back to ntra</font></strong></a>
		  </td>
        </tr>
        <tr> 
          <td height="10" colspan="2"> </td>
        </tr>
        <tr> 
          <td height="25" colspan="2" align="center">
              <table width="90%"  border="0" align="center" cellpadding="0" cellspacing="0">
              <form action="" method="post" enctype="multipart/form-data" name="ntra_form" onSubmit="return chk_ntra('{$ntra_id}');">
                <tr>
                <td><img src="images/blank.gif" alt="" title="" width="1" height="4"></td>
                </tr>
                <tr>
                  <td valign="top"><table width="100%"  border="0" cellspacing="2" cellpadding="2">
				  <!--------------------->
				  
				  
				  <!---------------------->
                      
                      <tr>
            <td width='150' class="fieldname">
              Url
            </td>
            <td class="columnHeaderStatic">
              <textarea name="ntra_url" id="affiliateFirstName">{$ntra_url}</textarea>
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Race Date
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="ntra_race_date" value="{$ntra_race_date}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Track Name
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="ntra_track_name" value="{$ntra_track_name}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Location
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="ntra_location" value="{$ntra_location}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Entry Draw
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="ntra_entry_draw" value="{$ntra_entry_draw}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Scrach
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="ntra_scrach" value="{$ntra_scrach}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Time Zone
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="ntra_time_zone" value="{$ntra_time_zone}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Race1
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="ntra_race1" value="{$ntra_race1}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Race2</td>
            <td class="columnHeaderStatic">
              <input type="text" name="ntra_race2" value="{$ntra_race2}" id="affiliateFirstName">
            </td>

          </tr>
		   <tr>
            <td class="fieldname">
              Race3
            </td>
            <td class="columnHeaderStatic">

              <input type="text" name="ntra_race3" value="{$ntra_race3}" id="affiliateFirstName">
            </td>
          </tr><tr>
            <td width='150' class="fieldname">
              Race4
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="ntra_race4" value="{$ntra_race4}" id="affiliateFirstName">
            </td>

          </tr> <tr>
            <td width='150' class="fieldname">
              Race5
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="ntra_race5" value="{$ntra_race5}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Race6
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="ntra_race6" value="{$ntra_race6}" id="affiliateFirstName">
            </td>

          </tr><tr>
            <td width='150' class="fieldname">
              Race7
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="ntra_race7" value="{$ntra_race7}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Race8
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="ntra_race8" value="{$ntra_race8}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Race9
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="ntra_race9" value="{$ntra_race9}" id="affiliateFirstName">
            </td>

          </tr><tr>
            <td width='150' class="fieldname">
              Race10
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="ntra_race10" value="{$ntra_race10}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Race11
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="ntra_race11" value="{$ntra_race11}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Race12
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="ntra_race12" value="{$ntra_race12}" id="affiliateFirstName">
            </td>

          </tr><tr>
            <td width='150' class="fieldname">
              Race13
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="ntra_race13" value="{$ntra_race13}" id="">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Race14
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="ntra_race14" value="{$ntra_race14}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
             Race15
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="ntra_race15" value="{$ntra_race15}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Stakes
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="ntra_stakes" value="{$ntra_stakes}" id="">
            </td>

          </tr>
		  <tr>
                        <td colspan="3" class="fieldname"><div align="center">
						Or Import all records from .CSV file
                        </div></td>
                      </tr><tr>
                        <td colspan="3" class="fieldname"><div align="center" style="padding-right:0px ">
						<input type="file" name="import_ntra">
                        </div></td>
                      </tr>
                      <tr>
                        <td colspan="3" class="fieldname"><div align="center">
						<input type="hidden" name="ntra_id" value="{$ntra_id}">
						<input type="hidden" name="start" value="{$start}" />
						   {if $ntra_id eq NULL} <input name="select-all2" type="image" src="images/submit-button.gif" style="width:62px;">
						   {else}<input name="submit21" type="image" src="images/edit-but.gif" style="width:62px;">{/if}

                        </div></td>
                      </tr>
					  
                  </table></td>
                </tr>
                <tr>
                  <td valign="top"><img src="images/blank.gif" alt="" title="" width="1" height="4"></td></tr>
              </form>
            </table>
            </td>
        </tr>
      </table>
      <br>
    </td>
  </tr>
  <tr> 
    <td height="6" bgcolor="#FFFFFF"> </td>
  </tr>
</table> 
<!------------------ End of Body Section ------------------->
{include file="footer.tpl"}

