{include file="header.tpl"}
{include file="left.tpl"}
<!-------------------- Body Section ------------------------>
{literal}
<script language="javascript" src="js/validation.js" type="text/javascript"></script>
<style type="text/css">

</style>
{/literal}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td height="6" bgcolor="#FFFFFF"> </td>
  </tr>
  <tr> 
    <td bgcolor="#FFFFFF"><br>
      <table width="90%" style="border: 1px solid #0D4686 ;
 border-collapse: collapse;  " align="center" cellpadding="0" cellspacing="0" bgcolor="#B5DE97" class="border">
        <tr> 
          <td width="50%" height="25" bgcolor="#0D4686" style="padding-left:10px;"><strong><font color="#FFFFFF">{if $racingchannel_id eq NULL}ADD 
            racingchannel{else} EDIT racingchannel{/if}</font></strong></td>
          <td align="right" bgcolor="#0D4686" style="padding-right:10px;">
		  <a href="javascript:history.back();" style="text-decoration:none;"><strong><font color="#FFFFFF">&laquo; Back</font></strong></a>&nbsp;
		  &nbsp;&nbsp;
		  <a href="racingchannel_view.php" style="text-decoration:none;"><strong><font color="#FFFFFF">&laquo; Back to Racing Channels</font></strong></a>
		  </td>
        </tr>
        <tr> 
          <td height="10" colspan="2"> </td>
        </tr>
        <tr> 
          <td height="25" colspan="2" align="center">
              <table width="90%"  border="0" align="center" cellpadding="0" cellspacing="0">
              <form action="" method="post" enctype="multipart/form-data" name="racingchannels_form" onSubmit="return chk_racingchannel('{$racingchannel_id}');">
                <tr>
                <td><img src="images/blank.gif" alt="" title="" width="1" height="4"></td>
                </tr>
                <tr>
                  <td valign="top"><table width="100%"  border="0" cellspacing="2" cellpadding="2">
				  <!--------------------->
				  
				  
				  <!---------------------->
                      
                      
		  <tr>
            <td width='150' class="fieldname">
              Url
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_url" value="{$racingchannel_url}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Race Track
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_race_track" value="{$racingchannel_race_track}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Race Date
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_race_date" value="{$racingchannel_race_date}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Race Number
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_race_number" value="{$racingchannel_race_number}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Horese Number1
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_horse_number1" value="{$racingchannel_horse_number1}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Horse name1
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_horse_name1" value="{$racingchannel_horse_name1}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Win1
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_win1" value="{$racingchannel_win1}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Place1
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_place2" value="{$racingchannel_place2}" id="affiliateFirstName">
            </td>

          </tr>
		   <tr>
            <td class="fieldname">
              Show1
            </td>
            <td class="columnHeaderStatic">

              <input type="text" name="racingchannel_show1" value="{$racingchannel_show1}" id="affiliateFirstName">
            </td>
          </tr>
		  <!-----------2222222222222222----------------->
		  <tr>
            <td width='150' class="fieldname">
              Horese Number2
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_horse_number2" value="{$racingchannel_horse_number2}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Horse name2
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_horse_name2" value="{$racingchannel_horse_name2}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Win2
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_win2" value="{$racingchannel_win2}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Place2
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_place2" value="{$racingchannel_place2}" id="affiliateFirstName">
            </td>

          </tr>
		   <tr>
            <td class="fieldname">
              Show2
            </td>
            <td class="columnHeaderStatic">

              <input type="text" name="racingchannel_show2" value="{$racingchannel_show2}" id="affiliateFirstName">
            </td>
          </tr>
		  
		  
		  <!-------------------------------------------->
		   <tr>
            <td width='150' class="fieldname">
              Horese Number3
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_horse_number3" value="{$racingchannel_horse_number3}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Horse name3
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_horse_name3" value="{$racingchannel_horse_name3}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Win3
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_win3" value="{$racingchannel_win3}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Place3
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_place3" value="{$racingchannel_place3}" id="affiliateFirstName">
            </td>

          </tr>
		   <tr>
            <td class="fieldname">
              Show3
            </td>
            <td class="columnHeaderStatic">

              <input type="text" name="racingchannel_show3" value="{$racingchannel_show3}" id="affiliateFirstName">
            </td>
          </tr>
		  <!------------------33333333-------------------------->
		   <tr>
            <td width='150' class="fieldname">
              Horese Number4
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_horse_number4" value="{$racingchannel_horse_number4}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Horse name4
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_horse_name4" value="{$racingchannel_horse_name4}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Win4
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_win4" value="{$racingchannel_win4}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Place4
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_place4" value="{$racingchannel_place4}" id="affiliateFirstName">
            </td>

          </tr>
		   <tr>
            <td class="fieldname">
              Show4
            </td>
            <td class="columnHeaderStatic">

              <input type="text" name="racingchannel_show4" value="{$racingchannel_show4}" id="affiliateFirstName">
            </td>
          </tr>
		  
		  <!---------------------------------------------------->
		  <tr>
            <td width='150' class="fieldname">
              D Double
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_d_double" value="{$racingchannel_d_double}" id="affiliateFirstName">
            </td>

          </tr> <tr>
            <td width='150' class="fieldname">
              D Double Amount 
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_d_double_amount" value="{$racingchannel_d_double_amount}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Exacta
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_zip_extra" value="{$racingchannel_extra}" id="affiliateFirstName">
            </td>

          </tr><tr>
            <td width='150' class="fieldname">
              Exacta Amount 
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_extra_amount" value="{$racingchannel_extra_amount}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Trifecta 
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_trifecta" value="{$racingchannel_trifecta}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Trifecta_Amount 
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_trifecta_amount" value="{$racingchannel_trifecta_amount}" id="affiliateFirstName">
            </td>

          </tr><tr>
            <td width='150' class="fieldname">
              Superfecta 
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_superfecta" value="{$racingchannel_superfecta}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Superfecta Amount 
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_superfecta_amount" value="{$racingchannel_superfecta_amount}" id="affiliateFirstName">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Quinella 
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_quinella" value="{$racingchannel_quinella}" id="affiliateFirstName">
            </td>

          </tr><tr>
            <td width='150' class="fieldname">
              Quinella Amount 
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_quinella_amount" value="{$racingchannel_quinella_amount}" id="">
            </td>

          </tr>
		  <tr>
            <td width='150' class="fieldname">
              Refunds
            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="racingchannel_refunds" value="{$racingchannel_refunds}" id="affiliateFirstName">
            </td>

          </tr>
		 
		  <tr>
                        <td colspan="3" class="fieldname"><div align="center">
						Or Import 
                        </div></td>
                      </tr><tr>
                        <td colspan="3" class="fieldname"><div align="center" style="padding-right:0px ">
						<input type="file" name="import_racingchannel">
                        </div></td>
                      </tr>
                      <tr>
                        <td colspan="3" class="fieldname"><div align="center">
						<input type="hidden" name="racingchannel_id" value="{$racingchannel_id}">
						 <input type="hidden" name="logo1" value="{$logo}">
						 <input type="hidden" name="driving_pic1" value="{$driving_pic}">
						 <input type="hidden" name="start" value="{$start}" />
                           {if $racingchannel_id eq NULL} <input name="select-all2" type="image" src="images/submit-button.gif" style="width:62px;">
						   {else}<input name="submit21" type="image" src="images/edit-but.gif" style="width:62px;">{/if}

                        </div></td>
                      </tr>
					  
                  </table></td>
                </tr>
                <tr>
                  <td valign="top"><img src="images/blank.gif" alt="" title="" width="1" height="4"></td></tr>
              </form>
            </table>
            </td>
        </tr>
      </table>
      <br>
    </td>
  </tr>
  <tr> 
    <td height="6" bgcolor="#FFFFFF"> </td>
  </tr>
</table> 
<!------------------ End of Body Section ------------------->
{include file="footer.tpl"}

