{include file="header.tpl"}
{include file="left.tpl"}
<!-------------------- Body Section ------------------------>
{literal}
<script language="javascript" src="js/validation.js" type="text/javascript"></script>
<style type="text/css">

</style>
{/literal}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td height="6" bgcolor="#FFFFFF"> </td>
  </tr>
  <tr> 
    <td bgcolor="#FFFFFF"><br>
      <table width="90%" style="border: 1px solid #0D4686 ;
 border-collapse: collapse;  " align="center" cellpadding="0" cellspacing="0" bgcolor="#B5DE97" class="border">
        <tr> 
          <td width="50%" height="25" bgcolor="#0D4686" style="padding-left:10px;"><strong><font color="#FFFFFF">ADD 
            You Tube Video</font></strong></td>
          <td align="right" bgcolor="#0D4686" style="padding-right:10px;">
		  <a href="javascript:history.back();" style="text-decoration:none;"><strong><font color="#FFFFFF">&laquo; Previous page</font></strong></a>&nbsp;
		  <a href="utube_view.php"><strong><font color="#FFFFFF">&laquo; Back to youtube list</font></strong></a> 
		  </td>
        </tr>
        <tr> 
          <td height="10" colspan="2"> </td>
        </tr>
        <tr> 
          <td height="25" colspan="2" align="center">
              <table width="90%"  border="0" align="center" cellpadding="0" cellspacing="0">
              <form action="" method="post" enctype="multipart/form-data" name="stakes_form" onSubmit="return chk_stake('{$stake_id}');">
                <tr>
                  <td><img src="images/blank.gif" alt="" title="" width="1" height="4"></td>
                </tr>
                <tr>
                  <td valign="top"><table width="100%"  border="0" cellspacing="2" cellpadding="2">
                      
                      <tr>
            <td width='150' class="fieldname"> Url</td>
            <td class="columnHeaderStatic">
              <input type="text" name="url" value="{$url}"  style="width:450px; ">            </td>
          </tr><tr>
            <td width='150' class="fieldname">
               Horse            </td>
            <td class="columnHeaderStatic">
              {html_options name=horse options=$horse selected=$mySelecthorse}          </td>

          </tr> <tr>
            <td width='150' class="fieldname">
              Stakes</td>
            <td class="columnHeaderStatic">
               {html_options name=stakes options=$stakes selected=$mySelectstakes}             </td>

          </tr> 
		  <tr>
            <td width='150' class="fieldname">
              Title</td>
            <td class="columnHeaderStatic">
              <input type="text" name="title" value="{$title}" style="width:450px; ">            </td>
          </tr> 
		  {if $id eq NULL}
		  {else}
		  <tr><td colspan="2" align="center">
		  <object width="213" height="172"><param name="movie" value="http://www.youtube.com/v/{$code}&hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/{$code}&hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="213" height="172"></embed></object><br>
		  </td></tr>
		  {/if}
		  
		  
		  
                      <tr>
                        <td colspan="2" class="fieldname" align="left"><div align="center">
						<input type="hidden" name="stake_id" value="{$id}">
						 <input type="hidden" name="act" value="{$act}">
						 <input type="hidden" name="start" value="{$start}" />
                           {if $stake_id eq NULL} <input name="submit21" type="image" src="images/submit-button.gif" style="width:62px;">
						   {else}<input name="submit21" type="image" src="images/edit-but.gif" style="width:62px;">{/if}

                        </div></td>
                      </tr>
					  
                  </table></td>
                </tr>
                <tr>
                  <td valign="top"><img src="images/blank.gif" alt="" title="" width="1" height="4"></td>
                </tr>
              </form>
            </table>
            </td>
        </tr>
      </table>
      <br>
    </td>
  </tr>
  <tr> 
    <td height="6" bgcolor="#FFFFFF"> </td>
  </tr>
</table> 
<!------------------ End of Body Section ------------------->
{include file="footer.tpl"}

