{include file="header.tpl"}
{include file="left.tpl"}
<!-------------------- Body Section ------------------------>
{literal}
<style type="text/css">
.fieldname{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#000000;
font-weight:bold;
}
.columnHeaderStatic
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    COLOR: #000063;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
}

.columnStatic
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    TEXT-DECORATION: none;
}

</style>
{/literal}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td height="6" bgcolor="#FFFFFF"> </td>
  </tr>
  <tr> 
    <td bgcolor="#FFFFFF"><br>
      <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#B5DE97" class="border">
        <tr> 
          <td width="50%" height="25" bgcolor="#0D4686" style="padding-left:10px;"><strong><font color="#FFFFFF">EDIT            TRAINER FACT</font></strong></td>
          <td align="right" bgcolor="#0D4686" style="padding-right:10px;">
		  <a href="trainer_fact.php"><strong><font color="#FFFFFF">&laquo; Back</font></strong></a>
		  </td>
        </tr>
        <tr> 
          <td height="10" colspan="2"> </td>
        </tr>
        <tr> 
          <td height="25" colspan="2" align="center">
              <table width="90%"  border="0" align="center" cellpadding="0" cellspacing="0">
              <form action="" method="post" enctype="multipart/form-data" name="frm1" onSubmit="return chk_news_img('{$value_id}');">
                <tr>
                  <td><img src="images/blank.gif" alt="" title="" width="1" height="4"></td>
                </tr>
                <tr>
                  <td valign="top"><table width="100%"  border="0" cellspacing="2" cellpadding="2">
                      
                      <tr>
            <td width='150' class="fieldname">
              Name            </td>
            <td class="columnHeaderStatic">
              <input type="text" name="affiliateFirstName" value="Michael Matz" id="affiliateFirstName">            </td>
          </tr>
		  <tr>
            <td width='150' class="fieldname">
             Fact            </td>
            <td class="columnHeaderStatic">
              <textarea name="affiliateFirstName" value="" id="affiliateFirstName" rows="3">A successful national and international riding car</textarea>            </td>
          </tr>
                      <tr>
                        <td colspan="2" class="fieldname" align="left"><div align="center">
						<input type="hidden" name="id" value="{$value_id}">
						 <input type="hidden" name="image" value="{$value_image}">
                           {if $value_id eq NULL} <input type="submit" name="Submit" value="Edit Trainer Fact" style="width:150px; color:#FFFFFF; background-color:#0D4686; font-weight:bold;">
						   {else}<input name="submit21" type="image" src="images/edit-but.gif" width="39" height="17" border="0">{/if}

                        </div></td>
                      </tr>
					  <tr>
                        <td colspan="3" class="fieldname"><div align="center">
						Or Import 
                        </div></td>
                      </tr><tr>
                        <td colspan="3" class="fieldname"><div align="center">
						<img name="image5" type="image" src="images/import.gif" width="70" height="18" border="0">
                        </div></td>
                      </tr>
                  </table></td>
                </tr>
                <tr>
                  <td valign="top"><img src="images/blank.gif" alt="" title="" width="1" height="4"></td>
                </tr>
              </form>
            </table>
            </td>
        </tr>
      </table>
      <br>
    </td>
  </tr>
  <tr> 
    <td height="6" bgcolor="#FFFFFF"> </td>
  </tr>
</table> 
<!------------------ End of Body Section ------------------->
{include file="footer.tpl"}

