{include file="header.tpl"}
{include file="left.tpl"}
{literal}
<script language="javascript" type="text/javascript">
function search_horse()
{
document.horse_search.action="?act=search_breeders";
document.horse_search.submit();
}

function change(a)
{
	window.location="?week="+a.value;
}

</script>
{/literal}

{literal}
<script>
function check(stakes)
{ document.horse_search.action="breeders_challenge.php?act_BreedersCup=search";
document.horse_search.submit();
 
}
</script>
<style type="text/css">
.smalltext
{
width:40px;
}
.mediumtext
{
width:520px;
}
.mediumMtext
{
width:80px;
}
</style>
{/literal}
<!-------------------- Body Section ------------------------>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#FFFFFF"><? //include "patient_manage_top.php"; ?></td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
  <tr>
    <td height="30" width="100%" align="right" bgcolor="#FFFFFF" style="padding-left:600px;"><strong >{$paging}</strong></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF"><table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F6F9FE" class="border">
      <tr>
        <td height="25" bgcolor="#0D4686" style="padding-left:10px;"><strong><font color="#FFFFFF">Week {$selectedweek} Fantasy Pick'em Promo Winners</font></strong><div style="float:right; "><strong>Week</strong><select name="week"  onChange="change(this);">
   {html_options options=$weeks selected=$selectedweek}
</select></div></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td height="25" valign="top">
		
		<form action="" name="frmnew" method="post">
		<input type="hidden" name="selectedweek" value="{$selectedweek}" >
		<table width="660" border="0" cellspacing="1" cellpadding="1">
          <tr align="center">
            <td height="40" rowspan="2" bgcolor="#0D4686"><font style="color:#FFFFFF;"><b>Place</b></font></td>
            <td height="20" bgcolor="#0D4686" rowspan="2"><font style="color:#FFFFFF;"><b>Name</b></font></td>
            <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>Points</b></font></td>
            <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>Prize</b></font></td>            
		  </tr>
		   <tr align="center">
           <!-- <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb">&nbsp;</td>-->
            </tr>
         {assign var="indexvalue" value=0}
					  {section name=horse loop=$2006BreedersCup_id}
          <tr align="center">
            <td height="18" bgcolor="#3D73B8" align="left"><font style="color:#FFFFFF;">{$2006BreedersCup_id[horse]}</font></td>
            <td height="18" bgcolor="#B5DE97" align="left"><input type="text" value="{$name[horse]}" name="name[]" class="mediumtext"></td>
            <td height="18" bgcolor="#B5DE97" align="left"><input type="text" value="{$poin[horse]}" name="poin[]" class="smalltext"></td>
            <td bgcolor="#B5DE97">${$points[horse]}</td>      
			<td bgcolor="#B5DE97">
				<input type="hidden" value="{$2006BreedersCup_id[horse]}" name="id[]" class="mediumtext">
			</td>
          </tr>
		  {assign var="indexvalue" value=$indexvalue+1}
		 {sectionelse}
		  <tr align="center">
            <td height="18" bgcolor="#3D73B8" colspan="8"><strong>No data available</strong></td>
			</tr>
                    {/section}
			
         <tr><td colspan="7" align="center"><input  type="submit" style="width:85px; height:18px;" name="submit" value="Submit"/></td></tr>
		 
        </table>
		</form>
		
		</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="20" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
</table>
<!------------------ End of Body Section ------------------->
