{include file="header.tpl"}
{include file="left.tpl"}
{literal}
<style type="text/css">

</style>
{/literal}
<!-------------------- Body Section ------------------------>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#FFFFFF"><? //include "patient_manage_top.php"; ?></td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
  <tr>
    <td height="30" align="right" bgcolor="#FFFFFF" style="padding-right:10px;"><strong class="bodyb">{$paging}</strong></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F6F9FE" class="border">
      <tr>
        <td height="25" bgcolor="#0D4686" style="padding-left:10px;"><strong><font color="#FFFFFF">HANDICAPPERS</font></strong></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td height="25"><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#89ADD7">
          <tr>
            <td height="22"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="1">
              <tr align="center">
                <td height="22" bgcolor="#E4EBF6" width="10%" ><a href="add_handicapper.php" class="one">Add</a></td><td width="90%" bgcolor="#FFFFFF">&nbsp;</td>
               
                
              </tr>
            </table></td>
			<!-------------------------->
			  <tr align="center">
			  <td colspan="2" width="100%">
			  <table width="100%" bgcolor="#FFFFFF">
			  <tr>
			  <form name="handicapper_search" method="post" action="?act_handicapper=search">
                <td height="22" width="35%" bgcolor="#FFFFFF" colspan="1"> Search by Name : <input type="text" name="search_handicapper" style="width:100px; " value="{$search_value}"></td>
			   
			   <td height="22" width="65%" bgcolor="#FFFFFF" colspan="4" align="left"><input type="image" src="images/botton-seeresults.gif" style="width:85px; height:18px;" />
				                                            </td>
				
                  
				 </form>          
              </tr>
			  </table>
			  </td>
			  </tr>
			  <!-------------------------->
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="25" valign="top"><table width="100%" border="0" cellspacing="1" cellpadding="1">
          <tr align="center">
            <td height="40" rowspan="2" bgcolor="#0D4686"><a href="?sort_by=company_name" class="seven"><font style="color:#FFFFFF;"><b>Company name</b></font></a></td>
            <td height="20" bgcolor="#0D4686" rowspan="2"><a href="?sort_by=phone" class="seven"><font style="color:#FFFFFF;"><b>Phone1
               </b></font></a></td>
            <!--<td height="20" bgcolor="#0D4686" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>Street1</b></font></td>-->
			 <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><a href="?sort_by=url" class="seven"><font style="color:#FFFFFF;"><b>Url</b></font></a></td>
           <!-- <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>state</b></font></td>-->
           <!-- <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>Country</b></font></td>-->
            <!--<td height="20" bgcolor="#0D4686" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>Url</b></font></td>-->
            <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><a href="?sort_by=email" class="seven"><font style="color:#FFFFFF;"><b>Email</b></font></a></td>
            <!--<td bgcolor="#0D4686" rowspan="2" class="bodyb"><font style="color:#FFFFFF;"><b>Contact</b></font></td>-->
            <td height="20" bgcolor="#0D4686" rowspan="2" colspan="2" class="header"><font style="color:#FFFFFF;"><b>Action</b></font></td>
           <!-- <td height="40" rowspan="2" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">Action</font></td>-->
		  </tr>
          <tr align="center">
          
            </tr>
			{assign var="indexvalue" value=0}
					  {section name=handicapper loop=$handicapper_id}
          <tr align="center">
            <td height="18" bgcolor="#3D73B8" align="left"><font style="color:#FFFFFF;">
			<a href="add_handicapper.php?handicapper_id={$handicapper_id[handicapper]}&start={$start}" class="seven">
             {$handicapper_name[handicapper]}</a></font></td>
            <td height="18" bgcolor="#B5DE97" align="left">{$handicapper_phone1[handicapper]}</td>
            <!--<td height="18" bgcolor="#B5DE97">{$handicapper_street1[handicapper]}</td>-->
			<td height="18" bgcolor="#B5DE97" align="left"><a href="{$handicapper_url[handicapper]}" class="seven" target="_blank">{$handicapper_url[handicapper]}</a></td>
            <!--<td height="18" bgcolor="#B5DE97">{$handicapper_state[handicapper]}</td>-->
            <!--<td height="18" bgcolor="#B5DE97">{$handicapper_country[handicapper]}</td>-->
            <td height="18" bgcolor="#B5DE97" align="left"><a href="mailto:{$handicapper_email[handicapper]}" class="seven">{$handicapper_email[handicapper]}</a></td>
           <!-- <td height="18" bgcolor="#B5DE97">{$handicapper_contact[handicapper]}</td>-->
            <td bgcolor="#B5DE97"><a href="add_handicapper.php?handicapper_id={$handicapper_id[handicapper]}&start={$start}" class="seven">[Edit]</a></td>
            <td bgcolor="#B5DE97"><a href="?handicapper_id={$handicapper_id[handicapper]}&act=delete" onClick="return confirm('Are you sure to delete?')" class="seven">[Delete]</a><!--<input type="checkbox" name="checkbox" value="checkbox" style="border-color:#B5DE97;" />--></td>
          </tr>
		 {assign var="indexvalue" value=$indexvalue+1}
		 {sectionelse}
		  <tr align="center">
            <td height="30" bgcolor="#3D73B8" colspan="10"><font style="color:#FFFFFF;">No data available</font></td>
			</tr>
                    {/section}
        </table></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="20" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
</table>
<!------------------ End of Body Section ------------------->
{include file="footer.php"}