<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>::: allhorseracing.com : Admin Panel :::</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
{literal}
<style type="text/css">
<!--
.style1 {color: #FFFFFF}
-->
</style>
<link rel="stylesheet" href="css/style.css" type="text/css">
{/literal}
</head>
<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" bgcolor="#0D4686">
<table width="100%" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<table align="center" width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr> 
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td height="25"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr> 
                  <td width="50%" height="50" style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #619BC9; padding-right:10px;"><h1>Horse Racing</h1></td>
                  <td height="50" align="right" style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #619BC9; padding-right:10px;"> 
                    
                   <!-- <table width="60%" border="0" cellpadding="0" cellspacing="0" bgcolor="#619BC9">
                      <tr>
                        <td><table width="100%" border="0" cellpadding="3" cellspacing="1">
                            <tr align="center"> 
                              <td height="25" bgcolor="#D6DFF7"><a href="index.php"><strong>Home</strong></a></td>
                              <td height="25" bgcolor="#D6DFF7"><a href="#"><strong>About 
                                Us</strong></a></td>
                              <td height="25" bgcolor="#D6DFF7"><a href="#"><strong>Contact 
                                Us</strong></a></td>
                              <td height="25" bgcolor="#D6DFF7"><a href="#" onClick="alert('window.print()');"><strong>Print</strong></a></td>
                            </tr>
                          </table>-->
						  &nbsp;
				    </td>
                  </tr>
                    </table>
                   
                  </td></tr>
              </table></td>
          </tr>
        </table> 
		</td>
        </tr>