{include file="header.tpl"}
{include file="left.tpl"}
{literal}
<script language="javascript" type="text/javascript">
function search_horse()
{
document.horse_search.action="?act=search_breeders";
document.horse_search.submit();
}

</script>
{/literal}

{literal}
<script>
function check(stakes)
{ document.horse_search.action="horse_history.php?act_BreedersCup=search";
document.horse_search.submit();
 
}

function formsubmit()
{
	document.asd.submit();
}

function uploadcheck()
{
	if(document.asd.stakes.value == 0)
	{
		alert("Please at first select a stakes");
		return false;
	}
	if(document.fileup.xmlfile.value == "")
	{
		alert("Please Upload an xml file");
		return false;
	}
	
	//return false;

}
</script>
<style type="text/css">
.smalltext
{
width:40px;
}
.mediumtext
{
width:140px;
}
</style>
{/literal}
<!-------------------- Body Section ------------------------>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#FFFFFF"><? //include "patient_manage_top.php"; ?></td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
  <tr>
    <td height="30" width="100%" align="right" bgcolor="#FFFFFF" style="padding-left:600px;"><strong >{$paging}</strong></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F6F9FE" class="border">
      <tr>
        <td height="25" bgcolor="#0D4686" style="padding-left:10px;"><strong><font color="#FFFFFF">Add Historical Data</font></strong></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td height="25"><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#89ADD7">
          <tr>
            <td height="22"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="1">
              <tr align="center">
                <td height="22" width="10%" bgcolor="#E4EBF6">
				<form name="asd" action="" method="post">
				<select name=stakes onChange="return formsubmit();">
				<option value="0">Please select an stakes</option>
					{html_options options=$allstakes selected=$allstakesselected}
				</select>
				</form>

				<!-- <a href="add_derby.php" class="one" >Add</a> --></td>
               <td width="75%" bgcolor="#FFFFFF">
			   <form name="fileup" action="" method="post"  onSubmit="return uploadcheck();"  enctype="multipart/form-data">
			   <input type="hidden" name="stakes" value="{$allstakesselected}">
				<input type="file" name="xmlfile">&nbsp;<input   type="submit" value="UPLOAD XML FILE" name="Submitxml">
				</form>
			   </td>
                <td width="15%" height="22" bgcolor="#FFFFFF" align="center"><a href="#"><!--<img src="images/import.gif" border="0">-->&nbsp;</a></td>
               
                
              </tr>
			  <tr align="center">
			  <td colspan="2" width="100%">
			  <table width="100%" bgcolor="#FFFFFF">
			   <form name="horse_search" method="post" action="?act_BreedersCup=search">
			   <input type="hidden" name="stakes" value="{$allstakesselected}">
			  <tr>
			 
               <td height="22" width="35%" bgcolor="#FFFFFF" colspan="1"><!--  Search by Name : <input type="text" name="search_BreedersCup" style="width:100px; " value="{$search_value}" > --></td>
			   
			   <td height="22" width="65%" bgcolor="#FFFFFF" colspan="4" align="left" valign="middle"><!-- <input type="image" src="images/botton-seeresults.gif" style="width:85px; height:18px;" /> --> 
			     &nbsp; <strong style="padding-bottom:5px;">Total records : {$record_count}</td>
                  
				         
              </tr> 
<!-- 			  <tr>
			 
            <td height="22" width="35%" bgcolor="#FFFFFF" colspan="2">Group By Stakes : 
			     <select name="group_stakes" onchange="check(this.value)">
				 <option value="">Select Stakes</option>
			   {html_options values=$horse_stakes_group output=$horse_stakes_group selected=$group_stakes}
                  </select></td>
                  
				         
              </tr> -->
			  </form> 
			  </table>
			  </td>
			  </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="25" valign="top">
		{if $showtable == 'yes'}
		<form action="horse_history.php" name="frmnew" method="post">
		 <input type="hidden" name="stakes" value="{$allstakesselected}">
		  <input type="hidden" name="mode" value="add">
		<table width="100%" border="0" cellspacing="1" cellpadding="1">
          <tr align="center">
            <td height="20" rowspan="2" bgcolor="#0D4686"><font style="color:#FFFFFF;"><b>Year</b></font></td>
            <td height="20" bgcolor="#0D4686" rowspan="2"><font style="color:#FFFFFF;"><b>Winner</b></font></td>
            <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>Age</b></font></td>
            <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>Jockey</b></font></td>
            <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>Trainer</b></font></td>
           <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>Owner</b></font></td> 
            <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>Time</b></font></td>
            <td height="20" bgcolor="#0D4686" rowspan="2"  class="header"><font style="color:#FFFFFF;"><b>Action</b></font></td>
          
		  </tr>
          <tr align="center">
           <!-- <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb">&nbsp;</td>-->
            </tr>
			{assign var="indexvalue" value=0}
					  {section name=horse loop=$2006BreedersCup_id}
          <tr align="center">
            <td height="18" bgcolor="#3D73B8" align="left"><font style="color:#FFFFFF;"><input type="text" value="{$horse_name[horse]}" name="year[]" class="smalltext"></font></td>
            <td height="18" bgcolor="#B5DE97" align="left"><input type="text" value="{$horse_odds[horse]}" name="winner[]" class="mediumtext"></td>
            <td height="18" bgcolor="#B5DE97" align="left"><input type="text" value="{$horse_jockey[horse]}" name="age[]" class="smalltext"></td>
            <td bgcolor="#B5DE97"><input type="text" value="{$horse_post[horse]}" name="jockey[]" class="mediumtext"></td>
            <td bgcolor="#B5DE97"><input type="text" value="{$horse_result[horse]}" name="trainer[]"   class="mediumtext"></td>
           <td bgcolor="#B5DE97"><input type="text" value="{$horse_stakes[horse]}" name="owner[]" class="mediumtext"></td>
             <td bgcolor="#B5DE97"><input type="text" value="{$trainer[horse]}" name="racetime[]" class="smalltext"></td>
             <td bgcolor="#B5DE97">{if $2006BreedersCup_id[horse]|count_characters:true > 0}<a href="?act=delete&BreedersCup_id={$2006BreedersCup_id[horse]}&stakes={$allstakesselected}" class="seven" onClick="return confirm('Are you sure to delete?')">[Delete]</a>{/if}</td>
          </tr>
		  {assign var="indexvalue" value=$indexvalue+1}
		 {sectionelse}
		  <tr align="center">
            <td height="18" bgcolor="#3D73B8" colspan="11"><strong>No data available</strong></td>
			</tr>
                    {/section}
			
         <tr><td colspan="7" align="center"><input type="image" src="images/submit-button.gif" style="width:85px; height:18px;" name="submitodds" value="submitodds"/></td></tr>
		 
        </table>
		</form>
		{else}
		
		{/if}
		</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="20" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
</table>
<!------------------ End of Body Section ------------------->
