



<!-------------------- Body Section ------------------------>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="100%" bgcolor="#FFFFFF"><? //include "patient_manage_top.php"; ?></td>
  </tr>
  
  
  <tr>
    <td bgcolor="#FFFFFF"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F6F9FE" class="border">
      
      <tr>
        <td height="25"><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#89ADD7">
         
        </table></td>
      </tr>
      <tr>
        <td height="25" valign="top"><table width="100%" border="1" cellspacing="1" cellpadding="1">
          <tr align="center">
            <td height="40"><b>Post</b></td>
            <td height="40"><b>Horse</b></td>
            <td height="40"><strong>Trainer</strong></td>
            <td height="40"><strong>Jockey</strong></td>
            <td height="40"><strong>Odds</strong></td>
            <!-- <td height="40" rowspan="2" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">Action</font></td>-->
		  </tr>
<!--			{assign var="indexvalue" value=0}
					  {section name=horse loop=$horse}
          <tr align="center" valign="middle">
            <td height="18">&nbsp;</td>
            <td height="18"><a href="horse_next.php?stakes ={$stakes[horse]}" class="seven">{$horse[horse]}</a></td>
            <td height="18">{$trainer[horse]}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            </tr>
		 {assign var="indexvalue" value=$indexvalue+1}
		 {sectionelse}
		  <tr align="center">
            <td height="18" colspan="6"><strong>No data available</strong></td>
			</tr>
         
                    {/section}-->
		{foreach from=$horse_record_array key=horseId item=i}
			<tr>
				<td align="center">
				{if $i.0 eq ""}
				-
				{else}
				{$i.0}
				{/if}
				</td>
				<td align="center">
				{if $i.1 eq ""}
				-
				{else}
				<a href="horse_final.php?horse={$i.1}" class="seven">{$i.1}</a>
				<!--<a href="#" class="seven" onClick="alert('Under Construction');">{$i.1}</a> -->
				{/if}
				</td>
				<td align="center">
				{if $i.2 eq ""}
				-
				{else}
				{$i.2}
				{/if}
				</td>
				<td align="center">
				{if $i.3 eq ""}
				-
				{else}
				{$i.3}
				{/if}
				</td>
				<td align="center">
				{if $i.4 eq ""}
				-
				{else}
				{$i.4}
				{/if}
				</td>				
			</tr>
		{/foreach}
        </table></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="20" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
</table>
<!------------------ End of Body Section ------------------->
