



<!-------------------- Body Section ------------------------>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="100%" bgcolor="#FFFFFF"><? //include "patient_manage_top.php"; ?></td>
  </tr>
  
  
  <tr>
    <td bgcolor="#FFFFFF"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F6F9FE" class="border">
      
      <tr>
        <td height="25"><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#89ADD7">
         
        </table></td>
      </tr>
      <tr>
        <td height="25" valign="top"><table width="100%" border="1" cellspacing="1" cellpadding="1">
          <tr align="center">
            <td height="40"><b>Race</b></td>
            <td height="40"><b>Distance</b></td>
            <td height="40"><b>Age/Sex</b></td>
            <td height="40"><b>Purse</b></td>
            <td height="40"><b>Post EDT </b></td>
            <!-- <td height="40" rowspan="2" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">Action</font></td>-->
		  </tr>
			{assign var="indexvalue" value=0}
					  {section name=horse loop=$stakes}
          <tr align="center" valign="middle">
            <td height="18"><a href="horse_next.php?stakes={$stakes[horse]}" class="seven">{$stakes[horse]}</a></td>
            <td height="18">&nbsp;</td>
            <td height="18">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            </tr>
		 {assign var="indexvalue" value=$indexvalue+1}
		 {sectionelse}
		  <tr align="center">
            <td height="18" colspan="6"><strong>No data available</strong></td>
			</tr>
         
                    {/section}
        </table></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="20" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
</table>
<!------------------ End of Body Section ------------------->
