{include file="header.tpl"}
{include file="left.tpl"}
{literal}
<style type="text/css">

</style>
{/literal}
<!-------------------- Body Section ------------------------>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#FFFFFF"></td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
  <tr>
    <td height="30" align="right" width="100%" bgcolor="#FFFFFF" style="padding-left:600px;"><strong class="bodyb">{$paging}</strong></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F6F9FE" class="border">
      <tr>
        <td height="25" bgcolor="#0D4686" style="padding-left:10px;"><strong><font color="#FFFFFF">IMPORT </font></strong></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td height="25"><table width="1%" border="0" cellpadding="0" cellspacing="0" bgcolor="">
          <tr>
            <td height="22"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="1">
              <!--<tr align="center">
                <td height="22" bgcolor="#E4EBF6"><a href="add_owner_fact.php?owner_id={$owner_id}" class="one">Add New</a></td>
                <td height="22" bgcolor="#E4EBF6"><a href="owner_view.php" class="one">Back to owner</a></td>
              </tr>-->
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="25" valign="top"><table width="100%" border="0" cellspacing="1" cellpadding="1">
          <tr align="center">
            <td height="40" bgcolor="#0D4686"><font style="color:#FFFFFF;"><b>Category</b></font></td>
            <td height="40" bgcolor="#0D4686"><font style="color:#FFFFFF;"><b>select</b></font></td>
            <td height="40" bgcolor="#0D4686" class="header"><font style="color:#FFFFFF;"><b>import</b></font></td>
            
           
		  </tr>
		  
		  <tr align="center">
		  <form name="fact" method="post" enctype="multipart/form-data">
            <td height="40" bgcolor="#3D73B8"><font style="color:#FFFFFF;">
             Import Fact</font></td>
            <td height="40" bgcolor="#B5DE97"><input type="file" name="import_owner_fact"></td>
            <td bgcolor="#B5DE97"><input type="image" src="images/import.gif" border="0"style="width:70px; height:18px;"></td>
            </form>
            
          </tr>
		  <tr align="center">
		  <form name="video" method="post" enctype="multipart/form-data">
            <td height="40" bgcolor="#3D73B8"><font style="color:#FFFFFF;">
             Import video</font></td>
            <td height="40" bgcolor="#B5DE97"><input type="file" name="import_owner_vid"></td>
            <td bgcolor="#B5DE97"><input type="image" src="images/import.gif" border="0"  style="width:70px; height:18px;"></td>
            </form>
            
          </tr>
		  <tr align="center">
		  <form name="picture" method="post" enctype="multipart/form-data">
            <td height="40" bgcolor="#3D73B8"><font style="color:#FFFFFF;">
             Import picture</font></td>
            <td height="40" bgcolor="#B5DE97"><input type="file" name="import_owner_pic"></td>
            <td bgcolor="#B5DE97"><input type="image" src="images/import.gif" border="0"style="width:70px; height:18px;"></td>
            
            </form>
          </tr>
		  <tr align="center">
		  <form name="annualstat" method="post" enctype="multipart/form-data">
            <td height="40" bgcolor="#3D73B8"><font style="color:#FFFFFF;">
             Import annual statistics</font></td>
            <td height="40" bgcolor="#B5DE97"><input type="file" name="import_owner_annualstat"></td>
            <td bgcolor="#B5DE97"><input type="image" src="images/import.gif" border="0"style="width:70px; height:18px;"></td>
            
            </form>
          </tr>
		  <tr align="center">
		  <form name="lifestat" method="post" enctype="multipart/form-data">
            <td height="40" bgcolor="#3D73B8"><font style="color:#FFFFFF;">
             Import lifetime statistics</font></td>
            <td height="40" bgcolor="#B5DE97"><input type="file" name="import_owner_lifetimestat"></td>
            <td bgcolor="#B5DE97"><input type="image" src="images/import.gif" border="0"style="width:70px; height:18px;"></td>
            
            </form>
          </tr>
		  
        </table></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="20" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
</table>
<!------------------ End of Body Section ------------------->
{include file="footer.php"}