<tr> 
          <td height="400" valign="top">
		  <table width="100%" height="100%" border="0" align="center" cellpadding="0" cellspacing="0">
		  <tr><td>
            <table width="100%" height="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr> 
                  <td width="21%" align="center" valign="top"> 
                    <!---------------- Left Side Menu --------------------------->
					{literal}
					<script language="JavaScript" type="text/javascript" src="js/apytmenu.js"></script>
					<script language="JavaScript" type="text/javascript" src="js/apytmenu_ss.js"></script>
					
					<script language="JavaScript" type="text/javascript" src="js/txpmenu_admin.js"></script>
					{/literal}				
                    <!---------------- Left Side Menu End ------------------------>
                  </td>
				  <td width="1" height="100%" align="center"><table width="1" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#619BC9"> </td>
  </tr>
</table>
 </td>
                  <td width="" align="center" valign="top" style="padding-top:10px; padding-bottom:10px; padding-left:10px; padding-right:10px;">