{literal}
<style type="text/css">
.AA{

    FONT-SIZE: 11px;

    TEXT-DECORATION: none;
	FONT-WEIGHT:bold;
	COLOR:#FF9900;

}

AA:link

{

    FONT-SIZE: 11px;

   TEXT-DECORATION:underline;
	
	FONT-WEIGHT:bold;
	
	COLOR:#CC0000;

}
a.AA:hover
{

    FONT-SIZE: 11px;

   TEXT-DECORATION:none;
	
	FONT-WEIGHT:bold;
	
	COLOR: #000066;

}
.NOTLINK

{

    FONT-SIZE: 11px;
	FONT-WEIGHT:bold;
    TEXT-DECORATION: none
	
	COLOR:#0099FF;

}
.NOTLINK:hover
{
 	FONT-SIZE: 11px;
	FONT-WEIGHT:bold;
	COLOR:#0099FF;
	
}
</style>
{/literal}

{literal}<script language="JavaScript" src="../lib/page.js"></script>{/literal}
<table align="center" width="100%" cellpadding="" cellspacing="">
	<form name='pageshow' action='' method='post'>
	<input type="hidden" name="cid" value="{$smarty.request.cid}">
	<input type="hidden" name="sid" value="{$smarty.request.sid}">
	<input type="hidden" name="cpage" value="{$current_page}">

	<tr class="NOTLINK">
	 {if $page le $tpage}
	 
	 <td width="85%" valign="bottom"></td>
	  <td width="15%" valign="bottom" class="NOTLINK" nowrap="nowrap">{if $current_page gt 1}<a href="javascript:previous_page();" class="AA"> Previous </a>{/if}{if $current_page eq 1} Previous{/if}&nbsp;&nbsp;
	  {section name=index loop=$tpage}
	  {if $current_page neq $page}
	 	 <a href="javascript:pageclicks({$page});" class="AA">{$page++}</a>
		{else}
	
			{$page++}
	{/if}
		
		  
	  {/section}&nbsp;&nbsp;
	  {if $current_page neq $tpage} <a href="javascript:next_page();" class="AA"> Next</a>{/if}{if $current_page eq $tpage} Next{/if}</td>
		  
		   {/if}
	</tr>
	</form>
</table>
