{include file="header.tpl"}
{include file="left.tpl"}
{literal}
<script type="text/javascript">
	function updatelive(a)
	{
		var t = a.value;
		document.frm_live.action = "racetrack_view.php?id="+t+"&live=0";
		document.frm_live.submit();
	}
</script>
<script type="text/javascript">
	function updatedst(a)
	{
		var t = a.value;
		document.frm_live.action = "racetrack_view.php?id="+t+"&dst=0";
		document.frm_live.submit();
	}
</script>

{/literal}
<!-------------------- Body Section ------------------------>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#FFFFFF"><? //include "patient_manage_top.php"; ?></td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
  <tr>
    <td height="30" align="right" bgcolor="#FFFFFF" style="padding-right:10px;"><strong class="bodyb">{$paging}</strong></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F6F9FE" class="border">
      <tr>
        <td height="25" bgcolor="#0D4686" style="padding-left:10px;"><strong><font color="#FFFFFF">RACETRACKS</font></strong></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td height="25"><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#89ADD7">
          <tr>
            <td height="22"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="1">
              <tr align="center">
                <td height="22" bgcolor="#E4EBF6" width="10%"><a href="add_racetrack.php" class="one">Add</a></td><td width="90%" bgcolor="#FFFFFF"></td>
               
                
              </tr>
			  <!-------------------------->
			  <tr align="center">
			  <td colspan="2" width="100%">
			  <table width="100%" bgcolor="#FFFFFF">
			  <tr>
			  <form name="racetrack_search" method="post" action="?act_racetrack=search">
                <td height="22" width="35%" bgcolor="#FFFFFF" colspan="1"> Search by Name : <input type="text" name="search_racetrack" style="width:100px; " value="{$search_value}" ></td>
			   
			   <td height="22" width="65%" bgcolor="#FFFFFF" colspan="4" align="left"><input type="image" src="images/botton-seeresults.gif" style="width:85px; height:18px;" />&nbsp; <strong style="padding-bottom:5px;">Total records : {$record_count}</strong>
				                                            </td>
				
                  
				 </form>          
              </tr>
			  </table>
			  </td>
			  </tr>
			  <!-------------------------->
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="25" valign="top" >
		<form name="frm_live" action="#" method="post">
		<table width="100%" border="0" cellspacing="1" cellpadding="1">
          <tr align="center">
            <td height="40" rowspan="2" bgcolor="#0D4686"><a href="?sort_by=name" class="seven"><font style="color:#FFFFFF;"><b>racetrack name</b></font></a></td>
			<td height="20" bgcolor="#0D4686" rowspan="2" class="header"><a href="?sort_by=city" class="seven"><font style="color:#FFFFFF;"><b>City</b></font></a></td>
            <td height="20" bgcolor="#0D4686" rowspan="2"><a href="?sort_by=country" class="seven"><font style="color:#FFFFFF;"><b>Country
               </b></font></a></td>
           <!--  <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>Phone No</b></font></td> -->
			<td height="20" bgcolor="#0D4686" rowspan="2" class="header"><a href="?sort_by=url" class="seven"><font style="color:#FFFFFF;"><b>URL</b></font></a></td>
            
            <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><a href="?sort_by=dateopen" class="seven"><font style="color:#FFFFFF;"><b>Opening Date</b></font></a></td>
            <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><a href="?sort_by=dateclosed" class="seven"><font style="color:#FFFFFF;"><b>Closing Date</b></font></a></td>
           <!-- <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>racetrack length</b></font></td>
            <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>racetrack speedrating</b></font></td>-->
            <td height="20" bgcolor="#0D4686" rowspan="2" colspan="3" class="header"><font style="color:#FFFFFF;"><b>Is DST</b></font></td>
           	<td height="20" bgcolor="#0D4686" rowspan="2" colspan="3" class="header"><font style="color:#FFFFFF;"><b>Action</b></font></td>
           <!-- <td height="40" rowspan="2" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">Action</font></td>-->
		  </tr>
         <tr><td></td></tr>
			{assign var="indexvalue" value=0}
					  {section name=racetrack loop=$racetrack_id}
          <tr align="center">
            <td height="18" bgcolor="#3D73B8"><a href="add_racetrack.php?racetrack_id={$racetrack_id[racetrack]}&start={$start}" class="seven2">
             {$racetrack_name[racetrack]}</a></td>
			 <td height="18" bgcolor="#B5DE97">{$racetrack_city[racetrack]}</td>
            <td height="18" bgcolor="#B5DE97">{$racetrack_country[racetrack]}</td>
            <td height="18" bgcolor="#B5DE97">{$racetrack_phone[racetrack]}</td>
			<td height="18" bgcolor="#B5DE97"><a href="{$racetrack_url[racetrack]}" target="_blank" class="seven">       {$racetrack_url[racetrack]|wordwrap:20:"\n":true}</a></td>
			<td height="18" bgcolor="#B5DE97">{$racetrack_dateopen[racetrack]}</td>
            <td height="18" bgcolor="#B5DE97">{$racetrack_dateclosed[racetrack]}</td>
          <!-- <td height="18" bgcolor="#B5DE97">{$racetrack_length[racetrack]}</td>
            <td height="18" bgcolor="#B5DE97">{$racetrack_speedrating[racetrack]}</td>-->
		<td bgcolor="#B5DE97"><input type="checkbox" name="chkdst_{$racetrack_id[racetrack]}"  onClick="return updatedst(this);" class="chkbo" value="{$racetrack_id[racetrack]}" {if $racetrack_dst[racetrack] == 'y'} checked {/if}></td> 
          
           <td bgcolor="#B5DE97"><input type="checkbox" name="chk_{$racetrack_id[racetrack]}"  onClick="return updatelive(this);" class="chkbo" value="{$racetrack_id[racetrack]}" {if $racetrack_live[racetrack] == 'Y'} checked {/if}></td> 
            <td bgcolor="#B5DE97"><a href="add_racetrack.php?racetrack_id={$racetrack_id[racetrack]}&start={$start}" class="seven">[Edit]</a></td>
            <td bgcolor="#B5DE97"><a href="?act=delete&racetrack_id={$racetrack_id[racetrack]}" onClick="return confirm('Are you sure to delete?')" class="seven">[Delete]</a><!--<input type="checkbox" name="checkbox" value="checkbox" style="border-color:#B5DE97;" />--></td>
          </tr>
		 {assign var="indexvalue" value=$indexvalue+1}
		 {sectionelse}
		  <tr align="center">
            <td height="30" bgcolor="#3D73B8" colspan="10"><font style="color:#FFFFFF;"><b>No data available</b></td>
			</tr>
         {/section}
        </table>
		</form>
		</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="20" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
</table>

<!------------------ End of Body Section ------------------->
{include file="footer.php"}