{include file="header.tpl"}
{include file="left.tpl"}
{literal}
<script language="javascript" type="text/javascript">
function search_horse()
{
document.horse_search.action="?act=search_breeders";
document.horse_search.submit();
}

function change(a)
{
	window.location="?week="+a.value;
}

</script>
{/literal}

{literal}
<script>
function check(stakes)
{ document.horse_search.action="breeders_challenge.php?act_BreedersCup=search";
document.horse_search.submit();
 
}
</script>
<style type="text/css">
.smalltext
{
width:40px;
}
.mediumtext
{
width:520px;
}
.mediumMtext
{
width:80px;
}
</style>
{/literal}
<!-------------------- Body Section ------------------------>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#FFFFFF"><? //include "patient_manage_top.php"; ?></td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
  <tr>
    <td height="30" width="100%" align="right" bgcolor="#FFFFFF" style="padding-left:600px;"><strong >{$paging}</strong></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF"><table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F6F9FE" class="border">
      <tr>
        <td height="25" bgcolor="#0D4686" style="padding-left:10px;"><strong><font color="#FFFFFF">Race of the Week Promotion</font></strong></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td height="25" valign="top">
		
		<form action="" name="frmnew" method="post">
		<input type="hidden" name="selectedweek" value="{$selectedweek}" >
		<table width="660" border="0" cellspacing="1" cellpadding="1">
          <tr><td>
		  <textarea name="promo" style="width:660px; height:310px; ">{$promo}</textarea>
		  </td></tr>
			
         <tr><td  align="center"><input  type="submit" style="width:85px; height:18px;" name="submit" value="Submit"/></td></tr>
		 
        </table>
		</form>
		
		</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="20" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
</table>
<!------------------ End of Body Section ------------------->
