{include file="header.tpl"}
{include file="left.tpl"}
{literal}
<script language="javascript" type="text/javascript">
function search_horse()
{
document.horse_search.action="?act=search_breeders";
document.horse_search.submit();
}

</script>
{/literal}

{literal}
<script>
function check(stakes)
{ document.horse_search.action="2010_Kentucky_oaks.php?act_BreedersCup=search";
document.horse_search.submit();
 
}

function EditDate(a)
{
	//alert(a);
	//var frm='frmnew_'+a;
	//alert(frm);
	//alert(a.id.value);
	//alert(a.dateopen.value);
	//alert(a.dateclosed.value);
	//a.UpdateButton.value = " Please wait we are updating";
	Http.get({
				url: "updateracedate.php?id="+a.id.value+"&dateopen="+a.dateopen.value+"&dateclosed="+a.dateclosed.value,
				callback: gettinggenfile,
				cache: Http.Cache.Get
			});
			return false;
}

function gettinggenfile(xmlreply)
{
	var request = xmlreply.responseText;
	alert(request);
	//a.UpdateButton.value = "Update";
}
</script>
  <script type="text/javascript" src="js/request.js"></script>
   <script type="text/javascript" src="js/trim.js"></script>

<style type="text/css">
.smalltext
{
width:50px;
}
.mediumtext
{
width:50px;
}
</style>
{/literal}
<!-------------------- Body Section ------------------------>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#FFFFFF"><? //include "patient_manage_top.php"; ?></td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
  <tr>
    <td height="30" width="100%" align="right" bgcolor="#FFFFFF" style="padding-left:600px;"><strong >{$paging}</strong></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F6F9FE" class="border">
      <tr>
        <td height="25" bgcolor="#0D4686" style="padding-left:10px;"><strong><font color="#FFFFFF">Edit Racetracks Date</font></strong></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td height="25"><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#89ADD7">
          <tr>
            <td height="22"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="1">
              <tr align="center">
                <td height="22" width="10%" bgcolor="#E4EBF6"><!-- <a href="add_derby.php" class="one" >Add</a> --></td>
               <td width="75%" bgcolor="#FFFFFF" align="center"><font color="#FF0000">After Click on the update button please wait for the <strong>"Updated Successfully"</strong> Message . It will update our Data Base.</font><!-- Total records : {$record_count} --></td>
                <td width="15%" height="22" bgcolor="#FFFFFF" align="center"><a href="#"><!--<img src="images/import.gif" border="0">-->&nbsp;</a></td>
               
                
              </tr>
			  <!-- <tr align="center">
			  <td colspan="2" width="100%">
			  <table width="100%" bgcolor="#FFFFFF">
			   <form name="horse_search" method="post" action="?act_BreedersCup=search">
			  <tr>
			 
               <td height="22" width="35%" bgcolor="#FFFFFF" colspan="1"> Search by Name : <input type="text" name="search_BreedersCup" style="width:100px; " value="{$search_value}" ></td>
			   
			   <td height="22" width="65%" bgcolor="#FFFFFF" colspan="4" align="left" valign="middle"><input type="image" src="images/botton-seeresults.gif" style="width:85px; height:18px;" /> 
			     &nbsp; <strong style="padding-bottom:5px;">Total records : {$record_count}</td>
                  
				         
              </tr> 
 			  <tr>
			 
            <td height="22" width="35%" bgcolor="#FFFFFF" colspan="2">Group By Stakes : 
			     <select name="group_stakes" onchange="check(this.value)">
				 <option value="">Select Stakes</option>
			   {html_options values=$horse_stakes_group output=$horse_stakes_group selected=$group_stakes}
                  </select></td>
                  
				         
              </tr> 
			  </form> 
			  </table>
			  </td>
			  </tr> -->
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="25" valign="top">
		
		<!-- <form action="" name="frmnew" method="post"> -->
		<table width="100%" border="0" cellspacing="1" cellpadding="1">
<!-- 		<tr>
		<td>Updated On:</td>
		<td colspan="6"><input type="text" name="racedate" value="{$owner[1]}"  readonly>
		{literal}
<script language="javascript" src="cal/cal.js"></script>
{/literal}
							<a onClick='popUpCalendar(this,document.frmnew.racedate,"yyyy-mm-dd")' border="0" ><img src="cal/cal.gif"></a></td>
		</tr> -->
          <tr align="center">
            <td height="40" rowspan="2" bgcolor="#0D4686"><font style="color:#FFFFFF;"><b>Name</b></font></td>
            <td height="20" bgcolor="#0D4686" rowspan="2"><font style="color:#FFFFFF;"><b>Date Open</b></font></td>
            <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><font style="color:#FFFFFF;"><b>Date Close</b></font></td>
			 <td height="20" bgcolor="#0D4686" rowspan="2" class="header"><font style="color:#FFFFFF;"><b></b></font></td>
		  </tr>
          <tr align="center">
           <!-- <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb"><font style="color:#FFFFFF;">&nbsp;</font></td>
            <td height="20" bgcolor="#0D4686" class="bodyb">&nbsp;</td>-->
            </tr>
			{assign var="indexvalue" value=0}
					  {section name=horse loop=$2006BreedersCup_id}
					  <form action="" name="frmnew_{$2006BreedersCup_id[horse]}" method="post">
					  <input type="hidden" name="id" value="{$2006BreedersCup_id[horse]}">
          <tr align="center">
            <td height="5" bgcolor="#3D73B8" align="left"><font style="color:#FFFFFF;">{$horse_name[horse]}</font></td>
            <td height="18" bgcolor="#B5DE97" align="left"><input type="text" name="dateopen" value="{$horse_odds[horse]}"  readonly>
		{literal}
<script language="javascript" src="cal/cal.js"></script>
{/literal}
							<a onClick='popUpCalendar(this,document.frmnew_{$2006BreedersCup_id[horse]}.dateopen,"yyyy-mm-dd")' border="0" ><img src="cal/cal.gif"></a></td>
            <td height="18" bgcolor="#B5DE97" align="left">
			<input type="text" name="dateclosed" value="{$horse_jockey[horse]}"  readonly>
		{literal}
<script language="javascript" src="cal/cal.js"></script>
{/literal}
							<a onClick='popUpCalendar(this,document.frmnew_{$2006BreedersCup_id[horse]}.dateclosed,"yyyy-mm-dd")' border="0" ><img src="cal/cal.gif"></a>
			</td>
         
<!-- 			  <td bgcolor="#B5DE97"><input type="text" value="{$owner[horse]}" name="owner[]" class="mediumtext"></td>
			   <td bgcolor="#B5DE97"><input type="text" value="{$breeder[horse]}" name="breeder[]" class="mediumtext"></td> -->
            <td bgcolor="#B5DE97"><input type="button" onClick="EditDate(this.form);" value="Update" name="UpdateButton"></td>
            <!-- <td bgcolor="#B5DE97">{if $2006BreedersCup_id[horse]|count_characters:true > 0}<a href="?act=delete&BreedersCup_id={$2006BreedersCup_id[horse]}" class="seven" onClick="return confirm('Are you sure to delete?')">[Delete]</a>{/if}</td> -->
          </tr>
		  </form>
		  {assign var="indexvalue" value=$indexvalue+1}
		 {sectionelse}
		  <tr align="center">
            <td height="18" bgcolor="#3D73B8" colspan="11"><strong>No data available</strong></td>
			</tr>
                    {/section}
			
<!--          <tr><td colspan="7" align="center"><input type="image" src="images/submit-button.gif" style="width:85px; height:18px;" name="submitodds" value="submitodds"/></td></tr>
 -->		 
        </table>
		<!-- </form> -->
		
		</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="20" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
</table>
<!------------------ End of Body Section ------------------->
