{include file="header.tpl"}
{include file="left.tpl"}
<!-------------------- Body Section ------------------------>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td height="6" bgcolor="#FFFFFF"> </td>
  </tr>
  <tr> 
    <td bgcolor="#FFFFFF"><br>
      <table width="90%"  align="center" cellpadding="0" cellspacing="0" bgcolor="#B5DE97" style="border: 1px solid #0D4686 ;
 border-collapse: collapse;  ">
        <tr> 
          <td width="50%" height="25" bgcolor="#0D4686" style="padding-left:10px;"><strong><font color="#FFFFFF">TimeZones Of the Race Track</font></strong></td>
          <td align="right" bgcolor="#0D4686" style="padding-right:10px;">&nbsp;</td>
        </tr>
        <tr> 
          <td height="10" colspan="2"> </td>
        </tr>
        <tr> 
          <td height="25" colspan="2" align="center">
              <table width="90%"  align="center" cellpadding="0" cellspacing="0" >
              <form action="" method="post" enctype="multipart/form-data" name="breeders_form" >
                <tr>
                <td><img src="images/blank.gif" alt="" title="" width="1" height="4"></td>
                </tr>
                <tr>
                  <td valign="top"><table width="100%"  border="0" cellspacing="2" cellpadding="2">
				  <!--------------------->
				  
			</table></td>
          </tr>
				  
				  <!---------------------->
                 {section name=i loop=$datatimezone}     
                      <tr>
            <td width='150' class="fieldname">
              {$datatimezone[i].name}            </td>
            <td colspan="3" class="columnHeaderStatic">
              <input type="text" name="{$datatimezone[i].track}" value="{$datatimezone[i].zone}" >  <br><br>         </td>
          </tr>
		   {/section}
                <tr>
                  <td valign="top" align="center" colspan="2"><input type="submit" name="Submit" value="Submit"></td></tr>
              </form>
            </table>
            </td>
        </tr>
      </table>
      <br>
    </td>
  </tr>
  <tr> 
    <td height="6" bgcolor="#FFFFFF"> </td>
  </tr>
</table> 
<!------------------ End of Body Section ------------------->
{include file="footer.tpl"}

