<h2>
    Online Greyhound Betting
</h2>
<p>
    <a href="/?ref={$ref}" rel="nofollow">
            BUSR
        </a>
    offers thoroughbred, quarter horse and harness racing content from over 200 of the world's premier racetracks.  You'll get up to a
 <a href="/promos/8percent-rebate">
8% rebate
    </a>
    on all your horse bets, win or lose, paid to your account the very next day. {*
    <p>
        Live streaming video the races is free and there are no membership fees or charges to wager on horses. At
        <i>
            BUSR
        </i>
        ,  *}
Online horse betting is available via desktop computer, laptop, iPad, iPhone or Android powered devices.
    </p>
    <p>
        <a href="/signup?ref={$ref}">
            Join now
        </a>
        you can get a
<a href="/promos/10-cash-bonus">10% bonus</a>
        on your first deposit  and qualify for a
<a href="/promos/150-cash-bonus">$150 cash bonus</a> !
    </p>
    {include file='/home/ah/allhorse/public_html/betusracing/greyhound/cta_button.tpl'}
</p>