	/* BODY: To change the styles of the Page*/
	body 		{background:#FFFFFF;padding:0;margin: 0px 20px;font-size:10px;font-family : Verdana, Arial, Helvetica, sans-serif;text-align:center;}

	/* TOP IMAGE: Style to change the path of the top image*/
	#toplogo 	{background: url(top_logo.jpg);color:#ffffff;float:left;padding:0;margin:0px auto; margin-bottom:6px;width:184px; height:65px;text-align:left;}

	/* PAGE TITLE: To change the color of the Title of the Page*/
	.contentheadertitle		{color:#72B74B;font-size:13px;font-weight:bold;padding:0px;margin:0px;vertical-align: middle;text-align:left;}

	/* REPORT COLUMN TITLE: To change the style of the Report Column Header */
	.reportcolumnheadings  	{Border:0px;padding:0; margin:0;FONT-WEIGHT: bold;FONT-SIZE: 8pt;color:#72B74B;HEIGHT: 1px;vertical-align: top; }

	/* REPORT HIGHLIGHT: To change the style of the Highlight */
	.reportrowsel{background-COLOR:red;font-size:10px;}

	/* TEXTFIELDS: To change the border colr of the Text Forms */
	INPUT			{font-size:9px;font-family : Verdana, Arial, Helvetica, sans-serif;color: #666666;font-size:10px; background:#ffffff;border: 1px solid #8c9195;height: 19px;}


/*--------------------------------------------------------------------------- */
	/* MENU STYLES for Affiliate pages */
	.menu {
	font-size:12px;
	color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:bold;
}
.menu:link {
	font-size:12px;
	color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:bold;
}
.menu:visited {
	font-size:12px;
	color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:bold;
}
.menu:active {
	font-size:12px;
	color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:bold;
}
.menu:hover {
color:#ffffff;
text-decoration:underline;
	/*color:#000000;*/
}
/****************Additional styles of styles*****************/
/*---------------------------------------------------------------------------------*/
a			{color:#72B74B;font-size:10px;text-decoration:none;padding:0;}
p			{color:#000000;font-size:10px;}
form 		{margin:0;padding:0;}


/*--------------------------------------------------------------------------- */
#header 	{margin:0 auto;padding:0;max-width:970;width:970px;text-align:center;display:block;}
#topbar 	{color:#000000; float:left;padding:0;margin:0px auto;width:970px;}
	#topbarleft		{color:#000000;background:transparent;font-size:12px;text-align:left;float:left; width:200px;padding:0px;padding-bottom: 3px;padding-top: 3px}
	#topbarright 	{color:#000000;background:transparent;font-size:12px;text-align:right;float:right; width:400px;padding:0px; padding-bottom: 3px;padding-top: 3px}
	
	
	#topbarleft	a	{font-size:12px;color:#000000;}
	#topbarright a	{font-size:12px;color:#000000;}

/*--------------------------------------------------------------------------- */
	/*a .alt { display: none; }*/
	#topmenu 	{float:left;background: url(menubg.gif) repeat;height:25px; padding-top:4px;width:970;text-align:center; font-size:13px;font-family:Verdana, Geneva, Helvetica, sans-serif; vertical-align:middle;}
	/* affilaite pages */
	a#topmenuhome {width:194px;height:25px;display:block;float:left;margin: 0 auto;}
	a#topmenuhome:hover{ text-decoration:underline;}
	
	a#topmenuaffiliates {background: url(menuaffiliates.gif);width:194px;height:25px;display:block;float:left;margin: 0 auto;}
	a#topmenuaffiliates:hover {background: url(menuaffiliates_on.gif);}
	
	a#topmenumessages {background: url(menumessages.gif);width:194px;height:25px;display:block;float:left;margin: 0 auto;}
	a#topmenumessages:hover {background: url(menumessages_on.gif);}
		
	a#topmenumarketingtools {background: url(menumarketingtools.gif);width:194px;height:25px;display:block;float:left;margin: 0 auto;}
	a#topmenumarketingtools:hover {background: url(menumarketingtools_on.gif);}

	a#topmenunetworkreports {background: url(menunetwork.gif);width:190px;height:25px;display:block;float:left;margin: 0 auto;}
	a#topmenunetworkreports:hover {background: url(menunetwork_on.gif);}
	/* public pages */
	a#topmenulogin {background:transparent;width:108px;height:25px;display:block;float:left;margin: 0 auto;}
	a#topmenulogin:hover {background-image: transparent;}
	
	a#topmenuterms {background: transparent;width:108px;height:25px;display:block;float:left;margin: 0 auto;}
	a#topmenuterms:hover {background-image: transparent;}
	
	a#topmenucontact {background: transparent;width:108px;height:25px;display:block;float:left;margin: 0 auto;}
	a#topmenucontact:hover {background-image: transparent;}
	
	a#topmenujoin {background: transparent;width:108px;height:25px;display:block;float:left;margin: 0 auto;}
	a#topmenujoin:hover {background-image: transparent;}
	
	a#topmenulogin {background: url(menulogin.gif);width:242px;height:25px;display:block;float:left;margin: 0 auto;}
	a#topmenulogin:hover {background-image: url(menulogin_on.gif);}

	a#topmenuterms {background: url(menuterms.gif);width:243px;height:25px;display:block;float:left;margin: 0 auto;}
	a#topmenuterms:hover {background-image: url(menuterms_on.gif);}
	
	a#topmenucontact {background: url(menucontact.gif);width:242px;height:25px;display:block;float:left;margin: 0 auto;}
	a#topmenucontact:hover {background-image: url(menucontact_on.gif);}

	a#topmenujoin {background: url(menuregistration.gif);width:240px;height:25px;display:block;float:left;margin: 0 auto;}
	a#topmenujoin:hover {background-image: url(menuregistration_on.gif);}

	
	
	/*.menu {color:#414141;font-size:11px;font-family:Verdana, Geneva, Helvetica, sans-serif;font-weight:bold;padding:0px;padding-left:60px;margin:0px;vertical-align: middle;text-align:left;text-transform:uppercase; line-height:45px;}
	*/
#body		{clear:both; width:970px;margin:0 auto;text-align:center;display:block; padding-top:10px;}
/*--------------------------------------------------------------------------- */
#middlebar 		{width:970px;margin:0px;padding:0px;color:#000000;}
	#middlebarsidemenu		{width:200;height:21;color:#FFFFFF; font-weight:bold;background-color:#f0f0f0;font-size:12px;text-align:left; background: url(sidemenu_title.gif);padding-left:15px;}
	#middlebarbreadcrumb 	{width:750px;padding-left:15px;color:#000000;background-color:#72B74B;font-size:11px;text-align:left;background: url(breadcrumb.gif);height:21px;}
	td.breadcrumb 	{display:none;height:0px;}/* hide the breadcrumb inside the page as we display it in the header */
	a.breadcrumb {color:#000000;font-size:11px;}
#sidemenudivider	{width:3px;padding:0px;margin:0px;background: url(sidemenu_divider.gif);}
/*--------------------------------------------------------------------------- */
#pagecontent 	{text-align:center;width:970px;height:600px;padding:0px;margin:0 auto;background-color:#ffffff;}
	#pagecontentsidemenu	{width:200px;height:500px;padding:0px;margin:0px; margin-top:5px;
								max-width:200px;
								width:expression(document.body.clientWidth > 200? '200px': 'auto' );
								background-color:ffffff; border:1px solid #cccccc;vertical-align:top;color:#ffffff;font-size:12px;text-align:left;}
	#pagecontentbody 		{width:750px;height:100%;margin:0px;background-color:#ffffff;
								vertical-align:top;color:#000000;font-size:12px; text-align:justify;
								max-width:750px;
								width:expression(document.body.clientWidth > 770? '770px': 'auto' );
								padding-left:15px;padding-right:15px;padding-top:11px;padding-bottom:11px;
								}
						
	p.SideMenuSubheading		{color:#000000;font-size:10px;text-decoration:none;padding:0px;margin:0px;}
	a.SideMenuSubheading		{color:#000000;font-size:10px;text-decoration:underline;padding:0px;margin:0px;}
	A.SideMenuSubheading:hover	{color:#000000;text-decoration:underline;}
	.sidemenu					{color:#000000;font-size:10px;text-decoration:none;padding:0px;padding-left:7px;}
	ul.sidemenu, li.sidemenu	{margin: 0px 0px 0px 10px;list-style-type:none;}
	A.sidemenu:hover			{color:#000000;text-decoration:none;}
	
#pagecontentbtm	{text-align:center;width:970px;height:5px;padding:0px;margin:0 auto;background-color:#ffffff;}
	#pagecontentbtmsidemenu			{width:200px;color:#ffffff;background-color:#f0f0f0;font-size:12px;text-align:left;float:left; padding:0px;margin:0px;}
	#pagecontentbtmbody 			{width:770px;color:#000000;background-color:#ffffff;font-size:12px;text-align:left;float:right; padding:0px;margin:0px;}

#pagefooter		{color:#CCCCCC;font-size:10px;background:transparent; text-align:right;display:inline;padding:0px;padding-top:10px;width:970px;position:relative;margin:0px;}
	#pagefooter div	{color:#CCCCCC;font-size:10px;display:inline;}
/* -------------------------------------------------- */
/* Background color for main page content */
.pagebodycontent 	{background-COLOR:#ffffff;padding-left:15px; padding-top:5px;}
/* -------------------------------------------------- */
/*  title text on internal pages text */ 
.title 				{COLOR:#ffffff;FONT-SIZE:13px;font-weight:bold;}
/* -------------------------------------------------- */
/* table borders  */
TABLE.tcontent 		{border:1px solid #000000;}
/*.borderTable 		{background: #ffffff;}*/
/* -------------------------------------------------- */
/* content - most common style on the site used on standard text throughout the site */
.content 			{color:#000000;FONT-SIZE: 11px; background-color:#FFFFFF;}
A.content:hover 	{color:#000000;text-decoration:underline; }
/* -------------------------------------------------- */
/* contentheadertitle - formats the page title at the top of each page */
.contentheadertitle				{color:#000000;font-size:13px;font-weight:bold;padding:0px;margin:0px;vertical-align: middle;text-align:left;}
.contentheaderdetail			{color:#000000;font-size:12px;font-weight:normal;padding:0px;margin:0px;clear:left;vertical-align: middle;text-align:left;}
/* -------------------------------------------------- */
/*tablecontent - used to format cells in tables most commonly field names /headings */
.tablecontent			{background-COLOR:#FFFFFF;color:#000000;FONT-SIZE: 11px;vertical-align : top;padding:4px;padding-left:10px;}
A.tablecontent:hover	{color:#72B74B; TEXT-DECORATION: none}
.tablecontent2 		{background-COLOR:#dbd8d3;COLOR:#ffffff;}
A.tablecontent2:hover {COLOR:#72B74B;}
/* -------------------------------------------------- */
/* contenttotal - total row in some reports */
.contenttotal 		{background-COLOR:#d0d2d5;COLOR:#ffffff;FONT-SIZE:11px; }
/* -------------------------------------------------- */
/* errmessage - used as alert/error  messages mainly on submit of forms */
.errmessage			{font-size : 12px;color:#ff0000;}
/* -------------------------------------------------- */
/*----- tool tips ------- */
#dhtmltooltip		{background-COLOR:#d0d2d5;font-size : 10px;
					position: absolute;visibility: hidden;
					width: 150px;border:1px solid black;padding: 1px;
					z-index: 100;
					/*Remove below line to remove shadow. Below line should always appear last within this CSS
					filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
					*/
					}
/* END --- general classes - used to format text and forms inside the affiliate program 
##############################################################################   */
/* START --- User- selectable fields - classes to format drop downs, buttons, text areas etc */
/*INPUT 			{font-size:9px;font-family : Verdana, Geneva, Helvetica, sans-serif;color: #666666;font-size:10px;background:#ffffff;border: 1px solid #000000;height: 19px;}
SELECT 			{background-COLOR:#FFFFFF;COLOR:#000000;border:1px solid;FONT-SIZE:10px;}
TEXTAREA 		{background-COLOR:#FFFFFF;COLOR:#000000;border:1px solid;FONT-SIZE:10px;}
BUTTON			{background-COLOR:#FFFFFF;COLOR:#000000;border:1px solid #d0d2d5;FONT-SIZE:10px;}
INPUT.tickbox 	{background-COLOR:#FFFFFF;COLOR:#000000;border:0px solid #ffffff;vertical-align : top;}
INPUT.content,textarea.content,select.content
				{background-COLOR:#FFFFFF;COLOR:#000000;border:1px solid #000000;FONT-SIZE:10px;width: 200px;}
input.button	{background: url(images/button.gif);background-COLOR:#FFFFFF;COLOR:#333333;border:1px solid #dbd8d3;FONT-SIZE:11px;FONT-WEIGHT:bold;font-family : Verdana, Geneva, Helvetica, sans-serif;}
*/
INPUT
{
    border : 1px solid #999999;
    FONT-SIZE: 10px;
    COLOR: #000000;
    font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
    background-COLOR: #FFFFFF;
	vertical-align : top;
}
SELECT
{
    border : 1px solid #999999;
    FONT-SIZE: 10px;
    COLOR: #000000;
    font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
    background-COLOR: #FFFFFF;
	width: 280px;
	vertical-align : top;
}
TEXTAREA
{
    border : 1px solid #999999;
	width:280px;   
    FONT-SIZE: 10px;
    BORDER-LEFT: 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: 1px solid;
	font-family: Arial, Helvetica, sans-serif;
    background-COLOR: #ffffff;
}
INPUT.tickbox
{
	border : 0px solid #FFFFFF;
    FONT-SIZE: 10px;
    COLOR: #000000;
    font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
	vertical-align : top;
	background-color : #429721;
}


INPUT.content,textarea.content,select.content
{
    border : 1px solid #999999;
    FONT-SIZE: 10px;
    COLOR: #000000;
	font-family: Arial, Helvetica, sans-serif;
    background-COLOR: #FFFFFF;
	width: 200px;
}

input.button
{
 	BORDER-TOP-WIDTH: 1px;
    BORDER-LEFT-WIDTH: 1px;
    FONT-SIZE: 10px;
    BORDER-LEFT-COLOR: #999999;
    BORDER-BOTTOM-WIDTH: 1px;
    BORDER-BOTTOM-COLOR: #999999;
    COLOR: #000000;
    BORDER-TOP-COLOR: #999999;
	font-family: Arial, Helvetica, sans-serif;
    background-COLOR: #cccccc;
    BORDER-RIGHT-WIDTH: 1px;
    BORDER-RIGHT-COLOR: #999999;
}

input.submit
{
 	BORDER-TOP-WIDTH: 1px;
    BORDER-LEFT-WIDTH: 1px;
    FONT-SIZE: 10px;
    BORDER-LEFT-COLOR: #999999;
    BORDER-BOTTOM-WIDTH: 1px;
    BORDER-BOTTOM-COLOR: #999999;
    COLOR: #000000;
    BORDER-TOP-COLOR: #999999;
	font-family: Arial, Helvetica, sans-serif;
    background-COLOR: #cccccc;
    BORDER-RIGHT-WIDTH: 1px;
    BORDER-RIGHT-COLOR: #999999;
}

BUTTON
{
    BORDER-TOP-WIDTH: 1px;
    BORDER-LEFT-WIDTH: 1px;
    FONT-SIZE: 10px;
    BORDER-LEFT-COLOR: #999999;
    BORDER-BOTTOM-WIDTH: 1px;
    BORDER-BOTTOM-COLOR: #999999;
    COLOR: #000000;
    BORDER-TOP-COLOR: #999999;
	font-family: Arial, Helvetica, sans-serif;
    background-COLOR: #cccccc;
    BORDER-RIGHT-WIDTH: 1px;
    BORDER-RIGHT-COLOR: #999999;
}


/* END --- User- selectable fields - classes to format drop downs, buttons, text areas etc */
/* #######################################################################
REPORT STYLING ::: style the forms and results of reports/lists in the program */
/* These are all included in the stadnard styles - only change if you want to use buttons different from the standard program ones
input.BtnUp  {background:url(images/uparrow.gif);background-repeat:no-repeat;height:8px;width:12px;border:0;margin:0px;}
input.BtnDown {background:url(images/dwnarrow.gif);background-repeat:no-repeat;height:8px;width:12px;border:0px;margin:0px;}
input.BtnFirst {background:url(images/first.gif);background-repeat:no-repeat;height:20px;width:20px;border:0px;margin:0px;}
input.BtnLast {background:url(images/last.gif);background-repeat:no-repeat;height:20px;width:20px;border:0px;margin:0px;}
input.BtnPrevious {background:url(images/prev.gif);background-repeat:no-repeat;height:20px;width:20px;border:0px;margin:0px;}
input.BtnNext {background:url(images/next.gif);background-repeat:no-repeat;height:20px;width:20px;border:0px;margin:0px;}
input.BtnSave {background: url(images/save.gif);background-repeat:no-repeat;height:21px;width:22px;border:0px;margin:0px;}
*/
/* Allow us to alternate row colours in reports/lists */
	.reportrow1		{background-COLOR:#FFFFFF;COLOR:#000000;FONT-SIZE:11px;}
	.reportrow1on	{background-COLOR:#979797;COLOR:#000000;FONT-SIZE:11px;}
	.reportrow2		{background-COLOR:#d0d0d0;COLOR:#000000;FONT-SIZE:11px;}
	.reportrow2on	{background-COLOR:#979797;COLOR:#000000;FONT-SIZE:11px;}
/* -------------------------------------------------- */
/* reports/lists have an outer table that all the report lives inside use this to set defaults for that table */
.reportoutertable 	{background-COLOR:#000000;COLOR:#ffffff;FONT-SIZE:11px;border:0px;}
/* -------------------------------------------------- */
/* this is the table that the sortable headings and actual list/report data lives in  cell pading and spacing set in the report class*/
.reporttablecss		{background-COLOR:#d0d2d5;border:0px;}
/* -------------------------------------------------- */
/* set format for various sections of the report results */
.reportheading	{background-COLOR:#FFFFFF;FONT-SIZE: 11px;color:#000000;font-weight : normal;}
table.reportheading{width:100%;padding:0;margin:0px;border:1px solid #CCCCCC;background-color:#efefef;
			max-width:700px;width:expression(document.body.clientWidth > 700? '700px': 'auto' );}
.reportpaging 	{background:transparent;FONT-SIZE: 11px;color:#000000;}
.reporttotal 	{FONT-SIZE: 11px;color:#ffffff;background-COLOR:#808080;}
.reportcolumnheadings{Border:0px;padding:0; margin:0;FONT-WEIGHT: bold;FONT-SIZE: 8pt;color:#000000;HEIGHT: 1px;background-COLOR:#dbd8d3 ;vertical-align: top; }
.reporttotal 		{background-color:#999999;COLOR:#ffffff;FONT-SIZE:11px;}
/* -------------------------------------------------- */
/* REPORT - report form options - styles for the fields available when running reports */
table.reportoptions	{background-COLOR:#FFFFFF;border:1px solid #CCCCCC;}
td.reportoptions 	{background-COLOR:#FFFFFF; FONT-SIZE:11px;COLOR:#000000;padding:4px;}
#reportoptionfld 	{text-align:left;white-space:nowrap;}
#reportoptiontxt	{text-align:right;white-space:nowrap;}
#reportoptionsheading {text-align:center;background:url(images/box_topleft.gif); COLOR:#000000;background-repeat:repeat;padding:0px;margin:0px;}
#reportoptionssubmit {color:#000000;background-color:#c6c4bf;padding:2px;font-size:10px; text-align:center;}

/* ####################################################################### */
/*----- articles page  see /articleslist.asp ------- */
.articleheading			{background-COLOR:#FFFFFF; COLOR:#CCCCCC;FONT-SIZE:11px; }
.articlecontent			{background-COLOR:#FFFFFF; COLOR:#CCCCCC;FONT-SIZE:11px; }
.articlesummary			{background-COLOR:#FFFFFF; COLOR:#CCCCCC;FONT-SIZE:11px; }
.articlesectiontitle	{background-COLOR:#FFFFFF; COLOR:#CCCCCC;FONT-SIZE:11px; }
.articlesectioncontent	{background-COLOR:#FFFFFF; COLOR:#CCCCCC;FONT-SIZE:11px; }
/* --------------------------------------------------------------------------
popupcalendar   */
#fc {background-COLOR:#ffffff;}/* shim background - appears behind calendar*/
.calWeekHeadColor{background-COLOR:#808080;color:#ffffff;font-size:10px;}  /* Background Color in Week header..*/
.calTodayColor{background-COLOR:#c0c0c0;font-size:10px;}  /* Background color of today..*/
.calSelDateColor{background-COLOR:#FFFF99;font-size:10px;}  /* Backgrond color of selected date in textbox..*/
.calbody{background-COLOR:#ffffff;color:#000000;font-size:10px;} 
.calbordertable	{border: 1px solid #dbd8d3;}
/*---------------------------------------------------------------------------
Boxes */
td.boxhead		{background:url(/admin/images/box_topleft.gif); background-repeat:repeat;padding:0px;margin:0px;
			color:#108C21;FONT-SIZE:12px;vertical-align:middle;font-weight:bold;}	
a.boxheadtext	{padding:4;padding-left:10px;float:left;vertical-align:middle;background:transparent;color:#108C21;}
a.boxheadimg	{padding:0;float:right;vertical-align:middle;}
a.boxheadtoggle {padding:4;float:right;vertical-align:middle;background:transparent;background-repeat:no-repeat;}
a.boxheadimg img {width:43px;height:18px;padding:0px;margin:0px;border:0px;background: url(/admin/images/box_topright.gif);}
.boxfooter		{background: url(/admin/images/box_footer.gif) repeat;color:#333333;FONT-SIZE:10px;font-weight:bold;vertical-align:middle;padding-right:10px;}
.boxbody 		{color:#000000;FONT-SIZE:11px;vertical-align:top;background-color:#FFFFFF; padding:5px; border:1px solid #CCCCCC;}

table.modulelinkstable a
{font-weight:bold;
color:#108C21;
}
.reportrow1text
{
font-weight:bold;
}
