tr.hiderow{ height:0px;}
img.bottom{ vertical-align: bottom; }
/* START --- User- selectable fields - classes to format drop downs, buttons, text areas etc */
INPUT			{font-size:9px;font-family : Verdana, Geneva, Helvetica, sans-serif;color: #666666;font-size:10px;
			background:#ffffff;border: 1px solid #8c9195;height: 19px;}
select, select.selectbox{background-COLOR:#ffffff;COLOR:#666666;FONT-SIZE:10px;margin:0px;padding:0px;font-family : Verdana, Geneva, Helvetica, sans-serif;}
TEXTAREA 		{background-COLOR:#FFFFFF;COLOR:#666666;border:1px solid #6f7478;FONT-SIZE:10px;font-family : Verdana, Geneva, Helvetica, sans-serif;}
BUTTON			{background-COLOR:#FFFFFF;COLOR:#333333;FONT-SIZE:11px;font-family : Verdana, Geneva, Helvetica, sans-serif;FONT-Weight:bold;height: 19px;}
a.button 		{color: #333333;font-size:11px;background: url(button.gif);border: 1px solid #dbd8d3;font-weight:bold;background-repeat: repeat-x;height: 19px;font-family : Verdana, Geneva, Helvetica, sans-serif;padding-top:1px;}
INPUT.tickbox 	{background:transparent;COLOR:#666666;border:0px;vertical-align : top;font-family : Verdana, Geneva, Helvetica, sans-serif;}
INPUT.content,textarea.content,select.content
				{background-COLOR:#FFFFFF;COLOR:#666666;border:1px solid #000000;FONT-SIZE:10px;width: 200px;font-family : Verdana, Geneva, Helvetica, sans-serif;}
input.button	{background: url(button.gif);background-COLOR:#FFFFFF;COLOR:#333333;border:1px solid #dbd8d3;FONT-SIZE:11px;FONT-WEIGHT:bold;font-family : Verdana, Geneva, Helvetica, sans-serif;}
input.bntlink	{background-COLOR:#FFFFFF;COLOR:#666666;border:0px solid #dbd8d3;FONT-SIZE:10px;margin-left:0;text-align:left;font-family : Verdana, Geneva, Helvetica, sans-serif;}
input[type=submit] {background: url(button.gif);background-COLOR:#FFFFFF;COLOR:#333333;border:1px solid #dbd8d3;FONT-SIZE:11px;FONT-WEIGHT:bold;font-family : Verdana, Geneva, Helvetica, sans-serif;}

.hidden			{border : 0px ;FONT-SIZE: 0px;color:#2a446e;background-COLOR:#FFFFFF;width: 0px;display:none;font-family : Verdana, Geneva, Helvetica, sans-serif;}
Input.hiddenbutton	{BORDER: 0px;FONT-SIZE: 9px;color:#414141;background-COLOR:#cccccc;font-family : Verdana, Geneva, Helvetica, sans-serif;}
form 				{margin: 0; padding: 0;display:inline;font-family : Verdana, Geneva, Helvetica, sans-serif;}

Input.hiddenbutton {BORDER: 0px;}
input.button{ border : 1px solid #ffffff;FONT-SIZE: 10px;COLOR: #FFFFFF;}
input.image { BORDER: 0px;}
.hidden {border : 0px ;FONT-SIZE: 0px;width: 0px;display:none;}
.hiddenRow{border : 0px ;FONT-SIZE: 0px;width: 0px;display:none;}
/* END --- User- selectable fields - classes to format drop downs, buttons, text areas etc */
/*---------------------------------------------------------------------------
password tester */
	.passtestindicator 	{FONT-SIZE: 9px;COLOR: #000000;}
	.passtestweakest	{background-color:#ff0000;width:30px;height:4px;}
	.passtestweak		{background-color:#990000;width:60px;height:4px;}
	.passtestimproving	{background-color:#990099;width:90px;height:4px;}
	.passteststrong		{background-color:#000099;width:120px;height:4px;}
	.passteststrongest	{background-color:#0000ff;width:150px;height:4px;}

/* ---------------------------------------------------------------------------
Report Styles - buttons */
input.BtnUp  {background: url(uparrow.gif);background-repeat:no-repeat;height:8px;width:12px;border:0;margin:0px;}
input.BtnDown {background: url(dwnarrow.gif);background-repeat:no-repeat;height:8px;width:12px;border:0px;margin:0px;}
input.BtnFirst {background: url(first.gif);background-repeat:no-repeat;height:20px;width:20px;border:0px;margin:0px;}
input.BtnLast {background: url(last.gif);background-repeat:no-repeat;height:20px;width:20px;border:0px;margin:0px;}
input.BtnPrevious {background: url(prev.gif);background-repeat:no-repeat;height:20px;width:20px;border:0px;margin:0px;}
input.BtnNext {background: url(next.gif);background-repeat:no-repeat;height:20px;width:20px;border:0px;margin:0px;}

input.BtnSave {background: url(save.gif);background-repeat:no-repeat;height:21px;width:22px;border:0px;margin:0px;}
input.btnlink {border:0px;background:transparent;}

#reportoptionfld 	{text-align:left;white-space:nowrap;}
#reportoptiontxt	{text-align:right;white-space:nowrap;}
#reportoptionsheading {text-align:center;}
#reportoptionssubmit {text-align:center;}

.reportrow1{background-COLOR:#ddd9d3;font-size:10px;}
.reportrow2{background-COLOR:#ededed;font-size:10px;}
.reportrowsel{background-COLOR:red;font-size:10px;}
.reportrowhighlight{background-COLOR:#808080;}

#reportcontent 	{float:center;}
#reportfooter 	{float:left;}
div.tableContainer {width: 100%;height:110%;padding-bottom:20px;border:1px solid #a2a19d;float:left;
	max-width:700px;width:expression(document.body.clientWidth > 700? '700px': 'auto' );
	overflow: auto; margin: 0 auto;overflow-y:hidden;}
#reporttablecntr table {width: 99%;background-color: #f7f7f7;text-align:left;}
#reporttablecntr td:last-child {padding-right: 20px;} /*prevent Mozilla scrollbar from hiding cell content*/

.reportheading	{background-COLOR:#efefef;FONT-SIZE: 11px;color:#000000;font-weight : normal;}
table.reportheading{width:100%;padding:0;margin:0px;border:1px solid #a2a19d;background-color:#efefef;
			max-width:700px;width:expression(document.body.clientWidth > 700? '700px': 'auto' );}
.reportpaging 	{background:transparent;FONT-SIZE: 11px;color:#000000;}
.reporttotal 	{FONT-SIZE: 11px;color:#ffffff;background-COLOR:#808080;}
.reportcolumnheadings{Border:0px;padding:0; margin:0;FONT-WEIGHT: bold;FONT-SIZE: 8pt;color:#2267b7;HEIGHT: 1px;background-COLOR:#dbd8d3 ;vertical-align: top; }

#reportcriteria {width:700px;padding:0px;margin:0px;border:0px;}
.reportcriteriatxt	{background-color:#efefef;padding:2 10px 2 10px;FONT-SIZE: 10px;color:#000000;white-space:nowrap;text-align:right;}
.reportcriteriafld	{background-color:#efefef;padding:2 10px 2 10px;FONT-SIZE: 10px;color:#000000;white-space:nowrap;text-align:left;}

/*--------------------------------------------------------------------------- 
General tabs*/
#gentabs ul {margin:0 auto; padding:0; list-style:none; display:table; white-space:nowrap;font-size:11px;}
#gentabs li {display:table-cell; margin:0; padding:0;}
#gentabs a {float:left; color:#2267b7; background:transparent url(images/tab_top_left_off.gif) no-repeat left top; margin:0 2px 0 0; padding:0 0 0 2px;font-weight:bold; letter-spacing:1px;}
#gentabs a b {float:left; display:block; background:transparent url(images/tab_top_right_off.gif) no-repeat right top; padding:5px 16px 5px 12px;}
#gentabs a:hover {background:transparent  url(images/tab_top_left.gif) no-repeat left top; color:#fff; cursor:pointer;} 
#gentabs a:hover b {background:transparent  url(images/tab_top_right.gif) no-repeat left top; color:#fff; cursor:pointer;} 
#gentabs .current a {background:url(images/tab_top_left.gif) no-repeat left top; color:#000000; cursor:default;} 
#gentabs .current a b {float:left; display:block; background:transparent url(images/tab_top_right.gif) no-repeat right top; padding:5px 16px 5px 12px;}
#gentabs {padding:0; background:transparent  url(images/tab_bg.gif) repeat-x left bottom; margin:0;} 

#gentabs ul {display:inline;}
#gentabs ul li {float:left;}

.gentabsbordertable {border: 1px solid #a2a19d;width:100%;background: #dbd8d3;}

/* --------------------------------------------------------------------------
popupcalendar   */
#fc {background-COLOR:#ffffff;}/* shim background - appears behind calendar*/
.calWeekHeadColor{background-COLOR:#808080;color:#ffffff;font-size:10px;}  /* Background Color in Week header..*/
.calTodayColor{background-COLOR:#c0c0c0;font-size:10px;}  /* Background color of today..*/
.calSelDateColor{background-COLOR:#FFFF99;font-size:10px;}  /* Backgrond color of selected date in textbox..*/
.calbody{background-COLOR:#ffffff;color:#000000;font-size:10px;} 
.calbordertable	{border: 1px solid #2267b7;}
/*--------------------*/
	

