<script language="JavaScript">

/*
Drop Down World Clock- By JavaScript Kit (http://www.javascriptkit.com)
Portions of code by Kurt @ http://www.btinternet.com/~kurt.grigg/javascript
This credit notice must stay intact
*/

if (document.all||document.getElementById)
//document.write('<span id="worldclock" style="font:bold 16px Arial;"></span><br />')

zone=0;
isitlocal=true;
ampm='';

function updateclock(z){
zone=z.options[z.selectedIndex].value;
isitlocal=(z.options[0].selected)?true:false;
}

function WorldClockGMT(){
zone=0;
minadjust=30;
now=new Date();
ofst=now.getTimezoneOffset()/60;
secs=now.getSeconds();
sec=-1.57+Math.PI*secs/30;
mins=(now.getMinutes()-parseInt(minadjust));
min=-1.57+Math.PI*mins/30;
hr=(now.getHours() + parseInt(ofst)) + parseInt(zone);
hrs=-1.575+Math.PI*hr/6+Math.PI*parseInt(now.getMinutes())/360;
if (hr < 0) hr+=24;
if (hr > 23) hr-=24;
ampm = (hr > 11)?"PM":"AM";
statusampm = ampm.toLowerCase();

hr2 = hr;
if (hr2 == 0) hr2=12;
(hr2 < 13)?hr2:hr2 %= 12;
if (hr2<10) hr2="0"+hr2

var finaltime=hr2+':'+((mins < 10)?"0"+mins:mins)+':'+((secs < 10)?"0"+secs:secs)+' '+statusampm;
//alert(finaltime);
document.getElementById("worldclockGMT").innerHTML=finaltime

}

function WorldClockVAN(){
zone=-8;
minadjust=30;
now=new Date();
ofst=now.getTimezoneOffset()/60;
secs=now.getSeconds();
sec=-1.57+Math.PI*secs/30;
mins=(now.getMinutes()-parseInt(minadjust));
min=-1.57+Math.PI*mins/30;
hr=(now.getHours() + parseInt(ofst)) + parseInt(zone);
hrs=-1.575+Math.PI*hr/6+Math.PI*parseInt(now.getMinutes())/360;
if (hr < 0) hr+=24;
if (hr > 23) hr-=24;
ampm = (hr > 11)?"PM":"AM";
statusampm = ampm.toLowerCase();

hr2 = hr;
if (hr2 == 0) hr2=12;
(hr2 < 13)?hr2:hr2 %= 12;
if (hr2<10) hr2="0"+hr2

var finaltime=hr2+':'+((mins < 10)?"0"+mins:mins)+':'+((secs < 10)?"0"+secs:secs)+' '+statusampm;
//alert(finaltime);
document.getElementById("worldclockVAN").innerHTML=finaltime

}

function WorldClockCosta(){
zone=-5;
minadjust=30;
now=new Date();
ofst=now.getTimezoneOffset()/60;
secs=now.getSeconds();
sec=-1.57+Math.PI*secs/30;
mins=parseInt(now.getMinutes()-parseInt(minadjust));
min=-1.57+Math.PI*mins/30;
hr=(now.getHours() + parseInt(ofst)) + parseInt(zone);
hrs=-1.575+Math.PI*hr/6+Math.PI*parseInt(now.getMinutes())/360;
if (hr < 0) hr+=24;
if (hr > 23) hr-=24;
ampm = (hr > 11)?"PM":"AM";
statusampm = ampm.toLowerCase();

hr2 = hr;
if (hr2 == 0) hr2=12;
(hr2 < 13)?hr2:hr2 %= 12;
if (hr2<10) hr2="0"+hr2

var finaltime=hr2+':'+((mins < 10)?"0"+mins:mins)+':'+((secs < 10)?"0"+secs:secs)+' '+statusampm;
//alert(finaltime);
document.getElementById("WorldClockCosta").innerHTML=finaltime

}

function WorldClock(){
now=new Date();
ofst=now.getTimezoneOffset()/60;
secs=now.getSeconds();
sec=-1.57+Math.PI*secs/30;
mins=now.getMinutes();
min=-1.57+Math.PI*mins/30;
hr=(isitlocal)?now.getHours():(now.getHours() + parseInt(ofst)) + parseInt(zone);
hrs=-1.575+Math.PI*hr/6+Math.PI*parseInt(now.getMinutes())/360;
if (hr < 0) hr+=24;
if (hr > 23) hr-=24;
ampm = (hr > 11)?"PM":"AM";
statusampm = ampm.toLowerCase();

hr2 = hr;
if (hr2 == 0) hr2=12;
(hr2 < 13)?hr2:hr2 %= 12;
if (hr2<10) hr2="0"+hr2

var finaltime=hr2+':'+((mins < 10)?"0"+mins:mins)+':'+((secs < 10)?"0"+secs:secs)+' '+statusampm;


document.getElementById("worldclock").innerHTML=finaltime

setTimeout('WorldClockCosta()',1000);
setTimeout('WorldClockVAN()',1000);
//setTimeout('WorldClockGMT()',1000);
setTimeout('WorldClock()',1000);
}

window.onload=WorldClock
//-->
</script>
<!-- India
<div id="worldclock"></div>
<br>
GMT
<div id="worldclockGMT"></div>

<br>
Vancuover
<div id="worldclockVAN"></div>
Costa Rica
<div id="WorldClockCosta"></div> -->
<div>
<div id="worldclockVAN" style="color:#000000; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; float:left; width:250px; font-weight:bold; "></div>
<div id="WorldClockCosta" style="color:#000000; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; float:left; width:250px; font-weight:bold; "></div>
<div id="worldclock" style="color:#000000; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; float:left; width:250px; font-weight:bold; "></div>
</div>
