/* TEMPLATE STYLES */
.columnHeaderStatic
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    COLOR: #000063;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
}

.columnStatic
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    TEXT-DECORATION: none;
}

.descriptionSection
{
    COLOR: #000000;
    FONT-WEIGHT: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
}

.searchResultOdd
{
    BACKGROUND: #EFEFF7;
}

.searchResultEven
{
    BACKGROUND: #FFFFFF;
}
.fieldname{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#000000;
font-weight:bold;
}
.field{
font-family: Verdana, arial, Helvetica, sans-serif; 
font-size: 9px; 
color: #000000;
font-weight:normal;
width:140px; 
height:18px;
}
.label1{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#44484D;
font-weight:bold;
text-decoration:none;
}
.txt1{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#44484D;
font-weight:normal;
}
.label{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#FFFFFF;
font-weight:bold;
}
.border{
border:1px solid #D9D7D7; 
}
.pt{
font-family:Arial, Helvetica, sans-serif;
font-size:26px;
color:#57080B;
font-weight:bold;
}
.pt1{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
color:#969696;
font-weight:bold;
}
.txt2 {
font-family: arial, Helvetica, sans-serif; 
font-size: 12px; 
color: #0B0800; 
line-height:16px; 
font-weight:normal; 
}
.label1{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#44484D;
font-weight:bold;
text-decoration:none;
}
a.one:link 
{ 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color: #FF9900; 
	text-decoration:underline;
}

a.one:visited 
{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color: #FF9900; 
	text-decoration:underline
}
a.one:hover 
{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color: #000000;
	font-weight: none; 
	text-decoration:none;
}
a.seven:link 
{ 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color: #004080; 
	text-decoration:none;
}

a.seven:visited 
{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color: #004080;  
	text-decoration:none
}
a.seven:hover 
{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color: #FFFFFF;
	font-weight: none; 
	text-decoration:none;
}

a.seven2:link 
{ 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color: #FFFFFF; 
	text-decoration:none;
}

a.seven2:visited 
{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color: #CCCCCC;  
	text-decoration:none
}
a.seven2:hover 
{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color: #CC6633;
	font-weight: none; 
	text-decoration:none;
}

td
{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color: #000000;
}

#header
{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color: #000000;
	font-weight:bold;
}

a.two:link {color: #FFFFFF; text-decoration:underline}
a.two:visited {color: #FFFFFF; text-decoration:underline}
a.two:hover {color: yellow;font-weight: bold; text-decoration:none}

a.three:link {color: #000000;text-decoration:underline}
a.three:visited {color: #000000; text-decoration:bold}
a.three:hover {color: #FF0000;font-weight: bold; text-decoration:none}
input {
 width: 200px;
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
 background-color: #D7E5F2;
 color: #102132;
 border: 1px solid #284279;
 margin-right: 0px;
} 
textarea {
height:200px;
width: 200px;
font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
 background-color: #D7E5F2;
 color: #102132;
 border: 1px solid #284279;
}
select {
width: 200px;
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
 background-color: #D7E5F2;
 color: #102132;
 border: 1px solid #284279;
}

.AA1{

    FONT-SIZE: 11px;

    TEXT-DECORATION: none;
	FONT-WEIGHT:bold;
	COLOR:#CC0000;

}

AA1:link

{

    FONT-SIZE: 11px;

   TEXT-DECORATION:underline;
	
	FONT-WEIGHT:bold;
	
	COLOR:#CC0000;

}

.NOTLINK1

{

    FONT-SIZE: 11px;
	FONT-WEIGHT:bold;
    TEXT-DECORATION: none;
	
	COLOR: #000066;

}
.NOTLINK1:hover
{
 	FONT-SIZE: 11px;
	FONT-WEIGHT:bold;
	COLOR:#0099FF;
	
}