{*
    <section class="friends block-center usr-section" style="margin-top:20px;">
      <div class="block-center_content">
        <div class="container"><img src="/img/index-kd/friends.png" alt="" class="img-responsive friends_img"></div>
      </div>
    </section>
*}
