  
  
  {* CHD Background *}
     {* <section class="kd usr-section">
      <div class="container">
        <div class="kd_content"> *}
       
	        
	        
	        
	        
	 {* No Background *}       
	  {*
<section class="bc-kd bc-kd--default usr-section">
      <div class="container">
        <div class="bc-kd_content">
*}
	        
	 {*   *} 
          {* <img src="/img/index-ps/preakness-stakes-icon.png" alt="Online Horse Betting" class="bc-kd_logo img-responsive">
          <h1 class="bc-kd_heading">Pegasus World Cup Betting</h1>
          <h3 class="bc-kd_subheading">With the Most Pegasus World Cup Bet Options Anywhere</h3>
          <p>Only at <em>bet  	&#9733; usracing</em>, you get great future odds with amazing payouts on the Pegasus World Cup .</p>
          <p>  *}
          {*Will California Chrome triumph or Arrogate reign supreme?   Will a horse lead wire to wire? Check out the props and match races!
 Will Secretariat's 1973 Record be broken?  *}
 {* </p> *}
          {* <p><em>bet  	&#9733; usracing</em> offers more wagering choices than other sites.</p>
          <a href="/pegasus-world-cup/odds" class="bs-kd_btn">SEE THE LIVE ODDS</a>
        </div>
      </div>
    </section>    *}
    
    {* <section class="bc-belmont_"><img src="/img/index-bc/santa-anita-park-breeders-cup.jpg" alt="Breeders Cup Betting" class="bc-belmont_img"></section> *}

{literal}
  <style>
    @media (min-width: 943px) {
      .saudi {
        background-position-y: -202px;

      }
    }
  </style>
{/literal}

<section class="saudi kd usr-section">
  <div class="container">
    <div class="kd_content">
      <h1 class="kd_heading">Saudi Cup Betting</h1>
      <p>{include file='/home/ah/allhorse/public_html/saudi-cup/salesblurb-horses.tpl'} </p>
      <p align="center"><a href="/saudi-cup-index" rel="nofollow" class="btn-xlrg fixed_cta">Bet on the Saudi Cup</a></p>
    </div>
  </div>
</section>