    <section class="bs-friends block-center usr-section">
      <div class="block-center_content">
        <div class="container"><img src="/img/index/friends.png" alt="" class="bs-friends_img img-responsive"></div>
      </div>
    </section>
