    <section class="testimonials--blue-dark usr-section">
      <div class="container">
        <blockquote class="testimonial-blue">
         {*  <figure class="testimonial-blue_figure"><img src="/img/index-kd/testimonial-user-3.jpg" alt="Testimonial" class="testimonial-blue_img"></figure> *}
          <div class="testimonial-blue_center">
            <p class="testimonial-blue_p">Finally finding a site that allowed me to bet with my mobile phone on horses and blackjack was just what I was looking for.  THANK YOU SO MUCH!! </p><span class="testimonial-blue_name">
               
             Tom G. <br>
              <cite class="testimonial-blue_profile">BUSR Member Since 2014</cite></span>
          </div>
        </blockquote>
      </div>
    </section>