    <section class="bs-card">
      <div class="bs-card_wrap">
        <div class="bs-card_half bs-card_hide-mobile"><img src="" data-src-img="/img/index/triple-crown-blackjack-tournament.jpg" alt="Belmont Stakes Blackjack" class="bs-card_img">
        </div>
        <div class="bs-card_half bs-card_content"><img src="/img/index/icon-triple-crown-blackjack-tournament.png" alt="Belmont Stakes Tournament" class="bs-card_icon">
          <h2 class="bs-card_heading">Enjoy Over 150 of Your Favorite Casino Games</h2>
          <p>At BUSR you can play video slots, Blackjack, Roulette, Video Poker, Table and Lottery Games, Keno  fully 3D Poker with stunning graphics and 3D animation.</p><p>Play now and enjoy jackpots up to $63,000!</p><a href="/signup??ref={$ref}-Casino-Games" class="bs-card_btn">Play Now</a>
          
{*
                    <h2 class="bs-card_heading">Triple Crown<br>Blackjack Tournament</h2>
          <p>US Racing invites you test your mettle and win cash in our Triple Crown Blackjack Tournament.</p>
          <p>Play any Blackjack game from May 2nd to June 12th and get ready to compete for real cash. Thousands of dollars in cash prizes are paid to the top 20 players with the highest payout percentage!</p><a href="/login?ref=TC-Blackjack-Tournament" class="bs-card_btn">Play Now</a>
          
*}
        </div>
      </div>
    </section>