{*
    <section class="card card--bg">
      <div class="card_wrap">
        <div class="card_half card_hide-mobile"><a href="/signup?ref={$ref}" rel="nofollow" ><img src="" data-src-img="/img/index-kd/horse-betting.png" alt="" class="card_img"></a>
        </div>
        <div class="card_half card_content"><a href="/signup?ref={$ref}" rel="nofollow" ><img src="/img/index-kd/icon-horse-betting.png" alt="" class="card_icon"></a>
          <h2 class="card_heading">
             
            Members Accepted from<br>All 50 States
          </h2>
          <h3 class="card_subheading">Members Can Bet from Anywhere</h3>
          <p>With BUSR, you can bet on horses and more from anywhere in the great U.S. of A. and its territories. We have proud members from the Big Apple and Lone Star state. Come join them!</p>
          <p>Oh yes, players from Canada, the United Kingdom, and most other countries are welcome to be members, too! We look forward to welcoming you aboard.</p><a href="/signup?ref={$ref}" rel="nofollow" class="card_btn">Join Now</a>
        </div>
      </div>
    </section>
*}