    <section class="bs-bonus">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-10 col-lg-8">
            <h2 class="bs-bonus_heading">Breeders' Cup Sign Up Bonus</h2>
            <h3 class="bs-bonus_subheading">You get a 10% bonus on your first deposit added automatically.{* Exceptional New Member Bonuses *}</h3>
           {*  <p>For your first deposit with BUSR, you'll get an additional 10% cash bonus added to your account, absolutely free. No Limits!</p> *}
            <p>Deposit a minimum of $100 and you can qualify to earn an additional $150!  It doesn't get any better. Join today.</p><a href="/signup?ref={$ref}" rel="nofollow" class="bs-bonus_btn">CLAIM YOUR BONUS</a>
          </div>
        </div>
      </div>
    </section>