
<div class="calltoaction">
{*
<h2>Bet the <br>Belmont Stakes!</h2>
<h3>Get exclusive odds and more.</h3>
*}

<h2>Bet on <br>Horse Racing!</h2>
<h3>Get up to 8% Rebate Paid Daily!</h3>
{include file="/home/ah/usracing.com/smarty/templates/inc/rightcol-calltoaction-form.tpl"}
