At <a href="https://www.betusracing.ag?ref={$ref}" rel="nofollow" >BUSR</a> you can bet from your home computer, mobile or tablet{$cta_append}. Feel like a VIP with an <a href="/rebates">8% horse betting rebate</a> on horse bets, win or lose, paid to your account the very next day.  For brand new members, you can get a <a href="/promos/cash-bonus-20">20% bonus</a> on your first deposit  and qualify for a <a href="/promos/cash-bonus-150">$150 cash bonus</a>!  <a href="/signup?ref={$ref}" rel="nofollow">Join  Today!</a></p>
