.ico-unknown {
	background-image: url(../../images/16x16/types/unknown.png);
}
.ico-milestone {
	background: transparent url(../../images/16x16/all_16_16_vertical.png) no-repeat scroll 0 -400px !important;
}
.ico-email {
	background: transparent url(../../images/16x16/all_16_16_vertical.png) no-repeat scroll 0 -437px !important;
}
.ico-emailunclassified {
	background-image: url(../../images/16x16/types/classify.png) !important;
}
.ico-weblink, .ico-webpage, .ico-weblinks, .ico-webpages {
	background: transparent url(../../images/16x16/all_16_16_vertical.png) no-repeat scroll 0 -78px !important;
}
.ico-task {
	background: transparent url(../../images/16x16/tasks.png) no-repeat !important;
}
.ico-event {
	background: transparent url(../../images/16x16/all_16_16_vertical.png) no-repeat scroll 0 0px !important;
}
.ico-contact {
	background: transparent url(../../images/16x16/all_16_16_vertical.png) no-repeat scroll 0 -520px !important;
}
.ico-company {
	background: transparent url(../../images/16x16/all_16_16_vertical.png) no-repeat scroll 0 -540px !important;
}
.ico-message {
	background-image: url(../../images/16x16/types/message.png);
}
.ico-file {
	background-image: url(../../images/16x16/types/file.png);
}
.ico-user, .ico-users {
	background-image: url(../../images/16x16/types/user.png) !important;
}

.ico-application {
	background-image: url(../../images/16x16/types/application.png);
}
.ico-application-pdf {
	background-image: url(../../images/16x16/types/application-pdf.png);
}
.ico-application-vnd_ms-excel, .sprd {
	background-image: url(../../images/16x16/types/application-vnd.ms-excel.png);
}
.ico-application-vnd_ms-powerpoint, .prsn {
	background-image: url(../../images/16x16/types/application-vnd.ms-powerpoint.png);
}
.ico-application-vnd_ms-word, .ico-application-msword, .txt {
	background-image: url(../../images/16x16/types/application-vnd.ms-word.png);
}
.ico-application-xspf-xml {
	background-image: url(../../images/16x16/types/application-xspf-xml.png);
}
.ico-application-vnd_oasis_opendocument_chart {
	background-image: url(../../images/16x16/types/application-vnd.oasis.opendocument.chart.png);
}
.ico-application-vnd_oasis_opendocument_database {
	background-image: url(../../images/16x16/types/application-vnd.oasis.opendocument.database.png);
}
.ico-application-vnd_oasis_opendocument_formula {
	background-image: url(../../images/16x16/types/application-vnd.oasis.opendocument.formula.png);
}
.ico-application-vnd_oasis_opendocument_graphics {
	background-image: url(../../images/16x16/types/application-vnd.oasis.opendocument.graphics.png);
}
.ico-application-vnd_oasis_opendocument_image {
	background-image: url(../../images/16x16/types/application-vnd.oasis.opendocument.image.png);
}
.ico-application-vnd_oasis_opendocument_presentation {
	background-image: url(../../images/16x16/types/application-vnd.oasis.opendocument.presentation.png);
}
.ico-application-vnd_oasis_opendocument_presentation-template {
	background-image: url(../../images/16x16/types/application-vnd.oasis.opendocument.presentation-template.png);
}
.ico-application-vnd_oasis_opendocument_spreadsheet {
	background-image: url(../../images/16x16/types/application-vnd.oasis.opendocument.spreadsheet.png);
}
.ico-application-vnd_oasis_opendocument_spreadsheet-template {
	background-image: url(../../images/16x16/types/application-vnd.oasis.opendocument.spreadsheet-template.png);
}
.ico-application-vnd_oasis_opendocument_text {
	background-image: url(../../images/16x16/types/application-vnd.oasis.opendocument.text.png);
}
.ico-application-vnd_openxmlformats-officedocument_spreadsheetml_sheet {
	background-image: url(../../images/16x16/types/application-vnd.openxmlformats-officedocument.spreadsheetml.sheet.png);
}
.ico-application-vnd_openxmlformats-officedocument_wordprocessingml_document {
	background-image: url(../../images/16x16/types/application-vnd.openxmlformats-officedocument.wordprocessingml.document.png);
}
.ico-application-vnd_rn-realmedia {
	background-image: url(../../images/16x16/types/video.png);
}
.ico-application-x-compressed {
	background-image: url(../../images/16x16/types/application-zip.png);
}
.ico-application-x-zip-compressed {
	background-image: url(../../images/16x16/types/application-zip.png);
}
.ico-application-zip {
	background-image: url(../../images/16x16/types/application-zip.png);
}
.ico-audio {
	background-image: url(../../images/16x16/types/audio.png);
}
.ico-audio-mpeg {
	background-image: url(../../images/16x16/types/audio.png);
}
.ico-image {
	background-image: url(../../images/16x16/types/image.png);
}
.ico-image-jpg {
	background-image: url(../../images/16x16/types/image.png);
}
.ico-image-jpeg {
	background-image: url(../../images/16x16/types/image.png);
}
.ico-image-bmp {
	background-image: url(../../images/16x16/types/image.png);
}
.ico-image-gif {
	background-image: url(../../images/16x16/types/image.png);
}
.ico-text {
	background-image: url(../../images/16x16/types/text.png);
}
.ico-text-plain {
	background-image: url(../../images/16x16/types/text.png);
}
.ico-txt {
	background-image: url(../../images/16x16/types/text.png);
}
.ico-text-html {
	background-image: url(../../images/16x16/types/text-html.png);
}
.ico-text-xml {
	background-image: url(../../images/16x16/types/text-xml.png);
}
.ico-video {
	background-image: url(../../images/16x16/types/video.png);
}
.ico-webfile {
	background-image: url(../../images/16x16/types/webfile.png);
}


.ico-large-unknown {
	background-image: url(../../images/48x48/types/unknown.png);
}
/*.ico-large-milestone {
	background-image: url(../../images/48x48/types/milestone.png);
}
.ico-large-email {
	background-image: url(../../images/48x48/types/email.png);
}
.ico-large-emailunclassified {
	background-image: url(../../images/48x48/types/classify.png);
}
.ico-large-weblink, .ico-large-webpage {
	background-image: url(../../images/48x48/types/webpage.png);
}
.ico-large-task {
	background-image: url(../../images/48x48/types/task.png);
}
.ico-large-event {
	background-image: url(../../images/48x48/types/event.png);
}
.ico-large-contact {
	background-image: url(../../images/48x48/types/contact.png);
}
.ico-large-company {
	background-image: url(../../images/48x48/types/company.png);
}
.ico-large-message {
	background-image: url(../../images/48x48/types/message.png);
}
.ico-large-file {
	background-image: url(../../images/48x48/types/file.png);
}
.ico-large-user {
	background-image: url(../../images/48x48/types/user.png) !important;
}*/

.ico-large-application {
	background-image: url(../../images/48x48/types/application.png);
}
.ico-large-application-pdf {
	background-image: url(../../images/48x48/types/application-pdf.png);
}
.ico-large-application-vnd_ms-excel, .sprd {
	background-image: url(../../images/48x48/types/application-vnd.ms-excel.png);
}
.ico-large-application-vnd_ms-powerpoint, .prsn {
	background-image: url(../../images/48x48/types/application-vnd.ms-powerpoint.png);
}
.ico-large-application-vnd_ms-word, .ico-large-application-msword, .txt {
	background-image: url(../../images/48x48/types/application-vnd.ms-word.png);
}
.ico-large-application-xspf+xml {
	background-image: url(../../images/48x48/types/application-xspf+xml.png);
}
.ico-large-application-vnd_oasis_opendocument_chart {
	background-image: url(../../images/48x48/types/application-vnd.oasis.opendocument.chart.png);
}
.ico-large-application-vnd_oasis_opendocument_database {
	background-image: url(../../images/48x48/types/application-vnd.oasis.opendocument.database.png);
}
.ico-large-application-vnd_oasis_opendocument_formula {
	background-image: url(../../images/48x48/types/application-vnd.oasis.opendocument.formula.png);
}
.ico-large-application-vnd_oasis_opendocument_graphics {
	background-image: url(../../images/48x48/types/application-vnd.oasis.opendocument.graphics.png);
}
.ico-large-application-vnd_oasis_opendocument_image {
	background-image: url(../../images/48x48/types/application-vnd.oasis.opendocument.image.png);
}
.ico-large-application-vnd_oasis_opendocument_presentation {
	background-image: url(../../images/48x48/types/application-vnd.oasis.opendocument.presentation.png);
}
.ico-large-application-vnd_oasis_opendocument_presentation-template {
	background-image: url(../../images/48x48/types/application-vnd.oasis.opendocument.presentation-template.png);
}
.ico-large-application-vnd_oasis_opendocument_spreadsheet {
	background-image: url(../../images/48x48/types/application-vnd.oasis.opendocument.spreadsheet.png);
}
.ico-large-application-vnd_oasis_opendocument_spreadsheet-template {
	background-image: url(../../images/48x48/types/application-vnd.oasis.opendocument.spreadsheet-template.png);
}
.ico-large-application-vnd_oasis_opendocument_text {
	background-image: url(../../images/48x48/types/application-vnd.oasis.opendocument.text.png);
}
.ico-large-application-vnd_openxmlformats-officedocument_spreadsheetml_sheet {
	background-image: url(../../images/48x48/types/application-vnd.openxmlformats-officedocument.spreadsheetml.sheet.png);
}
.ico-large-application-vnd_openxmlformats-officedocument_wordprocessingml_document {
	background-image: url(../../images/48x48/types/application-vnd.openxmlformats-officedocument.wordprocessingml.document.png);
}
.ico-large-application-vnd_rn-realmedia {
	background-image: url(../../images/48x48/types/video.png);
}
.ico-large-application-x-zip-compressed {
	background-image: url(../../images/48x48/types/application-zip.png);
}
.ico-large-application-zip {
	background-image: url(../../images/48x48/types/application-zip.png);
}
.ico-large-audio {
	background-image: url(../../images/48x48/types/audio.png);
}
.ico-large-image {
	background-image: url(../../images/48x48/types/image.png);
}
.ico-large-image-jpg {
	background-image: url(../../images/48x48/types/image.png);
}
.ico-large-image-jpeg {
	background-image: url(../../images/48x48/types/image.png);
}
.ico-large-image-bmp {
	background-image: url(../../images/48x48/types/image.png);
}
.ico-large-image-gif {
	background-image: url(../../images/48x48/types/image.png);
}
.ico-large-text {
	background-image: url(../../images/48x48/types/text.png);
}
.ico-large-text-plain {
	background-image: url(../../images/48x48/types/text.png);
}
.ico-large-txt {
	background-image: url(../../images/48x48/types/text.png);
}
.ico-large-text-html {
	background-image: url(../../images/48x48/types/text-html.png);
}
.ico-large-text-xml {
	background-image: url(../../images/48x48/types/text-xml.png);
}
.ico-large-video {
	background-image: url(../../images/48x48/types/video.png);
}
.ico-large-webfile {
	background-image: url(../../images/48x48/types/webfile.png);
}