</div></div></section>         

{*Be sure to update common blocks as well*}
{include file="/home/ah/allhorse/public_html/usracing/block_belmont/block-blue-signup-bonus-belmont-stakes.tpl"} 
{include file="/home/ah/allhorse/public_html/usracing/common/block-mobile.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/block_belmont/block-free-bet.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/block_belmont/block-props.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/block_belmont/block-final-cta.tpl"}
