
<div class="calltoaction">


<h2>Arlington Park<br>Off Track Betting</h2>
<h3>Get a $150 Sign Up Bonus!</h3>
{include file="/home/ah/usracing.com/smarty/templates/inc/rightcol-calltoaction-form.tpl"}
