
<div class="calltoaction">


<h2>Bet <br>{$racetrackname} !</h2>
<h3>Get up to 8% Rebate Paid Daily!</h3>
{include file="/home/ah/usracing.com/smarty/templates/inc/rightcol-calltoaction-form.tpl"}
