{*
  <h3 >Get your {$abbriviation}  Off Track Betting!</h3>
  <p>Thoroughbred, quarter horse, and harness racing is available by desktop or mobile on over {include file="/home/ah/allhorse/public_html/common/racetracks.php"} of the worlds premier racetracks, with absolutely no membership fees.  </p>
*}
  
{*
  <p><a href="/signup?ref={$ref}" rel="nofollow"
            class="btn-xlrg fixed_cta">I Want To Bet Now</a></p>
*}
  
  
  <p>{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}</p>
</div></div></section>

{*blocks include for the end of the states pages - TF*}
	{include file="/home/ah/allhorse/public_html/usracing/common/block-testimonial-pace-advantage.tpl"}
	{include file="/home/ah/allhorse/public_html/usracing/common/block-signup-bonus.tpl"}
	{include file="/home/ah/allhorse/public_html/usracing/common/block-150.tpl"}
	{include file="/home/ah/allhorse/public_html/usracing/common/block-rebates.tpl"}
	{include file="/home/ah/allhorse/public_html/usracing/common/block-final-cta-bonus.tpl"}   