{if $smarty.server.HTTP_HOST == "www.betusracing.ag"} 
{assign var="cashbonus" value='/promos/150-cash-bonus'} 
{assign var="cashbonus10" value='/promos/10-cash-bonus'} 
{assign var="cashbonus20" value='/promos/cash-bonus-20'}
{assign var="rebates" value='/promos/8percent-rebate'} 

{else}
   {assign var="cashbonus" value='/promos/cash-bonus-150'}   
   {assign var="cashbonus10" value='/promos/cash-bonus-10'}
   {assign var="cashbonus20" value='/promos/cash-bonus-20'}
   {assign var="rebates" value='/rebates'} 
 
{/if}

 <h2>Online Horse Betting</h2>	                    
	                    
<p><a href="https://www.betusracing.ag?ref={$ref}" rel="nofollow" >BUSR</a>  offers thoroughbred, quarter horse and <a href="/harness-racing">harness racing</a> content from over 200 of the world's premier racetracks.  You'll get up to a <a href="{$rebates}">8% rebate</a> on all your horse bets, win or lose, paid to your account the very next day. {* <p> Live streaming video the races is free and there are no membership fees or charges to wager on horses. At BUSR,  *}
Online horse betting is available via desktop computer, laptop, iPad, iPhone or Android powered devices.</p><p> <a href="/signup?ref={$ref}"> Join now</a>  you can get a <a href="{$cashbonus20}">20% bonus</a> on your first deposit  and qualify for a <a href="{$cashbonus}">$150 cash bonus</a>!</p>

 <p align="center"><a href="/signup?ref={$ref}&signup-modal=open" rel="nofollow" class="btn-xlrg ">{$button_cta}</a></p>  
