<h2>Live {$racetrackname} Racing Odds</h2>

<p>For the latest odds at {$racetrackname} please press the button below to see the odds in the live racing interface.</p>
 
 {*    <p><iframe src="https://rb.betusracing.ag/BOSSWagering/Racebook/InternetBetTaker/?siteid=usracing" scrolling="no" width="100%" height="1750px" style="border:0;">Live {$racetrackname} Racing Odds</iframe></p> *}
    
   
    <p align="center"><a href="/odds" rel="nofollow" class="btn-xlrg ">View  {$racetrackname} Odds</a></p>   