/* CSS Document */
#extradiv {
	background-image: url(../images/background.gif);
	background-repeat: repeat;
	height:200px;
	width: 945px;
}

#tabsport
	{
	background-image: url(../images/bg.gif);
	width: 945px;
	/*background-image: url(../images/header2_noindex.gif);*/
	background-repeat:repeat;	
	float:left;
	height:26px;
	
	}

.tabcell
{
/*width:100px;*/
text-align:center;
font:Arial;
_font:Arial;
font-family:Arial, Helvetica, sans-serif;
_font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
float:left;
margin-top:2px;
padding-left:15px;
padding-right:15px;
font-size:12px;
padding-top:2px;
}
.tabcellback
{
/*width:100px;*/
background-image: url(../images/over.png);
text-align:center;
font:Arial;
_font:Arial;
font-family:Arial, Helvetica, sans-serif;
_font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
float:left;
padding-left:15px;
padding-right:15px;
font-size:12px;
height:23px;
padding-top:4px;
}
div.tabcellback a
{
color:#919191;
font:Arial;
text-decoration:none;
font-size:12px;
}
div.tabcellback a:hover
{
color:#919191;
font:Arial;
text-decoration:none;
font-size:12px;
}
div.tabcell a
{
color:#99AB34;
font:Arial;
text-decoration:none;
font-size:12px;
}
div.tabcell a:hover
{
color:#CCCCCCC;
background-image: url(../images/over.png);
font:Arial;
text-decoration:none;
font-size:12px;
}
.fixedcell
{
/*width:100px;*/
text-align:right;
font:Arial;
_font:Arial;
font-family:Arial, Helvetica, sans-serif;
_font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
float:right;
padding-left:15px;
padding-right:15px;
font-size:12px;
height:23px;
padding-top:4px;
}
div.fixedcell a
{
color:#A3CF26;
font:Arial;
text-decoration:none;
font-size:12px;
}
div.fixedcell a:hover
{
color:#A3CF26;
font:Arial;
text-decoration:none;
font-size:12px;
}
.divider
{
float:left;
width:1px;
padding-top:5px;
margin-top:2px;
}
