 <section class="dubai kd usr-section">
  <div class="container">
    <div class="kd_content">
<h1 class="kd_heading">{$h1}</h1>
 <h2 class="kd_subheading">{$h2}</h2>
     
     
     

<p>Find the best <b>Dubai World Cup Betting Odds</b> at <a href="/signup?ref={$ref2}">BUSR</a>. Once known as the richest horse racing event in the world, the 25th edition of this sensational event is set to take place at <b>Meydan Racecourse</b> in Dubai, United Arab Emirates, on March 26th, 2022.

<p><a href="/signup?ref={$ref3}">Sign up</a> with <a href="/signup?ref={$ref4}">BUSR</a> and receive up to $500 in cash bonus. Check the current <b>Dubai World Cup Betting Odds</b> and get your action on this and many more horse racing events!</p>
<p><a href="/signup?ref={$ref5}">Join today</a> and grab your bonus, time’s running out!</p>


	      <p><a class="btn-xlrg" href="/signup?ref={$ref}">{$button_cta}</a></p>

      
