   </div>
  </div>
</section>

 {*unique page copy ends here*}
  <!------------------------------------------------------------------>
{*end of page blocks*}
{include file="/home/ah/allhorse/public_html/dubai/block-testimonial.tpl"}
{include file="/home/ah/allhorse/public_html/dubai/block-signup-bonus.tpl"}
{include file="/home/ah/allhorse/public_html/dubai/block-exciting.tpl"}

  <!------------------------------------------------------------------>

{literal}
<script src="/assets/js/jquery.sortElements.js"></script>
<script src="/assets/js/sort_odds.js"></script>
<script type="text/javascript">
    addSort('o0t');
    addSort('o1t');
</script>
{/literal}
