<p><a href="/signup?ref={$ref}" rel="nofollow">BUSR</a> is the best place to  bet on the <strong>Virtual Kentucky Derby</strong>. Choose your favorite historical horse, sign up now, and get your action on this unique event!</p><br>
<p>Don't forget that at <a href="/signup?ref={$ref}" rel="nofollow">BUSR</a> you can wager on all <a href="/bet-on/triple-crown">Triple Crown</a> events, including the <a href="/kentucky-derby">Kentucky Derby</a>, the <a href="/preakness-stakes">Preakness Stakes</a>, and the <a href="/belmont-stakes">Belmont Stakes</a>.</p>
<p> Place your bets now!</p>