﻿
* { margin:0; padding: 0;}
html { margin: 0; padding: 0; font-weight: normal; color: #000; font: 12px "Helvetica", Arial, Trebuchet MS, Trebuchet, sans-serif; line-height: 16px; vertical-align: baseline; }
body { position: absolute; /* this is important for positioning */ width: 920px; height: 100%; left: 50%; margin-left: -460px; padding: 0 0 20px 0; background: #e2f0ff; }
h1 { padding: 10px; font-size: 17px; color: #000; font-weight: bold; text-align: center; display: block; background: #CCC; }
h2 { padding: 10px; font-size: 14px; color: #000; font-weight: bold; display: block; background: #EEE; }
h3 { padding: 10px; font-size: 12px; color: #000; font-weight: bold;}
h4 { padding: 2px 10px 2px 10px; margin-bottom: 10px; font-size: 10px; color: #FFF; font-weight: bold; display: block; background: #105ca9; text-align: right; }

.box-container { float: left; position: relative; height: 100%; width: 100%; margin: 10px 0 0 0; display: block; }

.form-box { background: #fff; display: block; width: 760px; margin: 20px auto; border: 1px solid #1b579f; padding: 0 0 10px 0; }
.form-header { displays: block; color: #FFF; padding: 5px 0; text-align: center; font-weight: bold; font-size: 14px; border-bottom: 1px solid #105ca9; background: #105ca9;  }

.form1 { background: #fff; font-weight: bold; margin: 20px auto; text-align: center;   }
.form1 select {  margin: 0 20px 0 0;  }
.form1 input { margin: 0 20px 0 5px;  }
.form1 option { padding: 0 10px;   }

.table-box {  background: #fff; display: block; margin: 20px auto; border: 1px solid #1b579f;  }
.table-box table { margin: 0; border-collapse:collapse; width: 100%;  }
.table-box table td { padding: 10px 10px; background: #FFF; border-bottom: 1px solid #cce5ff; border-right:  1px solid #cce5ff;}
.table-box table th { line-height: 14px; color: #FFF; padding: 5px 5px; text-align: center; font-weight: bold; font-size: 14px; border-right:  1px solid #5087bf; border-bottom: 1px solid #cce5ff; background: #105ca9; }
