  <section class="card card--red">
      <div class="container">
        <div class="card_wrap">
          <div class="card_half card_content card_content--red">
            <h2 class="card_heading card_heading--no-cap">Bet the  {include file="/home/ah/allhorse/public_html/kd/year.php"} Kentucky Derby Today!</h2>
            <a href="/signup?ref={$ref}" rel="nofollow" class="card_btn card_btn--default">Join Now</a>
          </div>
        </div>
      </div>
    </section>