
            <section class="card">
      <div class="card_wrap">
	   <div class="card_half card_hide-mobile">
	           <a href="/belmont-stakes/props">
	        <img src="" data-src-img="/img/index-kd/bet-kentucky-derby-jockeys.jpg" alt="Belmont Stakes Props" class="card_img"></a></div>   
        <div class="card_half card_content"><a href="/belmont-stakes/props">
	        <img src="/img/index-kd/icon-bet-kentucky-derby-jockeys.png" alt="Belmont  Props" class="card_icon"></a>
	        <h2 class="card_heading">Belmont Stakes Free Bet</h2>
	        <h3 class="bs-card_subheading">Get a FREE Belmont Stakes Bet for New Members!</h3>
          <p>Get an exclusive free bet available only for the 2020 Belmont Stakes!</p>
          <p>You can only win with BUSR!</p><a href="/signup?ref={*Free-*}Belmont-Stakes {*Bet*}" class="bs-card_btn">Join Now</a>
        </div>
      </div>
    </section>