<h2 class="Heading"><span class="DarkBlue">Belmont Stakes   Resources</span></h2>
<a class="LinksWhite" href="http://www.belmont-stakes.info/" target="_blank">Belmont Stakes Info</a> - Information on the Belmont Stakes 
<br>
<a class="LinksWhite" href="http://www.belmontstakes.com/" target="_blank" rel="nofollow">BelmontStakes.com</a> - Official Site
<br>
<a title="Bet on the Belmont Stakes {include file='/home/ah/allhorse/public_html/belmont/year.php'}" href="/bet-on/belmont-stakes">Bet on the Belmont Stakes  {include file='/home/ah/allhorse/public_html/belmont/year.php'}</a>
</p>
