{* The Saudi Cup is to become the richest horse race in the sport's history after the prize money for the inaugural contest in Riyadh in February {include_php file='/home/ah/allhorse/public_html/saudi-cup/year.php'} was confirmed to be {include_php file='/home/ah/allhorse/public_html/saudi-cup/purse.php'}.
<br>
Enhance your picks and plays on the Saudi Cup with the latest available odds, props, and futures for this race.
<br>
Before placing your {include_php file='/home/ah/allhorse/public_html/saudi-cup/year.php'} Saudi  Cup future bets, find out everything there is to know about the top contenders with US Racing. *}

<a href="/signup?ref={$ref}">BUSR</a> is the best place for you to <a href="/signup?ref={$ref}">bet on the Saudi Cup</a>. Soon to become the most valuable horse race in history, with a generous {include_php file='/home/ah/allhorse/public_html/saudi-cup/purse.php'} purse. The prize pool is to be distributed among ten competitors. There are several types of bets you can place easily from your computer or mobile device. Find the best picks and bets on the <a href="/signup?ref={$ref}">Saudi Cup</a> thanks to the great range of available odds, props, and futures.
<br>
<br>
The <a href="/signup?ref={$ref}">Saudi Cup</a> Odds are live. Place your <a href="/signup?ref={$ref}">bets now!</a>
