@CHARSET "ISO-8859-1";

/* -------------------------------- CONFIG -------------------------------*/

#configCategoryOptions .configCategoryOtpion {
  margin: 8px 0;
  padding: 5px;
}

#configCategoryOptions label {
  margin: 0;
  padding: 0;
}

#configCategoryOptions .configOptionInfo {
  float: left;
  width: 300px;
}

#configCategoryOptions .configOptionControl {
  margin-left: 310px;
}

#configCategoryOptions textarea {
  width: 300px;
}





/* -------------------------------- MASS MAILER -------------------------------*/


#massMailer div.massmailercompanyLogo {
  float: right;
}

#massMailer div.massmailercompanyLogo img {
  border: 1px solid #ccc;
}

#massMailer div.massmailerRecipeints {
  padding-top: 5px;
  padding-left: 10px;
}





/* -------------------------------- USER LIST -------------------------------*/

#usersList div.listedUser {
  padding: 10px;
}

#usersList div.userAvatar {
  float: left;
  width: 50px;
  text-align: center;
}

#usersList div.userAvatar img {
  border: 1px solid #ccc;
}

#usersList div.userDetails {
  margin-left: 60px;
}

#usersList div.userName {
  margin-bottom: 10px;
  font-size: 150%;
  font-weight: bolder;
}

#usersList div.userIsAdmin, #usersList div.userAutoAssign {
  font-size: 90%;
}

#usersList div.userIsAdmin span, #usersList div.userAutoAssign span {
  font-weight: bolder;
  color: #333;
}

#usersList div.userAutoAssign {
  margin-bottom: 10px;
}





/* -------------------------------- USER PERMISSIONS -------------------------------*/

#userPermissions table {
  width: 500px;
  border: 1px solid #ccc;
  border-width: 1px 0;
  border-collapse: collapse;
}

#userPermissions td.projectName {
  width: 150px;
}